<section class="banner">
  <div class="content">
    <h1>Email Marketing</h1>
  </div>
</section>

<div class="koko">
  <tabset>
    <tab (selectTab)="currentTab($event)" heading="Listings" id="listing">
      @if (activeTab === 'listing') {
        <section class="background_section">
          <div class="container">
            <app-business-listing></app-business-listing>
          </div>
        </section>
      }
    </tab>
    <tab (selectTab)="currentTab($event)" heading="Events" id="event">
      @if (activeTab === 'event') {
        <section class="background_section">
          <div class="container">
            <app-events></app-events>
          </div>
        </section>
      }
    </tab>
    <tab (selectTab)="currentTab($event)" heading="Booking" id="booking">
      @if (activeTab === 'booking') {
        
        <section class="background_section">
          <div class="container">
            <app-booking-analytics></app-booking-analytics>
          </div>
        </section>
      }
    </tab>
    <tab (selectTab)="currentTab($event)" heading="Ads" id="ads">
      @if (activeTab === 'ads') {
        <section class="background_section">
          <div class="container">
            <app-ads-analytics></app-ads-analytics>
          </div>
        </section>
      }
    </tab>
  </tabset>
</div>