@import "../../../../assets/scss/common.scss";
@import "../../../../assets/scss/banner";


.upload-instruction {
    color: #6c757d;
    font-size: 12px;
}
.main_images .images__ {
    margin-right: 15px;
    margin-top: 13px;
    object-fit: cover;
}
.main_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
}
div#video-preview-container{
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: scroll;
}
video{
    margin: 13px!important;
    text-align: center;
}
.opening-hours {
    color: #6c757d;
    font-size: 12px;
}


.table-heading {
    --bs-table-bg: #e9ecef;
}

.table-striped tbody tr:nth-child(odd) {
    --bs-table-bg: #ffffff;
    --bs-table-striped-bg: #ffff;
}

.table-striped tbody tr:nth-child(even) {
    --bs-table-bg: #f2f2f2;
}

.fa-minus-circle {
    color: #dc3545;
    cursor: pointer;
}

.fa-plus-circle {
    color: #1e73be;
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--primary-color-orange) !important;
    border-color: var(--primary-color-orange) !important;
  }
  
  .form-check-label {
    color: var(--dark-grey);
    font-size: 15px;
  }