<div class="row">
  <div class="col-12">
    <h1 class="listing-form-heading">Booking & Consultation</h1>
  </div>
</div>
<form [formGroup]="ConsultationForm">
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label">Consultation Booking Link </label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter consultation booking link"
        formControlName="consultation_booking_link"
      />
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label">Consultation Mode </label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <mat-select
        class="vietlist-select"
        placeholder="Select consultation mode"
        formControlName="consultation_mode"
      >
        <mat-option value="In-Person">In-Person</mat-option>
        <mat-option value="Online">Online</mat-option>
        <mat-option value="Both">Both</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label">Consultation Description </label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <textarea
        name=""
        id=""
        cols="30"
        rows="6"
        placeholder="Enter consultation description"
        formControlName="consultation_description"
      ></textarea>
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label"
        >Special Offer <span class="asterik">*</span>
      </label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <textarea
        formControlName="special_offers"
        name=""
        id=""
        cols="30"
        rows="6"
        placeholder="List any special offer"
      ></textarea>
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label">Services List </label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <mat-select
        class="vietlist-select"
        placeholder="Select service"
        formControlName="services_list"
      >
        <mat-option value="All retail store">All retail store</mat-option>
        <mat-option value="A service oriented business"
          >A service oriented business</mat-option
        >
        <mat-option value="A food and beverage establishment"
          >A food and beverage establishment</mat-option
        >
      </mat-select>
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label">Price</label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter the price in $ (no currency symbol)"
        formControlName="price"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="listing-form-heading">Multimedia Integration</h1>
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12">
      <!--a dropzone-->
      <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
      <div class="row">
        <div class="col-sm-2 col-md-12">
          <label for="" class="listing-form-label mb-2">Images</label>
        </div>
        <div class="col-sm-10 col-md-12 upload-instruction">
          <!-- <span
            >You can upload more than one image to create a image gallery on the
            details page.</span
          > -->
        </div>
      </div>
      <ngx-dropzone (change)="onSelectImage($event)"  [accept]="'.png,.png,.png , .webp , .jpeg , .jpg'">
        <ngx-dropzone-label *ngIf="!isImageUploading"
          ><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop here or
          Browse a file (You can upload multiple videos)</ngx-dropzone-label
        >
        <div *ngIf="isImageUploading" class="loader"></div> 
      </ngx-dropzone>
      <div class="main_images">
        @for (preview of imagePreviews; track $index) {
          <div class="images__" *ngIf="preview">
            <img [src]="preview" alt="Image Preview" width="150" height="150" />
          </div>
        }
      </div>
    </div>
  </div>
  <div class="row px-2 my-3">
    <div class="col-12">
      <label for="" class="listing-form-label mb-2">Video upload</label>
      <!-- formControlName="video_upload" -->
      <ngx-dropzone [accept]="'.mp4,.mov'" (change)="onSelect($event)">
        <ngx-dropzone-label *ngIf="!isVideoUploading"
          ><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop here or
          Browse a file (You can upload multiple videos)</ngx-dropzone-label
        >
       <div *ngIf="isVideoUploading" class="loader"></div> 
      </ngx-dropzone>
    </div>
    <div id="video-preview-container">
      @for(videoUrl of video_upload; track $index) {
        <video
        style="margin: 10px; object-fit: cover"
        *ngIf="videoUrl"
        width="320"
        height="240"
        controls
      >
        <source [src]="videoUrl" type="video/mp4" />
        <source [src]="videoUrl" type="video/ogg" />
        Your browser does not support the video tag.
      </video>
      }
     
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label">video url</label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Add  video url  or code here, Youtube etc."
        formControlName="video_url"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 class="listing-form-heading">Business Open Hours</h1>
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label">Business opening hours</label>
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <mat-radio-group
        aria-label="Select an option"
        name="radio"
        [(ngModel)]="showTimeTable"
        formControlName="business_hours"
      >
        <mat-radio-button [value]="true"> Yes </mat-radio-button>
        <mat-radio-button [value]="false"> No </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="showTimeTable">
        <table class="table table-striped table-striped-columns-order">
          <thead class="table-heading">
            <tr>
              <th>Day</th>
              <th>Open 24 HOURS</th>
              <th colspan="2">Opening Hours</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let day of days; let dayIndex = index">
              <tr>
                <td>{{ day.name }}</td>
                <td>
                  <!-- <i class="fa fa-dot-circle-o" aria-hidden="true"></i> -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="day.name"
                      id="terms"
                      (change)="onWeekSelect(day.name, $event)"
                    />
                  </div>
                </td>
                <td>
                  <ng-container
                    *ngFor="let time of day.times; let timeIndex = index"
                  >
                    <div class="row">
                      <div class="col-10 d-flex">
                        <div>
                          <input
                            class="input-control"
                            type="time"
                            placeholder="Start Time"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="day.times[timeIndex].start"
                          />
                        </div>
                        <div>
                          <input
                            class="input-control"
                            type="time"
                            placeholder="End Time"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="day.times[timeIndex].end"
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <i
                          class="fa fa-minus-circle"
                          aria-hidden="true"
                          (click)="removeTime(dayIndex, timeIndex)"
                        ></i>
                      </div>
                    </div>
                  </ng-container>
                </td>
                <td>
                  <div class="row">
                    <div class="col">
                      <i
                        class="fa fa-plus-circle"
                        aria-hidden="true"
                        (click)="addTime(dayIndex)"
                      ></i>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>

            <tr>
              <th style="text-align: center; vertical-align: middle">
                Timezone:
              </th>
              <td colspan="4">
                <ng-select
                  class="select2-selection"
                  [items]="formattedData"
                  bindLabel="label"
                  bindValue="label"
                  placeholder="Select your timezone.."
                  [groupBy]="'value'"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="selectedData"
                >
                </ng-select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="opening-hours">
        <span>Select your business opening/operating hours.</span>
      </div>
    </div>
  </div>
  <div style="width: 100%; text-align: end">
    <button
      type="button"
      class="btn orange-background-btn ms-auto"
      [disabled]="!ConsultationForm.valid"
      (click)="addBusiness()"
    >
     @if(isLoader){
      <app-loader></app-loader>
     } @else {
      Next
     }
    </button>
  </div>
</form>
