<div class="row">
  <div class="col-12">
    <h1 class="listing-form-heading">Booking & Consultation</h1>
  </div>
</div>

<div class="row my-3 px-2">
  <div class="col-12 col-md-12 col-lg-4">
    <label class="listing-form-label">Consultation Booking Link </label>
  </div>
  <div class="col-12 col-md-12 col-lg-8">
    <input
      class="input-control"
      placeholder="Enter consultation booking link"
    />
  </div>
</div>
<div class="row my-3 px-2">
  <div class="col-12 col-md-12 col-lg-4">
    <label class="listing-form-label">Consultation Mode </label>
  </div>
  <div class="col-12 col-md-12 col-lg-8">
    <mat-select class="vietlist-select" placeholder="Select consultation mode">
      <mat-option value="In-Person">In-Person</mat-option>
      <mat-option value="Online">Online</mat-option>
      <mat-option value="Both">Both</mat-option>
    </mat-select>
  </div>
</div>
<div class="row my-3 px-2">
  <div class="col-12 col-md-12 col-lg-4">
    <label class="listing-form-label">Consultation Description </label>
  </div>
  <div class="col-12 col-md-12 col-lg-8">
    <textarea
      name=""
      id=""
      cols="30"
      rows="6"
      placeholder="Enter consultation description"
    ></textarea>
  </div>
</div>
<div class="row my-3 px-2">
  <div class="col-12 col-md-12 col-lg-4">
    <label class="listing-form-label"
      >Special Offer <span class="asterik">*</span>
    </label>
  </div>
  <div class="col-12 col-md-12 col-lg-8">
    <textarea
      name=""
      id=""
      cols="30"
      rows="6"
      placeholder="List any special offer"
    ></textarea>
  </div>
</div>
<div class="row my-3 px-2">
  <div class="col-12 col-md-12 col-lg-4">
    <label class="listing-form-label">Services List </label>
  </div>
  <div class="col-12 col-md-12 col-lg-8">
    <mat-select class="vietlist-select" placeholder="Select service">
      <mat-option value="All retail store">All retail store</mat-option>
      <mat-option value="A service oriented business"
        >A service oriented business</mat-option
      >
      <mat-option value="A food and beverage establishment"
        >A food and beverage establishment</mat-option
      >
    </mat-select>
  </div>
</div>
<div class="row my-3 px-2">
  <div class="col-12 col-md-12 col-lg-4">
    <label class="listing-form-label">Price</label>
  </div>
  <div class="col-12 col-md-12 col-lg-8">
    <input
      class="input-control"
      placeholder="Enter the price in $ (no currency symbol)"
    />
  </div>
</div>

<div class="row my-3 px-2">
  <div class="col-12 col-md-12 col-lg-4">
    <label class="listing-form-label">Business opening hours</label>
  </div>
  <div class="col-12 col-md-12 col-lg-8">
    <mat-radio-group aria-label="Select an option" name="radio">
      <mat-radio-button> Yes </mat-radio-button>
      <mat-radio-button> No </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
