.step-title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.card-container {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  // gap: 5%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  width: 250px;
  font-weight: 500;
  height: 210px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  transition: all ease-in-out .1s;
  margin: 2%;
  align-items: center;

  img {
    width: 130px;
  }
}


.card.selected {
  border-color: #ff9900;
  border-width: 3px;
  background-color: #f5f7f9;
}

.card:hover {
  transform: scale(1.1);

}



.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 4%;

  .next {
    background-color: #ff9900;
    color: #f5f7f9;
    border: none;
    padding: 9px 30px;
    border-radius: 5px;
  }

  .back {
    border: 1.5px solid #ff9900;
    padding: 9px 30px;
    border-radius: 5px;
    color: #ff9900;

  }
}

.disable-next {
  background-color: #ff9900b0 !important;
}

.text-card {
  height: 73px !important;
  width: 364px !important;
  margin: 1% !important;
  display: flex;
  align-items: start;

  p {
    margin: 0 !important;
  }
}

.column-card-container {
  padding-inline: 100px !important;
  justify-content: start !important;
}