<section class="banner" style="position: relative">
  <div class="content" style="width: 100%">
    <h1 style="text-transform: uppercase">
      {{ businessFormDetails?.post_title }}
    </h1>
    <div class="elementor-divider">
      <span class="elementor-divider-separator"> </span>
    </div>
  </div>
  <div class="iconDirection">
    <span class="elementor-grid-item" style="background: #3b5998">
      <a
        href="{{ businessFormDetails?.facebook }}"
        style="padding: 3px"
        class="elementor-icon elementor-social-icon elementor-social-icon-phone elementor-animation-grow elementor-repeater-item-f13ce3f"
        target="_blank"
      >
        <i
          class="fa-brands fa-facebook-f size_icon"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
    <span class="elementor-grid-item" style="background: #1da1f2">
      <a
        href="{{ businessFormDetails?.twitter }}"
        class="elementor-icon elementor-social-icon elementor-social-icon-phone elementor-animation-grow elementor-repeater-item-f13ce3f"
        target="_blank"
      >
        <i
          class="fa-brands fa-twitter size_icon"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
    <span class="elementor-grid-item size_icon" style="background: #818a91">
      <a
        href="{{ businessFormDetails?.website }}"
        class="elementor-icon elementor-social-icon elementor-social-icon-phone elementor-animation-grow elementor-repeater-item-f13ce3f"
        target="_blank"
      >
        <i
          class="fa fa-link"
          aria-hidden="true"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
    <span class="elementor-grid-item">
      <a
        href="https://mail.google.com"
        class="elementor-icon elementor-social-icon elementor-social-icon-phone elementor-animation-grow elementor-repeater-item-f13ce3f"
        target="_blank"
      >
        <i
          class="fa fa-envelope size_icon"
          aria-hidden="true"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
    <span class="elementor-grid-item" style="background: #0073a4">
      <a
        class="elementor-icon elementor-social-icon elementor-social-icon-directions elementor-animation-grow elementor-repeater-item-098766c"
        href="https://maps.google.com/?daddr=28.5383832,-81.3789269"
        target="_blank"
      >
        <i
          class="fas fa-directions size_icon"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
  </div>
</section>

<section class="tabs">
  <div class="section-container">
    <ul class="list-items">
      <li
        (click)="mainTab('business-information')"
        [class.active]="mainTabOption === 'business-information'"
      >
        <span> <i class="fa fa-home" aria-hidden="true"></i> </span> Business
        Information
      </li>
      <!-- <li (click)="scrollTo('profile')" [class.active]="activeTab === 'bio'">
        <span> <i class="fa fa-user" aria-hidden="true"></i></span> Business Bio
      </li> -->
      <li
      (click)="mainTab('consultation')"
        [class.active]="mainTabOption === 'consultation'"
      >
        <span> <i class="fa fa-calendar" aria-hidden="true"></i> </span> Booking
        & Consultation
      </li>
      <li  (click)="mainTab('discount')" [class.active]="mainTabOption == 'discount'">
        <span> <i class="fa fa-percent" aria-hidden="true"></i> </span> Discount
      </li>
      <li (click)="mainTab('photo')" [class.active]="mainTabOption === 'photo'">
        <span> <i class="fa fa-picture-o" aria-hidden="true"></i></span> Multimedia
      </li>
      <li (click)="mainTab('contactInfo')" [class.active]="mainTabOption=== 'contactInfo'">
        <span> <i class="fa fa-picture-o" aria-hidden="true"></i></span> Contact Info
      </li>
      <li (click)="mainTab('video')"  [class.active]="mainTabOption === 'video'">
        <span> <i class="fa fa-video-camera" aria-hidden="true"></i></span>
        Video
      </li>
      <li (click)="scrollTo('profile')" [class.active]="mainTabOption === 'profile'">
        <span> <i class="fa fa-microphone" aria-hidden="true"></i> </span> Event
        & promotions
      </li>
      <li
      (click)="mainTab('map')"
        [class.active]="mainTabOption === 'map'"
      >
        <span> <i class="fa fa-globe" aria-hidden="true"></i> </span> Map
      </li>
      <li
        *ngIf="businessFormDetails?.event_id !== ''"
        (click)="scrollTo('mapView')"
        [class.active]="mainTabOption === 'events'"
      >
        <span> <i class="fa fa-calendar-o" aria-hidden="true"></i> </span>
        Events
      </li>
      <!-- <li (click)="scrollTo('review')" [class.active]="activeTab === 'review'" ><span> <i class="fa fa-comments" aria-hidden="true"></i> </span> Reviews </li> -->
    </ul>
  </div>
  <!-- <nav class="geodir-tab-head greedy navbar-expand">
      <ul class="nav list-unstyled nav-tabs mb-3 flex-nowrap mx-0 being-greedy w-100" id="gd-single-tabs"
        role="tablist">
        <li class="nav-item list-unstyled mb-0">
          <a class="nav-link text-nowrap scroll-ignore active" data-tab="post_content" href="#post_content" role="tab"
            (click)="setActiveTab('Profile')" [class.active]="activeTab === 'Profile'" aria-controls="post_content"
            aria-selected="true">
            <i class="fa fa-home" aria-hidden="true"></i>
            Business</a>
        </li>
        <li class="nav-item list-unstyled mb-0">
          <a class="nav-link text-nowrap scroll-ignore " data-tab="post_images" (click)="setActiveTab('post_content')"
            [class.active]="activeTab === 'post_content'" role="tab" aria-controls="post_images" aria-selected="false">

            <i class="fa fa-picture-o" aria-hidden="true"></i>
            Photos</a>
        </li>
        <li class="nav-item list-unstyled mb-0"><a class="nav-link text-nowrap scroll-ignore " data-tab="post_map"
            href="#post_map" role="tab" (click)="setActiveTab('post_map')" [class.active]="activeTab === 'post_map'"
            aria-controls="post_map" aria-selected="false">

            <i class="fa fa-globe" aria-hidden="true"></i> &nbsp;Map
          </a>

        </li>
       <li class="nav-item list-unstyled mb-0">
          <a class="nav-link text-nowrap scroll-ignore " data-tab="reviews"
            href="#reviews" (click)="setActiveTab('reviews')" [class.active]="activeTab === 'reviews'"  role="tab" aria-controls="reviews" aria-selected="false">
            <i class="fa fa-comments" aria-hidden="true"></i>&nbsp; Reviews</a>
            </li> 
        <li class="nav-item list-unstyled ml-auto greedy-btn d-none dropdown" style=""><a href="javascript:void(0)"
            data-toggle="dropdown" class="nav-link"><i class="fas fa-ellipsis-h" aria-hidden="true"></i> <span
              class="greedy-count badge badge-dark badge-pill">0</span></a>
          <ul class="greedy-links dropdown-menu  dropdown-menu-right  mt-2 "></ul>
        </li>
      </ul>
    </nav> -->
</section>

<section class="background_section">
  <div class="container">
    <!-- <div class="breadcrumb mt-4">
      <div class="breadcrumb">
        <span class="manage-business" (click)="goToEvent()">Business</span>
        <span class="business-details"> > </span>
        <span class="business-details"> Business Details</span>
      </div>
    </div> -->
    @if(mainTabOption == 'contactInfo'){
      <div class="row mt-4">
     
        <div class="col-12 col-md-12 col-lg-4 mt-3">
          <div class="profile-info-div">
            <h3>Contact Info</h3>
            <!-- {{ businessFormDetails?.contact_phone }} -->
            <div class="social-link">
              <div class="location">
                <i
                  class="fa-solid fa-location-dot"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                {{ businessFormDetails?.street }}
              </div>
              <div class="location">
                <i
                  class="fa fa-link"
                  aria-hidden="true"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <a
                  href="{{ businessFormDetails?.website }}"
                  target="_blank"
                  style="
                    color: #38ccff;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                  "
                  >{{ 'Website url' }}</a
                >
              </div>
              <div class="location">
                <i
                  class="fab fa-facebook-square"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <a
                  href="{{ businessFormDetails?.facebook }}"
                  target="_blank"
                  style="
                    color: #38ccff;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                  "
                  >{{ 'Facebook' }}</a
                >
              </div>
              <div class="location">
                <i
                  class="fa-brands fa-twitter"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <a
                  href="{{ businessFormDetails?.twitter }}"
                  target="_blank"
                  style="
                    color: #38ccff;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                  "
                  >{{ 'Twitter' }}</a
                >
              </div>
              <!-- <ul>
                <li>
                  <a>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a [href]="businessFormDetails?.facebook" target="_blank">
                    <i class="fa fa-link" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a [href]="businessFormDetails?.linkedin" target="_blank">
                    <img src="/assets/icons/Social-Link/LinkedinIcon.svg" alt="linkedin-logo" />
                  </a>
                </li>
                <li>
                  <a [href]="businessFormDetails?.twitter" target="_blank">
                    <img src="/assets/icons/Social-Link/TwitterIcon.svg" alt="twitter-logo" />
                  </a>
                </li>
                <li>
                  <a [href]="businessFormDetails?.youtube" target="_blank">
                    <img src="/assets/icons/Social-Link/YoutubeIcon.svg" alt="youtube-logo" />
                  </a>
                </li>
                <li>
                  <a [href]="businessFormDetails?.pinterest" target="_blank">
                    <img src="/assets/icons/Social-Link/PrinterestIcon.svg" alt="pinterest-logo" />
                  </a>
                </li>
              </ul> -->
            </div>
          </div>
          <div class="profile-info-div mt-3" style="padding: 9%">
            <div class="d-block text-center text-md-left d-md-flex p-3 bg-light">
              <a href="https://vietlist.biz/staging_dev/profile-2/sghosh/"
                ><img
                  src="https://secure.gravatar.com/avatar/2c59e279bee3ddb76cdea0df93944ed5?s=96&amp;r=g&amp;d=https://vietlist.biz/staging_dev/wp-content/plugins/userswp/assets/images/no_profile.png"
                  class="rounded-circle shadow border border-white border-width-4 mr-3"
                  width="60"
                  height="60"
                  alt="Sourav Ghosh"
              /></a>
              <div class="media-body">
                <h5 class="mt-0">
                  Author:
                  <a href="#" routerLink="/manage-profile">
                    {{ businessFormDetails?.user_deatil?.first_name }}
                    {{ businessFormDetails?.user_deatil?.last_name }}</a
                  >
                </h5>
  
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    @if(mainTabOption == 'photo'){
      <div class="row my-4" id="photo">
        <div class="col-12">
          <h3 class="event-page-heading">
            <span><i class="fa fa-picture-o" aria-hidden="true"></i></span>
            &nbsp;Photo(s)
          </h3>
          <hr />
          <div class="main_images">
            <div class="featured_image" style="display: flex; gap: 1rem">
              @for (item of businessFormDetails?.image; track $index) {
                <img
                  [src]="item ? item : '/assets/image/carrer-proffesional.jpeg'"
                />
              }
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4" id="photo">
        <div class="col-12">
          <h3 class="event-page-heading">
            <span><i class="fa fa-picture-o" aria-hidden="true"></i></span>
            &nbsp;Video
          </h3>
          <hr />
          <div class="main_images">
            <div class="featured_images" style="display: flex; gap: 1rem">
              @if (businessFormDetails?.video_upload) {
                <video width="320" height="240" controls>
                  <source
                    [src]="businessFormDetails?.video_upload"
                    type="video/mp4"
                  />
                </video>
              } @else {
                <div>No Vedio Upload...</div>
              }
            </div>
          </div>
        </div>
      </div>
    }
    @if(mainTabOption == 'video'){

    <div class="row my-4" id="video">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="d-flex">
          <div>
            <h3 class="event-page-heading">
              <i
                class="fa fa-picture-o"
                aria-hidden="true"
                style="font-size: 24px"
              ></i>
              Video
            </h3>
          </div>
          <div class="ms-auto">
            <button class="btn orange-background-btn" (click)="addVideo()">
              Add new video
            </button>
          </div>
        </div>
        <hr />
        <div class="row tabs-wrapper">
          <div class="tabsvideo">
            <p (click)="onTabClick('all')">All</p>
            <p (click)="onTabClick('promotional_videos')"   [ngClass]="{ 'active-tab': videoTab == 'promotional_videos' }">Promotional</p>
            <p (click)="onTabClick('testimonial')" [ngClass]="{ 'active-tab': videoTab == 'testimonial' }">Testimonials</p>
            <p (click)="onTabClick('tutorials')" [ngClass]="{ 'active-tab': videoTab == 'tutorials' }">Tutorials</p>
          </div>
        </div>
       
        <div *ngIf="videoTab == 'promotional_videos'">
          <div class="main_images">
            <div class="featured_image" style="display: flex; gap: 1rem">
              @for (item of videosTypeArr; track $index) {
                <img
                *ngIf="!isVideoTypeLoading"
                  [src]="item.thumbnail_image"
                  style="cursor:pointer"
                  (click)="playVideo(item, $index)"
                />
                
              }
              
            
            </div>
            <div class="loader" *ngIf="isVideoTypeLoading"></div>
          </div>
        </div>
      </div>
    </div>
    }
    @if(mainTabOption == 'business-information'){
    <div class="row mt-4">
      <div class="col-12 col-md-12 col-lg-8" >
        <div class="row mt-3">
          <h3 class="event-page-heading">
            <span> <i class="fa fa-home" aria-hidden="true"></i> </span>
            &nbsp;Business Details
          </h3>
          <hr />
          <table class="table table-responsive table-borderless">
            <tbody>
              <tr>
                <td class="table-title">Business Email</td>
                <td class="table-subtitle">
                  {{ businessFormDetails?.business_email }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Business History background</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <p>
                    {{
                      businessFormDetails?.business_historybackground || 'NA'
                    }}
                  </p>
                </td>
              </tr>
              <tr>
                <td class="table-title">Business hours</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <p>
                    {{
                      businessFormDetails?.business_hours == '[[null]]'
                        ? 'NA'
                        : hourFilter
                    }}
                  </p>
                </td>
              </tr>
              <tr>
                <td class="table-title">Business ownerassociate</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <p>
                    {{ businessFormDetails?.business_ownerassociate || 'NA' }}
                  </p>
                </td>
              </tr>
              <tr>
                <td class="table-title">Choose layout</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <p>{{ businessFormDetails?.choose_layout || 'NA' }}</p>
                </td>
              </tr>
              <tr>
                <td class="table-title">Owner Name</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  {{ businessFormDetails?.owner_name }}
                </td>
              </tr>

              <tr>
                <td class="table-title">Post Category</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  @for (
                    items of businessFormDetails?.post_category;
                    track $index
                  ) {
                    <p>{{ items?.name || 'NA' }}</p>
                  }
                </td>
              </tr>
              <tr>
                <td class="table-title">Default Category</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <!-- @for(items of businessFormDetails?.post_category ; track $index){
                  {{items?.name || "NA"}}
                  } -->{{ businessFormDetails?.default_category?.name }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Contact Phone</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <!-- @for(items of businessFormDetails?.post_category ; track $index){
                  {{items?.name || "NA"}}
                  } -->{{ businessFormDetails?.contact_phone }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row mt-4">
          <h3 class="event-page-heading">
            <span><i class="fa-solid fa-location-dot"></i></span>&nbsp;Address
          </h3>
          <hr />
          <table class="table table-responsive table-borderless">
            <tbody>
              <tr>
                <td class="table-title">Street</td>
                <td class="table-subtitle">
                  {{ businessFormDetails?.street }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Region</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  {{ businessFormDetails?.region || 'NA' }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Country</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  {{ businessFormDetails?.country || 'NA' }}
                </td>
              </tr>
              <tr>
                <td class="table-title">City</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  {{ businessFormDetails?.city || 'NA' }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Zip</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  {{ businessFormDetails?.zip || 'NA' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }

  @if(mainTabOption == 'consultation'){
            <div class="row mt-4">
          <h3 class="event-page-heading">
            <span> <i class="fa-solid fa-comments"></i> </span>
            &nbsp;Consultation
          </h3>
          <hr />
          <table class="table table-responsive table-borderless">
            <tbody>
              <tr>
                <td class="table-title">Special Offers</td>
                <td class="table-subtitle">
                  {{ businessFormDetails?.special_offers || 'NA' }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Services list</td>
                <td class="table-subtitle">
                  {{ businessFormDetails?.services_list || 'NA' }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Video url</td>
                <td class="table-subtitle">
                  {{ businessFormDetails?.video_url || 'NA' }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Consultation Booking link</td>
                <td class="table-subtitle">
                  <a
                    href="{{ businessFormDetails?.consultation_booking_link }}"
                    style="text-decoration: none"
                    target="_blank"
                    >{{ businessFormDetails?.consultation_booking_link }}</a
                  >
                </td>
              </tr>
              <tr>
                <td class="table-title">Consultation Description</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <p>
                    {{ businessFormDetails?.consultation_description || 'NA' }}
                  </p>
                </td>
              </tr>
              <tr>
                <td class="table-title">Consultation Mode</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  {{ businessFormDetails?.consultation_mode || 'NA' }}
                </td>
              </tr>
              <tr>
                <td class="table-title">Digital Accessibility</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  <p>
                    {{ businessFormDetails?.digital_accessibility || 'NA' }}
                  </p>
                </td>
              </tr>
              <tr>
                <td class="table-title">Mission Vision</td>
                <td _ngcontent-tkn-c107="" class="table-subtitle">
                  {{ businessFormDetails?.mission__vision || 'NA' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  }

  @if(mainTabOption == 'map'){
    <div class="row my-4" id="mapView">
      <div class="col-12">
        <h3 class="event-page-heading">
          <span>
            <i
              class="fa fa-globe"
              aria-hidden="true"
              style="font-size: 24px"
            ></i
          ></span>
          &nbsp;Map
        </h3>
        <hr />
      </div>
      <div class="col-12 col-lg-6">
        <div id="map" style="height: 300px; width: 100%"></div>
      </div>
    </div>
  }
  @if(mainTabOption == 'discount'){
      <div class="container">
          <div class="row" id="review">
            <div class="col-12 col-md-12 col-lg-8">
              <h3 class="event-page-headings">
                <i class="fa fa-percent" aria-hidden="true" style="font-size: 24px"></i>
                Discount
              </h3>
              <hr />
            </div>
          </div>
          <form>
            <div class="row mt-2">
              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  <input type="text" class="input-control"
                    placeholder="Coupon Title" />
                </div>
              </div>
              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  <input type="text"  class="input-control"
                    placeholder="Coupon code" />
                </div>

              </div>
              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  <input type="text"  class="input-control"
                    placeholder="Discount" />
                </div>
              </div>


              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  
                    <mat-select
                      class="vietlist-select"
                      placeholder="Discount type"
                     
                    >
                      <mat-option value="retail">Percentage</mat-option>
                      <mat-option value="restaurant">Fixed Amount</mat-option>
                    </mat-select>
            
                </div>
              </div>
              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  <div class="input-group">
                  <input matInput [matDatepicker]="startdatepicker" class="input-control" (click)="startdatepicker.open()"
                   [min]="minDate" [max]="maxDate" placeholder="Validity Start Date" />
                <i class="fa fa-calendar-o"></i>
                <mat-datepicker #startdatepicker></mat-datepicker>
              </div>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  <div class="input-group">
                  <input matInput [matDatepicker]="enddatepicker" class="input-control" (click)="enddatepicker.open()"
                   [min]="minDate" [max]="maxDate" placeholder="Validity End Date" />
                <i class="fa fa-calendar-o"></i>
                <mat-datepicker #enddatepicker></mat-datepicker>
              </div>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  <input type="text"  class="input-control"
                  placeholder="Usage Limit" />
                </div>
              </div>
              <div class="row my-2">
                <div class="col-12 col-md-12 col-lg-8">
                  <input type="text"  class="input-control"
                  placeholder="Designation site" />
                </div>
              </div>

              
              <div class="row mt-2 mb-4">
                <div class="col-12 col-md-12 col-lg-8">
                  <button class="btn orange-background-btn-w-100" style="color: #fff" >
              
                    Submit
                  
                  </button>
                </div>
              </div>

            </div>
          </form>

      </div>
  }
   
  


    @if (this.businessFormDetails?.event_id) {
      <div class="row my-4" id="eventView">
        <h3 class="event-page-heading">
          <span> <i class="fa fa-home" aria-hidden="true"></i> </span>
          &nbsp;Event
        </h3>
        <hr />
        <div
          class="product-card"
          (click)="gotToEventDetails(eventDetails.post_id, true)"
        >
          <div class="product-tumb">
            <img [src]="eventDetails?.featured_image[0]" alt="" />
          </div>
          <div class="product-details">
            <h4>{{ eventDetails?.post_title }}</h4>
            <p>{{ eventDetails?.post_content }}</p>
            <p>
              <span><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
              &nbsp;
              {{ eventDetails?.event_dates?.start_date | date: 'longDate' }}
            </p>
          </div>
        </div>
      </div>
    }
   
    <!-- {{businessFormDetails?.final_submission}} -->
    @if (businessFormDetails?.final_submission == '0') {
      <div class="row">
        <button class="mx-2 btn orange-background-btn" (click)="editBusiness()">
          Edit
        </button>
        <button class="mx-2 btn orange-background-btn" (click)="addBusiness()">
          Submit
        </button>
      </div>
    }
    <!-- @if(isGlobal == 'true'){ -->
    <!-- <form [formGroup]="reviewForm">

      <div class="row mt-5">

        <div class="col-12 col-lg-6">
          @for(key of reviewsArray; track key.comment_id; let index = $index){
          <div class="card mt-3 shadow-sm">
            <div class="bsui toast-header">
              <div class="profile__">
                <img
                  src="https://vietlist.biz/staging_dev/wp-content/uploads/2024/01/1_ITy1iE0UHDJlhJU3XZBkf2TlIajHPpz@20070588@3-1-1_uwp_avatar_thumb.jpg" />
              </div>
              <span>
                {{key.comment_author_email}}
              </span>
              <div class="rating__">
                <div class="d-flex">
                  <i class="fa fa-star" aria-hidden="true" [style.color]="key?.rating >= 1 ?'rgb(255, 213, 62)':'black'"
                    style="font-size:17px"></i>
                  <i class="fa fa-star" aria-hidden="true" [style.color]="key?.rating >= 2 ?'rgb(255, 213, 62)':'black'"
                    style="font-size:17px"></i>
                  <i class="fa fa-star" aria-hidden="true" [style.color]="key?.rating >= 3 ?'rgb(255, 213, 62)':'black'"
                    style="font-size:17px"></i>
                  <i class="fa fa-star" aria-hidden="true" [style.color]="key?.rating >= 4 ?'rgb(255, 213, 62)':'black'"
                    style="font-size:17px"></i>
                  <i class="fa fa-star" aria-hidden="true" [style.color]="key?.rating > 4 ?'rgb(255, 213, 62)':'black'"
                    style="font-size:17px"></i>
                </div>
              </div>
            </div>
            <div class="comment-content comment card-body my-3">
              <div class="description">
                <p style="font-size:17px;font-weight:500">{{key.comment_content}}</p>
                @if(isReplycomFieldOpen && replyIndexshow === index){
                <div class="comments">
                  @for(replies of repliesArray ; track $index){
                  <p class="ml-1">{{replies.comment_content}}</p>
                  }
                </div>

                }


              </div>

              @if(isReplyFieldOpen && replyIndex === index &&  userDetail.level_id == '3'){
              <div class="flex-grow-1">
                <textarea type="text" class="input-control input-textarea" [formControl]="replyInput"
                  placeholder="Enter your reply">
                      </textarea>
              </div>
              <div>
                <button style="width:100%" class="btn reply-btn" (click)="handlereply(index, key.comment_id)">
                  Post Reply
                </button>
              </div>

              }
              @else{
              @if(isAuthentecate){
              <div class="d-none"> 
                <div class="flex-grow-1"><input type="text" class="input-control" /></div>
                <div class="mx-1"><button class="btn reply-btn">Reply</button></div>
              </div>
              }
              }

            </div>
            <div class="bottom_reply">
              <button class="btn reply-btn" style="cursor:pointer"
                (click)="showReplyCommentField(index, key.comment_id)">
                <span *ngIf="!loader || replyIndexshow !== index">Show reply </span>
                <app-loader *ngIf="loader &&  replyIndexshow === index"></app-loader>
              </button>
              &nbsp;
              &nbsp;
              <button class="btn reply-btn" style="cursor:pointer" (click)="showReplyField(index)"
                *ngIf="isAuthentecate"> <i class="fa fa-reply" aria-hidden="true"></i>
                Reply </button>
            </div>
          </div>
          }
        </div>


@if(isGlobal == 'true'){
        <div class="col-12 mt-4">
          <h3 class="event-page-heading">Leave Review</h3>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="alert alert-warning" role="alert">
            Your email address will not be published.
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6">
            <ngx-star-rating formControlName="rating" [id]="'rating'" style="float: left;"></ngx-star-rating>
          </div>
        </div>
        @if(isAuthentecate){
        <div class="row my-2">
          <div class="col-12 col-md-12 col-lg-6">
            <input type="text" formControlName="comment_author" class="input-control" placeholder="Enter your name" />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-12 col-md-12 col-lg-6">
            <input type="text" formControlName="comment_author_email" class="input-control"
              placeholder="Enter your email" />
          </div>
          @if (
          reviewForm.get('comment_author_email')?.touched &&
          reviewForm.get('comment_author_email')?.hasError('required')
          ) {
          <span class="error-message">Email is required</span>
          }
          @if (reviewForm.get('comment_author_email')?.hasError('pattern')) {
          <span class="error-message">Enter valid email</span>
          }
        </div>
        <div class="row my-2">
          <div class="col-12 col-md-12 col-lg-6">
            <input type="text" formControlName="comment_author_url" class="input-control"
              placeholder="Enter your website" />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="slectedvalue" [ngModelOptions]="{standalone: true}"
                  (change)="selcetdvalues()" type="checkbox" value="" id="terms" />
                <label class="form-check-label" for="terms">
                  Save my name, email, and website in this browser for the next time
                  I comment.
                </label>
              </div>
            </div>
          </div>
        </div>

        }
        <div class="row my-2">
          <div class="col-12 col-md-12 col-lg-6">
            <textarea formControlName="comment_content" name="" id="" cols="30" rows="10" class="textarea"
              placeholder="Enter your comments"></textarea>
          </div>
        </div>
        <div class="row mt-2 mb-4">
          <div class="col-12 col-md-12 col-lg-6">
            <button class="btn orange-background-btn-w-100" [disabled]="!reviewForm.valid" (click)="submit()">
              @if(isLoader){
              <app-loader></app-loader>
              }@else {
              Post Review
              }
            </button>
          </div>
        </div>
        } 
      </div>

    </form> -->
    <!-- } -->
  </div>
</section>
