<section>
  <div class="blog-news-container container-fluid g-0 row">
    <div class="text-center heading-small-screen">
      <h1>{{ homePageData?.blog_section?.title }}</h1>
      <p>
        {{ homePageData?.blog_section?.description }}
      </p>
      <button class="btn orange-background-btn">
        {{ homePageData?.blog_section?.view_all_articles }}
      </button>
    </div>
    <div class="blog-article col-12 col-md-12 col-lg-9">
      <div class="heading text-center">
        <h1>{{ homePageData?.blog_section?.title }}</h1>
        <p>
          {{ homePageData?.blog_section?.description }}
        </p>
        <button class="btn orange-background-btn">{{ homePageData?.blog_section?.view_all_articles }}</button>
      </div>
      <div class="blog-card">
        @for (item of blogItem; track $index) {
        <mat-card class="example-card">
          <mat-card-header>
            <div class="img">
              <img [src]="item.img" />
            </div>
          </mat-card-header>
          <mat-card-content>
            <span class="date">{{ item.date }}</span>
            <div class="title">
              <h2>{{ item.title }}</h2>
            </div>
            <div class="description">
              <p class="blog-description">{{ item.description }}</p>
            </div>
            <mat-divider></mat-divider>
          </mat-card-content>

          <mat-card-footer>
            <div class="footer d-flex">
              <div class="profile-image">
                <img [src]="item.profileImage" alt="profile-image" />
              </div>
              <div class="user-detail">
                <h5>{{ item.userName }}</h5>
                <p>{{ item.designation }}</p>
              </div>
            </div>
          </mat-card-footer>
        </mat-card>
        }
      </div>
    </div>
    <div class="blog-banner col-12 col-md-12 col-lg-3">
      <!-- <div class="cross">
        <img src="/assets/icons/cross-icon.svg" alt="cross-icon" />
      </div> -->
      @if (blogAd) {
      <swiper-container #blogSwiper class="mySwiper" init="false">

        @for (key of blogAd; track $index) {
        <swiper-slide>
          <div class="banner-img" (click)="CountClickStats(key?.id,key?.space_id)"
            style="background-image: url({{key?.img}})">
            <div class="banner-text overlay ">
              <h3>{{key?.title}}</h3>
              <p>
                {{key?.description}}
              </p>
              @if (key?.url) {
              <button class="btn">
                <a [href]="key?.url" target="_blank">Explore </a>
              </button>
              }
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>

      }
    </div>
  </div>
</section>