:root {
    /* Colors */
    --primary-color-orange: #FF9900;
    --primary-color-mustard:#FF9900;
    --primary-color-blue: #146EB4;
    --black: #000000;     
    --dark-grey: #232f3e;   
    --light-grey: #F2F2F2; 
    --light-grey-2:#FFFFFF;
} 