<p class='h3 pb-4'>Transaction History</p>
<div class="table-container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th align='center' *ngFor="let column of columns" scope="col">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
        @if (transactionHistory && transactionHistory.length) {

            <tr *ngFor="let history of transactionHistory">
                <td align='center' >{{ history?.lead_id }}</td>
                <td align='center' >{{ history?.street }}</td>
                <td align='center' >{{ history?.country }}</td>
                <td align='center' >{{ history?.payment_type }}</td>
                <td align='center' >{{ history?.cardtype }}</td>
                <td align='center' >{{ history?.charge_id }}</td>
                <td align='center' >{{history?.street}}</td>  
                <td align='center' >{{(history?.created_at)}}</td>

            </tr>
        }@else {
            <tr align="center">
                <td align="center" colSpan="6"><span> No records found! </span></td>
              </tr>
        }
    </tbody>
  </table>
</div>
