
<div class="container-fluid g-0">
    <div class="heading_____">
    <h3 class="dashboard-heading">Events Listing</h3>
    <button
      class="btn orange-background-btn mx-1"   
      (click)="addEvent()"   
    >
      Add New Event
    </button>
  </div>
        <div class="table-responsive mt-5">
          <table>
            <thead>
              <tr>
                <th>Event Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Category</th>
                <th>Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
               
                </td>
                <td> </td>
                <td>  </td>
                <td>
               
                </td>
                <td>
               
                </td>
                <td>
                    <div class="d-flex">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </td>
                <!-- Add more data cells as needed -->
              </tr>
              <!-- Add more rows of data as needed -->
            </tbody>
          </table>
        </div>
  
</div>