<div class="container-fluid g-0">
  <div class="heading_____ my-4">
    <h3 class="dashboard-heading">Events Listing</h3>
    <button class="btn orange-background-btn mx-1" (click)="addEvent()">
      Add New Event
    </button>
  </div>
  <div class="table-responsive mt-5">
    <table>
      <thead>
        <tr>
          <th>Event Title</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Category</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for(key of eventsArray; track $index){
        <tr>
          <td [innerHtml]="key?.post_title | truncateHtml:22">
       
          </td>
          <td> {{key?.event_dates?.start_date | date: 'dd/MM/yyyy'}}</td>
          <td> {{key?.event_dates?.end_date | date: 'dd/MM/yyyy' }} </td>
          <td> {{key?.post_category}}</td>
          <td>{{key?.street}} </td>
          <td>
            <div class="d-flex">
              <i class="fa fa-eye" style="cursor:pointer" (click)="gotToEventDetails(key, false)"  aria-hidden="true"></i>
              <i class="fa fa-pencil" aria-hidden="true"  style="cursor:pointer" (click)="handleEdit(key.post_id)" ></i>
              <i style="cursor:pointer"  (click)="handleDelete(key.post_id)" class="fa fa-trash" aria-hidden="true"></i>
              <button class="btn view-booking-btn" (click)="navigateToViewBooking(key.post_id)">View Bookings</button>
            </div>
          </td>

          <!-- Add more data cells as needed -->
        </tr>
      }
        <!-- Add more rows of data as needed -->
      </tbody>
    </table>
    @if(!eventsArray.length){
      <div class="text-center my-5"> <!-- Added text-center class here -->
         <h4 class="no-records-found-2">No records found !</h4>
      </div>
    }
  </div>

</div>
