@import "../../../assets/scss/common";
@import "../../../assets/scss/select.scss";

.banner{
    height:450px;
    width:100%;
    position: relative;
    background-image: url('../../../assets/resgister-banner-img.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, 0.798);
        z-index: 1;
    }


    .content {
        position: relative;
        z-index: 2; 
        text-align: center;
        margin-top: 22px;
  
        h1 {
            font-weight: var(--font-weight-medium);
            color: var(--light-grey);
            font-size: 48px;
        }
    }
}


.container{
    margin:5rem auto 5rem auto;
    display:flex;
    align-items: center;
}

.form-cnt{
    margin:auto;
    height:auto;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07) !important;
    width: 100%;
    max-width: 500px;
    padding:35px 25px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 12px;
  }

  .form-heading{
    font-size: 1.75rem;
    color:var(--dark-grey)
  }

  .forgot_password{
    color:#1E73bE;
    cursor:pointer;
}


/* Your component styles.css or styles.scss */

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: var(--primary-color-orange)!important;
}
  
  
  ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: var(--primary-color-orange)!important;

  }

  .form-check-input:checked {
 background-color: var(--primary-color-orange)!important;
    border-color:  var(--primary-color-orange)!important;
}

  .form-check-label{
    color:var(--dark-grey)
  }

  .new-to-vietlist{
    color:var(--dark-grey);
    font-size: 15px;
    margin:0 auto;
    width:fit-content
  }

  .create-account{
    color:#1E73bE;
    cursor:pointer
  }