h1{
    color:var(--dark-grey);
    font-weight:var(--font-weight-medium);
    font-size:30px
}


.container{
    padding:20px 35px 25px 35px;
}

.forgot_password{
    color:#1E73bE;
    cursor:pointer;
}


/* Your component styles.css or styles.scss */

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: var(--primary-color-orange)!important;
}
  
  
  ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: var(--primary-color-orange)!important;

  }

  .form-check-input:checked {
 background-color: var(--primary-color-orange)!important;
    border-color:  var(--primary-color-orange)!important;
}

  .form-check-label{
    color:var(--dark-grey)
  }

  .new-to-vietlist{
    color:var(--dark-grey);
    font-size: 15px;
  }

  .create-account{
    color:#1E73bE;
    cursor:pointer
  }


  @media screen and (max-width:480px) {
    .container{
        padding:0px
    }
  }