@import '../../../assets/scss/banner';

.lead-container {
    padding: 50px 100px;
}



.no-records-found-2{
    color:rgb(179, 179, 179);
    text-align: center;
    width:100%
  }

  .input-group {
    position: relative;
  
    .fa.fa-calendar-o {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }