<section class="banner">
  <div class="content">
    <h1>Listing</h1>
  </div>
</section>


<div class="lead-container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div>
        <div class="input-group">
          <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Filter by date" class="input-control" (click)="picker.open()"
           />
          <i class="fa fa-calendar-o"></i>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <button class="btn orange-background-btn" (click)="clearFilter()" [disabled]="date.invalid" >
        Clear Filter
      </button>
    </div>
  </div>
  @if (!leads) {
    <div class="text-center my-5">
      <h4 class="no-records-found-2">No records found !</h4>
    </div>
  } @else {
 
    <div class="row mt-3">

      @for (lead of leads; track $index) {
        <div class="col-12 col-md-6 col-lg-4 p-3">
          <app-lead-card
            [lead]="lead"
            (leadActions)="purchaseLead($event)"
          ></app-lead-card>
        </div>
      }
    </div>
  }
</div>
