<div class="container-fluid g-0">
    <div class="heading_____ my-4">
      <h3 class="dashboard-heading">My Bookings</h3>
    </div>
    <div class="table-responsive mt-5">
      <table>
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Price</th>
            <th>Event Date</th>
            <th>No. of Bookings</th>
            <th>Status</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
          @for(key of allBookingsArray ; track $index){
         <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <div class="d-flex">
              <i class="fa fa-eye" style="cursor:pointer" aria-hidden="true" (click)="goToDetails(key.booking_id)"></i>
              <i class="fa fa-times-circle" aria-hidden="true"  style="cursor:pointer;margin-left: 10px;"  (click)="cancelBooking(key.booking_id , key.event_id)"></i>
            </div>
          </td>
         </tr>
        }
        </tbody>
      </table>

    </div>
  
  </div>
