@import "../../../../assets/scss/common";
@import "../../../../assets/scss/table.scss";

.Danger{
    background-color: #fce8e8;
    padding: 5px;
    color: #9b1c1c;
    border-radius: 5px;
}
.Success{
    background-color: #def7ec;
    padding: 5px;
    color: #04543f;
    border-radius: 5px;
}