@import "../../../../../assets/scss/table";
@import "../../../../../assets/scss/common";

::ng-deep.ngx-pagination .current {
  background: var(--primary-color-orange) !important;
}

::ng-deep.ngx-pagination {

  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep.ngx-pagination li {
  margin-right: 0.75rem !important;
}

::ng-deep.ngx-pagination a {
  text-decoration: none !important;
}

::ng-deep.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background-color: var(--primary-color-orange) !important;
  color: var(--white) !important;
}


.background_section2 {
    color: #7a7a7a !important ;
    background: #FFFBF5;
    border-top: solid 1px rgba(16, 11, 11, 0.3294117647);
    overflow: hidden;
  }


.input-group {
    position: relative;
  
    .fa.fa-calendar-o {
        position: absolute;
        right: 10px;
        top: 10px;
    }
  }