.mat-mdc-select-arrow svg {
    fill: currentColor;
    position: absolute;
    top: 0px !important;
    left: 50%;
    transform: translate(-50%, -50%);
}


.mat-mdc-select {
    background: #fff;
    border: solid 1.5px black !important;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    width: 100%
}

.mat-mdc-select:focus {
    outline: solid 2px var(--primary-color-orange);
    border: none
}