<div class="container-fluid main-container">
    <div class="heading">
      <h1 style="color:#fff">Mortgage Brokers</h1>
      <p style="color:#fff">
        Navigate the Spectrum of Opportunities: Dive into our diverse business categories to find precisely what you’re seeking, all under the trusted.
      </p>
    </div>
  <div class="real-estate-agents">
  
      <div class="agent-grid">
        <div *ngFor="let agent of agents" class="agent-card" style="background-color: #cdd9ec;">
          <div class="agent-img">
            <img  [src]="agent.image" alt="{{ agent.name }}">
          </div>
          <div class="agent-content">
            <h3>{{ agent.name }}</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <p>Phnoe No.-{{ agent.phone }}</p>
          </div>
           <div class="view-profile-div">
            <button class="btn black-btn" style="background-color: #000;color:#fff">View Profile</button>
           </div>
        </div>
      </div>
      <br/>
      <button class="btn black-border-btn" >View More Brokers</button>
    </div>
    </div>