<div class="container-fluid g-0">
    <div class="heading_____ my-4">
      <h3 class="dashboard-heading">All Bookings</h3>
    </div>
    <!-- <div class="breadcrumb mt-3">
      <div class="breadcrumb">
        <span class="manage-business">Manage Events &nbsp;</span>
        <span class="business-details"> > &nbsp;</span>
        <span class="business-details"> My Bookings </span>
      </div>
    </div> -->
    <div class="table-responsive mt-5">
      <table>
        <thead>
      
          <tr>
            <th>Person Name</th>
            <!-- <th>Event Name</th> -->
            <!-- <th>End Date</th> -->
            <th>Price</th>
            <th>No. of Bookings</th>
            <th>Status</th>
            <th>Action</th>
          </tr>

        </thead>
        <tbody>
          @for(key of allBookingsArray ; track $index){
         <tr>
          <td>{{key.first_name}} {{key.last_name}}</td>
          <!-- <td>{{key.end_date}}</td> -->
          <td>{{key.booking_price}}</td>
          <td>{{key.number_of_booking}}</td>
          <td>{{key.booking_status}}</td>
          <td>
            <div class="d-flex">
              <i class="fa fa-eye" style="cursor:pointer" aria-hidden="true" (click)="goToDetails(key.booking_id)"></i>
             
            </div>
          </td>
         </tr>
        }
          <!-- Add more rows of data as needed -->
        </tbody>
      </table>
      @if(!allBookingsArray.length){
        <div class="text-center my-5"> <!-- Added text-center class here -->
           <h4 class="no-records-found-2">No records found !</h4>
        </div>
      }
    </div>
  
  </div>
  