<div class="container-fluid g-0">
    <div class="heading_____ my-4">
      <h3 class="dashboard-heading">All Bookings</h3>
    </div>
    <!-- <div class="breadcrumb mt-3">
      <div class="breadcrumb">
        <span class="manage-business">Manage Events &nbsp;</span>
        <span class="business-details"> > &nbsp;</span>
        <span class="business-details"> My Bookings </span>
      </div>
    </div> -->
    <div class="table-responsive mt-5">
      <table>
        <thead>
          <tr>
            <th>Person Name</th>
            <th>Event Name</th>
            <th>End Date</th>
            <th>Price</th>
            <th>No. of Bookings</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
         <tr></tr>
          <!-- Add more rows of data as needed -->
        </tbody>
      </table>
    </div>
  
  </div>
  