<div class="container-fluid main-container">
    <div class="heading">
      <h1>Top Real Estate Agents</h1>
      <p>
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  <div class="real-estate-agents">
  
      <div class="agent-grid">
        <div *ngFor="let agent of agents" class="agent-card">
          <div class="agent-img">
            <img  src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250" alt="{{ agent.name }}">
          </div>
          <div class="agent-content">
            <h3>{{ agent.name }}</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <p>Phnoe No.-{{ agent.phone }}</p>
          </div>
           <div class="view-profile-div">
            <button class="btn view-more-agents">View Profile</button>
           </div>
        </div>
      </div>
    <br/>
      <button class="btn view-more-agents">View More Agents</button>
    </div>
    </div>