<div class="btn-cont">
  <button class="add-btn rounded" (click)="navigate(1)" >Add New</button>
</div>
<div class="table-container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col">Open</th>
        <th scope="col">Clicks</th>
        <th scope="col">Unsubscribed</th>
        <th scope="col">Bounces</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      @if (campaigns?.length) {

        <tr *ngFor="let campaign of campaigns">
          <td>
            {{ campaign?.post_title || '--' }}
          </td>
          <td>
            <div class="status-btn">
              <span [innerHTML]="showStatusWithIcon(campaign?.post_status)">
              </span>
              @if (campaign?.post_status !== 'finished') {
                <button
                  (click)="
                    updateStatus(campaign.campaign_id, campaign.post_status)
                  "
                >
                  {{ campaign.post_status == 'active' ? 'pause' : 'start' }}
                </button>
              }
            </div>
          </td>
          <td>
            {{ campaign?.totals ?? '--' }}
          </td>
          <td>{{ campaign?.opens ?? '--' }} / {{ campaign?.sent }}</td>
          <td>
            {{ campaign?.clicks ?? '--' }}
          </td>
          <td>
            {{ campaign?.unsubs ?? '--' }}
          </td>
          <td>
            {{ campaign?.bounces ?? '--' }}
          </td>
          <td  >
            {{ service.formatDatee(campaign?.timestamp) || '--' }}
          </td>
        </tr>
      }@else{
        <tr align='center' > <td align='center'  colspan='8' > <span>  No data found</span> </td>
        </tr>
      }
    </tbody>
  </table>
</div>
