@import "../../assets/scss/";
@import "../../assets/scss/select.scss";
@import "../../assets/scss/banner.scss";

.sidebar-cnt {
    height: 100%;
    width: 70%;
    margin: auto;
    background-color: #f3f8fd;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    // align-items: center;
}

.sidebar-items {
    margin: 0 auto;
    width: 80%;
    padding: 20px 35px;

    ul {
        list-style-type: none;
        margin-top: 2.5rem;
        padding: 0;

        /* Remove default padding */
        li {
            margin-bottom: 26px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;

            span {
                margin-right: 10px;
            }
        }
    }

}


.upload-profile {
    height: 20vh;
    width: 100%;
    position: relative;
}

.profile-pic-div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--light-grey);
    border: solid 2px #fff;

    .image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .custom-file-upload input[type=file] {
        display: none;
    }

    .custom-file-upload {
        .icon {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            align-items: center;

            i:hover {
                color: #1E73bE;
            }
        }


    }

    i {
        cursor: pointer;
    }
}

.user-email {
    color: #1E73bE;
    text-align: center;
    font-weight: var(--font-weight-semibold);
    font-size: 16px;
    margin-top: 1rem;
}

li.active {
    color: rgb(255, 128, 0) !important;
}

@media screen and (max-width:1341px) {


    .sidebar-items {
        margin: 0 auto;
        width: 80%;
        padding: 14px;



    }


.sidebar-items {
    margin: 0 auto;
    width: 80%;
    padding: 20px 35px;

    ul {
        list-style-type: none;
        margin-top: 2.5rem;
        padding: 0;

        /* Remove default padding */
        li {
            margin-bottom: 26px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;

            span {
                margin-right: 10px;
            }
        }
    }

}

}

@media screen and (max-width:1399px) {


    .sidebar-items {
        margin: 0 auto;
        width: 80%;
        padding: 8px;



    }

}

@media screen and (max-width:1199px) {


    .sidebar-items {
        margin: 0 auto;
        width: 80%;
        padding: 8px;



    }

    .sidebar-cnt {
        height: 100%;
        width: 95%;
        margin: auto;
        background-color: #f3f8fd;
        display: flex;
        justify-content: center;
  
    }

}
@media screen and (max-width: 991px) {
    .sidebar-cnt {
        height: 100%;
        width: 100%;
        margin: auto;
        background-color: #f3f8fd;
        display: flex;
        justify-content: center;
  
    }
    .sidebar-items {
        margin: 0 auto;
        width: 80%;
        padding: 5px;



    }

    .user-email {
        color: #1E73bE;
        text-align: center;
        font-weight: var(--font-weight-semibold);
        font-size: 15px;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 768px) {
    // .col-md-4 {
    //     flex: 0 0 auto!important;
    //     width: 100%!important;
    // }
    // .col-md-8 {
    //     flex: 0 0 auto!important;
    //     width: 100%!important;
    // }
    .container{
        padding:10px;
    }
    li.active {
        background: orange;
        padding: 1px;
        height: 45px;
        display: flex;
        align-items: center;
        width: 200px !important;
        justify-content: center;
        color: #fff !important;
    }

    .sidebar-items ul {
        list-style-type: none;
        margin-top: 2.5rem;
        padding: 0;
        display: flex !important;
        width: fit-content;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-items ul li {
        margin-bottom: 0px;
        //  line-height: 20px; 
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        width: 157px !important;
        margin-right: 14px;
        text-align: center;
    }

    .sidebar-cnt {
        width: 100%;
    }

    .tabs_responsive {
        overflow: hidden;
        border-top: solid 11px white;
        padding-top: 24px;
        padding-left: 27px;
    }

    .tabs_responsive:hover {
        overflow: scroll;
    }

    // .sidebar-items ul li:nth-child(1){
    //      width: 106px!important;
    //  }
    .sidebar-items {
        margin: 0 auto;
        width: 100%;
        padding: 19px 0px;
    }

    .profile-pic-div {
        width: 37%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--light-grey);
        border: solid 2px #fff;
        margin: auto;
        overflow: hidden;
    }
}