<section class="banner">
    <div class="content">
        <h1>User Blog</h1>
    </div>
</section>
<div class="container-fluid">
    <div class="cta-verfied-image">
        <div class="elementor-element elementor-element-1b26e33 elementor-widget elementor-widget-text-editor"
            data-id="1b26e33" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
                <p><strong>/ USER BLOG /</strong></p>
            </div>
        </div>
        <div class="image-container" style="height:320px">
            <!-- <div class="d-flex"> -->
            <swiper-container #busniessCategoriesSwiper class="mySwiper" init="false">
                @for(userData of userdetails; track $index){
                <swiper-slide (click)="viewuserdetails(userData)">
                    <div class="image">
                        <img [src]="userData?.featured_image ? userData?.featured_image : '/assets/image/No-image-found.jpeg'"
                            alt="verfied-image" />
                        <div class="verified-logo">
                            <a>{{userData?.blog_title}}</a>
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            <!-- Custom navigation buttons -->
            <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="swiper-button-next"> <i class="fa-solid fa-arrow-right"></i></div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @for(userData of userdetails; track $index){
                    <div class="list-layout-wrapper" (click)="viewuserdetails(userData)">
                        <div class="main_div">
                            <div class="images_hover">
                                <a href="">
                                    <img
                                        [src]="userData?.featured_image ? userData?.featured_image : '/assets/image/No-image-found.jpeg'" /></a>
                            </div>
                            <div class="heading___">
                                <h3 class=""><a class="tpg-post-link entry-title"
                                        target="_self">{{userData?.blog_title}}</a>
                                </h3>
                                <div class="post-meta-tags rt-el-post-meta">
                                    <span class="date">
                                        <i class="fa-regular fa-calendar icon-size"></i> &nbsp;<a>
                                            {{userData?.post_date}} &nbsp;</a>
                                    </span>
                                    <span class="categories-links date">
                                        &nbsp; <i class="fa-regular fa-folder icon-size"></i> &nbsp;<a
                                            class="navigating-us-real-estate">Navigating
                                            U.S. Real Estate &nbsp;</a>
                                    </span>
                                </div>
                                <div class="tpg-excerpt tpg-el-excerpt">
                                    <div class="tpg-excerpt-inner">
                                        <div [innerHTML]="userData?.blog_desc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </div>
                <div class="col-10">
                    <div class="text-center">
                        <button class="__button" (click)="loadMore()">Load More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>