<div class="container-fluid g-0">
  <section class="banner top-banner">
    <div class="content">
      <h1>Register</h1>
    </div>
  </section>

  <form [formGroup]="signupForm">
    <div class="container">
      <div class="form-cnt">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center form-heading">Sign Up</h1>
          </div>
          <div class="col-12 m-auto text-center">
            <mat-radio-group
              aria-label="Select an option"
              [ngModel]="defaultSelectedRole"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="changeSignupType()"
              name="radio"
            >
              @for (key of signupType; track $index) {
                <mat-radio-button
                  value="{{ key.value }}"
                  [checked]="key.checked"
                  (click)="handleSignupTypeSelection(key.value)"
                  >{{ key.name }}</mat-radio-button
                >
              }
            </mat-radio-group>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="form-group">
            <label class="form-check-label">First Name <span class="asterik">*</span></label>
            <input
              class="input-control"
              type="text"
              placeholder="First name"
              formControlName="first_name"
              appFormControlValidation
              [validationMsgId]="'first-name-msg'"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="form-check-label">Last Name <span class="asterik">*</span></label>
            <input
              class="input-control"
              type="text"
              placeholder="Last name"
              formControlName="last_name"
              appFormControlValidation
              [validationMsgId]="'last-name-msg'"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="form-check-label">Username <span class="asterik">*</span></label>
            <input
              class="input-control"
              type="text"
              placeholder="Username"
              formControlName="username"
              appFormControlValidation
              [validationMsgId]="'business-required-msg'"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="form-check-label">Email<span class="asterik">*</span></label>
            <input
              class="input-control"
              type="email"
              formControlName="email"
              placeholder="Email"
            />
            @if (
              signupForm.get('email')?.touched &&
              signupForm.get('email')?.hasError('required')
            ) {
              <span class="error-message">Email is required</span>
            }
            @if (signupForm.get('email')?.hasError('pattern')) {
              <span class="error-message">Enter valid email</span>
            }
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="form-check-label">Password<span class="asterik">*</span></label>
            <div class="input-group">
              <input
                class="input-control"
                [type]="!isHidePassword ? 'password' : 'text'"
                formControlName="password"
                placeholder="Password"
              />
              <span
                class="input-group-text"
                id="basic-addon1"
                (click)="hidePassword()"
              >
                <i
                  *ngIf="!isHidePassword"
                  class="fa fa-eye-slash"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
                <i
                  *ngIf="isHidePassword"
                  class="fa fa-eye"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
              </span>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group mt-3">
            <div class="col-12">
              <label class="form-check-label">Confirm Password<span class="asterik">*</span></label>
              <div class="input-group">
                <input
                  class="input-control"
                  [type]="!isHideConfirmPassword ? 'password' : 'text'"
                  placeholder="Confirm Password"
                  formControlName="confirm_password"
                />
                <span
                  class="input-group-text"
                  id="basic-addon2"
                  (click)="hideConfirmPassword()"
                >
                  <i
                    *ngIf="!isHideConfirmPassword"
                    class="fa fa-eye-slash"
                    aria-hidden="true"
                    style="color: #6c757d"
                  ></i>
                  <i
                    *ngIf="isHideConfirmPassword"
                    class="fa fa-eye"
                    aria-hidden="true"
                    style="color: #6c757d"
                  ></i>
                </span>
              </div>
              <p
                class="error-message"
                *ngIf="
                  (signupForm.get('confirm_password')?.touched ||
                  signupForm.get('confirm_password')?.dirty) &&
                  signupForm.get('confirm_password')?.errors
                "
              >
                Confirm Password doesn't match with Password.
              </p>
            </div>
          </div>
        </div>
        @if (selectedSignupType == userRole.businessOwner) {
          <div class="col-12">
            <div class="form-group">
              <label class="form-check-label">Business Type<span class="asterik">*</span></label>
              <mat-select
                class="vietlist-select"
                placeholder="Business type"
                [formControl]="business_type"
                appFormControlValidation
                [validationMsgId]="'business-type-msg'"
              >
                <mat-option value="retail">Retail</mat-option>
                <mat-option value="restaurant">Restaurant</mat-option>
                <mat-option value="restaurant">Service</mat-option>
              </mat-select>
            </div>
          </div>
          <label class="form-check-label">Phone Number<span class="asterik">*</span></label>
          <ngx-intl-tel-input
            [cssClass]="'input-control'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[
              SearchCountryField.Iso2,
              SearchCountryField.Name
            ]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.India"
            [phoneValidation]="true"
            [separateDialCode]="true"
            [numberFormat]="PhoneNumberFormat.National"
            name="phone"
            [formControl]="contact_details"
          >
          </ngx-intl-tel-input>
        }

        <div class="col-12 mt-2">
          <div class="form-group">
            
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="terms"
                [formControl]="term_and_condition"
              />
              <label class="form-check-label" for="terms">
                Accept Terms & Conditions
              </label>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button
            class="btn orange-background-btn-w-100"
            type="submit"
            [disabled]="!signupForm.valid || !term_and_condition.value"
            (click)="handleRegistrationSubmission()"
          >
            <span *ngIf="!loader">Submit</span>
            <app-loader *ngIf="loader"></app-loader>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
