@import "../../../assets/scss/common";
@import "../../../assets/scss/select.scss";

.banner {
  height: 450px;
  width: 100%;
  position: relative;
  background-image: url('/assets/resgister-banner-img.jpeg');
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.798);
    z-index: 1;
  }


  .content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 22px;

    h1 {
      font-weight: var(--font-weight-medium);
      color: var(--light-grey);
      font-size: 48px;
    }
  }
}


.container {
  margin: 5rem auto 5rem auto;
  display: flex;
  align-items: center;
}

.form-cnt {
  margin: auto;
  height: auto;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07) !important;
  width: 100%;
  max-width: 500px;
  padding: 35px 28px;
}

.input-group {
  flex-wrap: nowrap;
  position: relative;

  .input-control {
    border-radius: 4px !important;
  }

  .input-group-text {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #f5f5f5;
    border-left: none;
    cursor: pointer;
    border-radius: 4px;
  }
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
  margin-left: 12px;
}

.form-heading {
  font-size: 1.75rem;
  color: var(--dark-grey)
}

.forgot_password {
  color: #1E73bE;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 16px;
}

.form-check-input:checked {
  background-color: var(--primary-color-orange) !important;
  border-color: var(--primary-color-orange) !important;
}

.form-check-label {
  color: var(--dark-grey);
  font-size: 15px;
}

::ng-deep.mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--primary-color-orange) !important;
}

::ng-deep .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: var(--primary-color-orange) !important;
}

::ng-deep.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: none !important;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: none !important;
  --mdc-radio-selected-hover-icon-color: none !important;
  --mdc-radio-selected-icon-color: none !important;
  --mdc-radio-selected-pressed-icon-color: ;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: none !important;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}