<section class="banner">
  <div class="content">
    <h1>Add Event</h1>
  </div>
</section>
<div class="container my-5">
  <div class="main-card">
    <div class="row">
      <div class="col-12">
        <h1 class="listing-form-heading">Event Information</h1>
      </div>
    </div>
    <form [formGroup]="addEventForm">
      <section class="my-4">
        <!-- <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label for="name" class="listing-form-label"
              >Recurring Event <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-radio-group
              aria-label="Select an option"
              [formControl]="recurringEvent"
            >
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false"> No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div> -->
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Event start date <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <div class="input-group">
              <input
                matInput
                [matDatepicker]="picker"
                class="input-control"
                (click)="picker.open()"
                formControlName="eventStartDate"
                [min]="minDate"
              />
              <i class="fa fa-calendar-o"></i>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Event end date <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <div class="input-group">
              <input
                matInput
                [matDatepicker]="picker2"
                class="input-control"
                (click)="picker2.open()"
                [min]="minDate"
                formControlName="eventEndDate"
              />
              <i class="fa fa-calendar-o"></i>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
          </div>
        </div>
        <!-- @if (recurringEvent.value == 'true') {
          <div class="row my-4 px-2 align-items-center">
            <div class="col-12 col-md-12 col-lg-4">
              <label class="listing-form-label">Event Duration(days)</label>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <input
                type="number"
                id="Duration"
                name="Duration"
                class="input-control"
                formControlName="event_duration"
                required
              />
              <div class="error-message" *ngIf="addEventForm.controls['event_duration'].invalid && addEventForm.controls['event_duration'].touched">
                Duration is required.
            </div>
            </div>
          </div>
          <div class="row my-4 px-2 align-items-center">
            <div class="col-12 col-md-12 col-lg-4">
              <label class="listing-form-label">Repeats Every</label>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <input
                type="number"
                class="input-control"
                formControlName="repeats_event"
              />
              <div class="error-message" *ngIf="addEventForm.controls['repeats_event'].invalid && addEventForm.controls['repeats_event'].touched">
                Repeats event is required.
            </div>
            </div>
          </div>
          <div class="row my-4 px-2 align-items-center">
            <div class="col-12 col-md-12 col-lg-4">
              <label class="listing-form-label">Repeat Type</label>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <input
                type="number"
                class="input-control"
                formControlName="event_type"
              />
              <div class="error-message" *ngIf="addEventForm.controls['event_type'].invalid && addEventForm.controls['event_type'].touched">
                Event type  is required.
            </div>
            </div>
          </div>
          <div class="row my-4 px-2 align-items-center">
            <div class="col-12 col-md-12 col-lg-4">
              <label for="name" class="listing-form-label"
                >Stop Recurring Event <span class="asterik">*</span></label
              >
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <mat-radio-group
                aria-label="Select an option"
                formControlName="occurrences"
              >
                <mat-radio-button value="After a certain number of occurrences"
                  >After a certain number of occurrences
                </mat-radio-button>
                <mat-radio-button value="After a certain date">
                  After a certain date</mat-radio-button
                >
              </mat-radio-group>
              <div class="error-message" *ngIf="addEventForm.controls['occurrences'].invalid && addEventForm.controls['occurrences'].touched">
                Occurrences is required.
            </div>
            </div>
          </div>
          <div class="row my-4 px-2 align-items-center">
            <div class="col-12 col-md-12 col-lg-4">
              <label class="listing-form-label"
                >Recurring end date <span class="asterik">*</span></label
              >
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <div class="input-group">
                <input
                  matInput
                  [matDatepicker]="picker3"
                  class="input-control"
                  (click)="picker3.open()"
                  formControlName="end_date_recurring"
                />

                <i class="fa fa-calendar-o"></i>
                <mat-datepicker #picker3></mat-datepicker>
                <div class="error-message" *ngIf="addEventForm.controls['end_date_recurring'].invalid && addEventForm.controls['end_date_recurring'].touched">
                  End date recurring is required.
              </div>
              </div>
            </div>
          </div>
        } -->
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label">Set event for all day </label>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input class="form-check-input" type="checkbox"  [formControl]="recurringEvent"/>
          </div>
        </div>

        @if (!checkValue) {
       
        
          <div class="row my-4 px-2 align-items-center">
            <div class="col-12 col-md-12 col-lg-4">
              <label class="listing-form-label"
                > Start Time <span class="asterik">*</span></label
              >
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <div class="input-group">
                <input
                  matInput
                  
                  class="input-control"
                  type="time"
                  formControlName="startTime"
                />

                <!-- <i class="fa fa-calendar-o"></i> -->
                <!-- <mat-datepicker #picker4></mat-datepicker> -->
                <div class="error-message" *ngIf="addEventForm.controls['startTime'].invalid && addEventForm.controls['startTime'].touched">
                  Start Time is required.
              </div>
              </div>
            </div>
          </div>

          <div class="row my-4 px-2 align-items-center">
            <div class="col-12 col-md-12 col-lg-4">
              <label class="listing-form-label"
                > End Time <span class="asterik">*</span></label
              >
            </div>
            <div class="col-12 col-md-12 col-lg-8">
              <div class="input-group">
                <input
                  matInput
                  type="time"
                  class="input-control"
                  formControlName="endTime"
                />

                <!-- <i class="fa fa-calendar-o"></i> -->
                <!-- <mat-datepicker #picker3></mat-datepicker> -->
                <div class="error-message" *ngIf="addEventForm.controls['endTime'].invalid && addEventForm.controls['endTime'].touched">
                  End Time  is required.
              </div>
              </div>
            </div>
          </div>
        }
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label for="name" class="listing-form-label"
              >Event Title <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              placeholder="Enter Event Title"
              class="input-control"
              type="text"
              formControlName="event_title"
            />
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label for="name" class="listing-form-label"
              >Event Description <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <textarea
              class="input-control"
              formControlName="event_description"
            ></textarea>
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Category <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-select
              class="vietlist-select"
              placeholder="Category"
              formControlName="post_category"   
            >
              @for (key of post_categorys; track $index) {
                <mat-option [value]="key.id">{{ key.name }}</mat-option>
              }
            </mat-select>
          </div>
        </div>
        <!-- <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Default Category <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-select
              class="vietlist-select"
              placeholder="Default Category"
              formControlName="default_category"
            >
              @for (key of selectedDefaultCategories; track $index) {
                <mat-option [value]="key.id">{{ key.name }}</mat-option>
              }
            </mat-select>
            <small class="form-text text-muted d-block"
              >The default category can affect the listing URL and map
              marker.</small
            >
          </div>
        </div> -->
        <!-- <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Tags<span class="asterik">*</span></label
            >
          </div> -->
          <!-- <div class="col-12 col-md-12 col-lg-8">
            <ng-select
              class="select2-selection"
              [items]="post_tags"
              bindLabel="name"
              bindValue="id"
              [multiple]="true"
              placeholder="Select Tags"
              [(ngModel)]="tags"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="onTagSelectionChange()"
            >
            </ng-select>
            <small class="form-text text-muted d-block"
              >Tags are short keywords, with no space within.(eg: tag1, tag2,
              tag3).</small
            >
          </div>
        </div> -->
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Address<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <AutocompleteComponent
              (setAddress)="getAddress($event)"
              adressType="geocode"
              [value]="street"
            ></AutocompleteComponent>
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Country<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Choose a country..."
              [(ngModel)]="country"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Region<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Select region or type a new one"
              [(ngModel)]="state"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >City<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Select city or type a new one"
              [(ngModel)]="city"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Zip/Post Code<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Enter zip code"
              [(ngModel)]="zipcode"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="row my-4 px-2">
          <div id="map" style="height: 450px; width: 100%"></div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Address Latitude <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              [(ngModel)]="latitude"
              [ngModelOptions]="{ standalone: true }"
              readonly
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Address Longitude <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              [(ngModel)]="longitude"
              [ngModelOptions]="{ standalone: true }"
              readonly
            />
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center"  *ngIf="vediosHide?.level_id !='1'">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label">Map View</label>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-select
              class="vietlist-select"
              placeholder="Select Map View"
              formControlName="mapview"
              (click)="changeMapView()"
            >
              <mat-option value="default view">Default View</mat-option>
              <mat-option value="satellite view">Satellite Map</mat-option>
              <mat-option value="hybrid view">Hybrid Map</mat-option>
              <mat-option value="terrain view">Terrain Map</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="row my-3 px-2" >
          <div class="col-12">
            <!--a dropzone-->
            <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
            <div class="row">
              <div class="col-sm-2 col-md-12">
                <label for="" class="listing-form-label mb-2">Images</label>
              </div>
              <div class="col-sm-10 col-md-12 upload-instruction">
              </div>
            </div>
            <ngx-dropzone (change)="onSelectImages($event)" [accept]="'.png,.png,.png , .webp , .jpeg , .jpg'">
              <ngx-dropzone-label *ngIf="!isImageUploading"><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop here
                or
                Browse a file (You can upload multiple images)</ngx-dropzone-label>
              <div *ngIf="isImageUploading" class="loader"></div>
            
            </ngx-dropzone>
            <div class="main_images">
              @for (preview of levelOneImageArr; track $index) {
      
              <div class="images__" *ngIf="preview">
                <div class="removeImage">
                  <i class="fa fa-times-circle" aria-hidden="true" (click)="removeImageItem($index)"></i>
                </div>
                <img [src]="preview" alt="Image Preview" width="150" height="150" />
              </div>
              }
            </div>
            <!-- <ngx-dropzone (change)="onSelectImages($event)" [accept]="'.png,.png,.png , .webp , .jpeg , .jpg'">
              <ngx-dropzone-label *ngIf="!isImageUploading"><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop here
                or
                Browse a file</ngx-dropzone-label>
              <div *ngIf="isImageUploading" class="loader"></div>
            
            </ngx-dropzone>
            <div class="main_images">
      
              <div class="images__" *ngIf="ImageUrl">
                <div class="removeImage">
                  <i class="fa fa-times-circle" aria-hidden="true" (click)="removeImageItem()"></i>
                </div>
                <img [src]="ImageUrl" alt="Image Preview" width="150" height="150"  class="imagePriview"/>
              </div>
           
            </div> -->
          </div>
        </div>
        <div class="row my-3 px-2" *ngIf="vediosHide?.level_id !='1'">
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-checkbox class="event-checkbox" [formControl]="isBookable">Is Bookable <span
                class="asterik">*</span></mat-checkbox>
          </div>
        </div>
        @if(isBookableClicked){
          <div class="row my-3 px-2" >
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-md-12 col-lg-8">
             <input type="text" class="input-control" placeholder="Price ($)" formControlName="price"/>
            </div>
          </div>
          <div class="row my-3 px-2" >
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-md-12 col-lg-8">
             <input type="text" class="input-control" placeholder="Number of Bookings can be accepted" formControlName="number_of_bookings"/>
            </div>
          </div>
          <div class="row my-3 px-2" >
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-md-12 col-lg-8">
              <div class="input-group">
                <input
                  matInput
                  [matDatepicker]="picker"
                  class="input-control"
                  (click)="booking_start_date.open()"
                  formControlName="booking_start_date"
                  [min]="minDate"
                  placeholder="Booking Start Date"
                />
                <i class="fa fa-calendar-o"></i>
                <mat-datepicker #booking_start_date></mat-datepicker>
              </div>
            </div>
          </div>
          <div class="row my-3 px-2" >
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-md-12 col-lg-8">
              <div class="input-group">
                <input
                  matInput
                  [matDatepicker]="picker"
                  class="input-control"
                  (click)="booking_end_date.open()"
                  formControlName="booking_end_date"
                  [min]="minDate"
                  placeholder="Booking End Date"
                />
                <i class="fa fa-calendar-o"></i>
                <mat-datepicker #booking_end_date></mat-datepicker>
              </div>
            </div>
          </div>
      }
        <div class="row my-4 px-2">
          <div class="col-12 col-lg-4"></div>
          <div class="col-12 col-md-12 col-lg-8">
            <re-captcha (resolved)="resolved($event)" siteKey="6Ld3tncpAAAAAGSNia7DxJ9CpAIHl9FEDYItJR-W"
              [formControl]="recaptcha"></re-captcha>
          </div>
        </div>
        <div style="width: 100%; text-align: end">
          <button
            type="button"
            class="btn orange-background-btn ms-auto"
            [disabled]="
              !addEventForm.valid ||
              !country ||
              !zipcode ||
              !state ||
              !city ||
              !recaptcha.value ||
              debounce
            "
            (click)="addEvent()"
          >
            <app-loader *ngIf="isloader"></app-loader
            ><span *ngIf="!isloader">Next</span>
          </button>
        </div>
      </section>
    </form>
  </div>
</div>
