@import "../../../../assets/scss/common.scss";
@import "../../../../assets/scss/banner";
@import "../../../../assets/scss/image-loader.scss";

.mat-mdc-form-field {
  margin-top: 16px;
}

::ng-deep.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  background-color: var(--primary-color-orange) !important;
  border-color: var(--primary-color-orange) !important;
}

::ng-deep.mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple {
  background-color: var(--primary-color-orange) !important;

}

.main-card {
  margin: auto;
  height: auto;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07) !important;
  width: 100%;
  max-width: 1140px;
  padding: 35px;
}

.imagePriview {
  object-fit: scale-down;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
  margin-left: 16px;
}



::ng-deep.mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--primary-color-orange) !important;
}

::ng-deep .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: var(--primary-color-orange) !important;
}

::ng-deep.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: none !important;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: none !important;
  --mdc-radio-selected-hover-icon-color: none !important;
  --mdc-radio-selected-icon-color: none !important;
  --mdc-radio-selected-pressed-icon-color: ;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: none !important;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

ng-select .ng-select .ng-select-container {
  width: 100%;
  background: #f5f5f5 !important;
  border: solid 1px #80808030;
  height: 40px;
  padding: 10px;
  border-radius: 4px
}


.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.6em + 0.9rem + 2px);
  padding: 0.45rem 2.2rem 0.45rem 1.2rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #495057;
  vertical-align: middle;
  border-radius: 0.25rem;
  appearance: none;
  background: #F2F2F2 !important;
  border-radius: 4px !important;
  font-size: 14px;
  border-color: #F2F2F2 !important;
  color: #232F3E !important;
  font-weight: 400 !important;
  margin-top: 0 !important;
}

.text-muted {
  color: #6c757d !important;
}

.custom-select:focus {
  outline-color: #ff9900 !important;
  border-color: #ff9900 !important;
  box-shadow: none !important;
}

span.ng-arrow-wrapper {
  display: none !important;
}

.select2-selection {
  background: #F2F2F2 !important;
  border-radius: 4px !important;
  border: solid 1px rgba(128, 128, 128, 0.1882352941) !important;
  border-color: #F2F2F2 !important;
  margin-top: 0 !important;
}

.select2-selection::ng-deep .ng-select-container {
  min-height: 0px;
  border-radius: 0;
  background: #F2F2F2;
  height: 45px;
  border-radius: 6px;
}

.select2-selection::ng-deep .ng-select-container .ng-value {
  background-color: #ff9900 !important;
  border: 1px solid #f90 !important;
  color: #fff !important;
  margin-right: 10px !important;
}

.select2-selection::ng-deep .ng-select-container .ng-value .ng-value-icon {

  border-right: 1px solid #f90 !important;
}

.select2-selection::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  top: 11px;
  padding-bottom: 5px;
  padding-left: 3px;
}

.select2-selection::ng-deep .ng-select-container .ng-value .ng-value-icon:hover {
  background: none !important;
}

.select2-selection::ng-deep .ng-option {
  color: black;
  margin-left: 35px;
  margin-right: 35px;
}

.select2-selection::ng-deep .ng-option:hover {
  background: #f90;
  color: #fff;
  border-radius: 5px;
}

.select2-selection::ng-deep .ng-option-disabled {
  color: black !important;
  margin-left: 10px !important;
}

.select2-selection::ng-deep .ng-option-disabled:hover {
  background: none !important;
  color: black !important;
}

.select2-selection::ng-deep .ng-select-container .ng-arrow-wrapper {
  display: none;
}

.image-box {
  width: 25%;
  height: 55%;
  object-fit: cover;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.input-group {
  position: relative;

  .fa.fa-calendar-o {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}


.form-check-input:checked {
  background-color: var(--primary-color-orange) !important;
  border-color: var(--primary-color-orange) !important;
}

::ng-deep.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
  color: var(--primary-color-mustard) !important;
}