@import "../../../../assets/scss/common";
@import "../../../../assets/scss/banner";
// @import "../../../../assets/scss/image-loader.scss";
@import "../../../../assets/scss/image-loader";

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    // // background-color: #c0bfbf0c;
    // padding: 35px;
    // margin-top: 4rem;
    // margin-bottom: 4rem;
}

.elementor-grid-item {
    background: #ea4335;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconDirection {
    position: absolute;
    right: 10%;
    bottom: 27px;
    z-index: 2;
    display: flex;
    gap: 15px;
}

.elementor-divider-separator {
    background: #FF9900;
    /* padding: 10px !important; */
    height: 5px;
    width: 83px;
    z-index: 99999999;
    content: '';
    position: absolute;
    left: 47%;
}

.images__ {
    position: relative;
}

.breadcrumb {
    font-size: 20px;
}

.manage-business {
    cursor: pointer;
    color: var(--primary-color-orange);

}

.business-details {
    color: rgb(138, 138, 138)
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.event-page-heading {
    /* font-size: 25px; */
    color: #232F3E !important;
    -webkit-text-fill-color: #232F3E !important;
    font-size: 29px;
    font-weight: bold;
    padding: 0;
}

.headings__ {
    font-size: 17px;
    color: grey;
    font-weight: var(--font-weight-normal)
}


.content__ {
    font-size: 17px;
    color: var(--dark-grey);
    background-color: #e2f2ff;
    padding: 15px;
    border-radius: 2px
}

.table-title {
    color: #000;
    opacity: .6;
    width: 15em;
    font-size: 15.5px;
}

.profile-info-div {
    width: 100%;
    // height:12rem;
    padding: 10%;
    background-color: #FFFFFF;
    border: solid 1px #146EB4;
    padding-top: 7%;

    .event-heading {
        margin-bottom: 30px;
    }

    .event-venue {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        gap: 10px;

        .icon {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .info {
            width: 90%;
        }
    }
}

.location {
    padding-bottom: 12px;
}

.main-heading {
    font-size: 32px;
    font-weight: var(--font-weight-semibold);
    color: var(--dark-grey);
    text-align: center;
}


.heading-left {
    font-size: 32px;
    font-weight: var(--font-weight-semibold);
    color: var(--dark-grey)
}

.image-container {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    align-items: center;
    overflow: auto;
}

.no-photos-wrapper {
    height: 100%;
}

.featured_image {
    height: 15rem;
    width: 17rem;
    // object-fit: cover;
    // display: flex;
    flex-shrink: 0;
    gap: 15px;


    img {
        width: 100%;
        height: 100%;
        // display: flex;
        cursor: pointer;
    }

    .linking-icon {
        display: none;
    }
}

.featured_image:hover {
    position: relative;

    img {
        filter: brightness(75%);
        transition: all .3s ease-in-out;
        opacity: 1;
    }

    .linking-icon {
        position: absolute;
        display: block;
        right: 45%;
        top: 50%;

        i {
            color: #f2f2f2;
            font-size: 1.5rem;
        }
    }
}


.listing-rating {
    color: #fff;
    width: fit-content;
    margin: 0 auto;
    font-size: 30px;

    .star {
        position: relative;
        display: inline-block;
        font-size: 2.5rem;
        color: #fff;
    }

    .full {
        color: var(--primary-color-mustard);
    }

    .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: var(--primary-color-mustard);
    }
}

.bsui {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    justify-content: space-around;
}

.bsui .mt-3,
.bsui .my-3 {
    margin-top: 1rem !important;
}

.imagesSlider {
    display: flex;
    align-items: start;
}

.social-link {
    padding-top: 1.25rem;

    ul {
        display: flex;
        gap: 10px;
        padding: 0px;
    }

    .location {
        display: flex;
        align-items: center;
        line-height: 30px;
    }
}

.media-body {
    flex: 1;
    text-align: left;
    padding-left: 23px;
}

.images__ {
    overflow: hidden;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.profile__ img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.profile__ {
    /* border-radius: 114px; */
    padding: 10px;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.description {
    padding-left: 13px;
}

ngx-star-rating .star {
    width: 39px;
}


.form-check-input:checked {
    background-color: var(--primary-color-orange) !important;
    border-color: var(--primary-color-orange) !important;
}

.form-check-label {
    color: var(--dark-grey);
    font-size: 15px;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
    background: var(--primary-color-orange) !important;
    border: none !important;
}

.reply-btn {
    background-color: var(--primary-color-orange);
    color: #fff;
    border-radius: 2px;
    height: 42px;
    // width:100%;
}

.btn:hover {
    background-color: var(--primary-color-orange) !important;
    color: #fff !important;
    border-radius: 2px !important;
}

.table> :not(caption)>*>* {
    background: transparent !important;
}


.bottom_reply {
    text-align: end;
    padding-bottom: 17px;
    padding-top: 11px;
    border-top: solid 1px lightgray;
    padding-right: 20px;
}

.comments {
    max-height: 162px;
    overflow: scroll;
}

.standard-layout-reply {
    display: flex;
    gap: 15px;

    p {
        cursor: pointer;
        color: var(--primary-color-mustard);
    }

    p:hover {
        text-decoration: underline;
    }
}


.elementor-5037 .elementor-element.elementor-element-3dcdf0a3 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #232F3E70;
    box-shadow: 0px -8px 28px 0px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #7A7A7A;
    padding: 0px 0px 0px 0px;
}


.elementor-5037 .elementor-element.elementor-element-3dcdf0a3:not(.elementor-motion-effects-element-type-background),
.elementor-5037 .elementor-element.elementor-element-3dcdf0a3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    /* align-content: flex-start; */
}

.elementor-5037 .elementor-element.elementor-element-4b279618>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-element .elementor-widget-container {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform var(--e-transform-transition-duration, 400ms);
}

#gd-single-tabs .nav-link.active,
#gd-single-tabs .nav-item.show .nav-link,
#gd-single-tabs .nav-link:hover,
#gd-single-tabs .nav-link:focus {
    background: none !important;
    border: none;
    border-bottom: 1px solid #ff9900 !important;
    color: #ff9900 !important;
    -webkit-text-fill-color: #ff9900 !important;
}

#gd-single-tabs .nav-link {
    transition: all 0.3s;
}

#gd-single-tabs .nav-link {
    transition: all 0.3s;
}

.elementor-5037 .elementor-element.elementor-element-3dcdf0a3 a {
    color: #7A7A7A;
}

.nav-link {
    color: #7A7A7A;
}

.review-form-container {
    // display: flex;
    // justify-content: center;
    // margin-top: 40px;

    .review-form-wrapper {
        border: 1px solid #F2F2F2;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 15px #00000012;

        .col-12 {
            margin-bottom: 14px;
        }
    }
}


.section-container {
    margin-top: 7px;
    // margin-top: 1rem;
    // // margin-bottom: 30px;
    // max-width: 1140px;
    // margin-left: auto;
    // margin-right: auto;
}

.list-items {
    list-style: none;
    padding: 10px 0 0 0px;
    margin: 0 5%;
    display: flex;
    // list-style: none;
    // padding: 10px 0 0 0;
    // margin: 0 5%;
    // display: flex;
    margin-bottom: 1rem;
    // padding: 0px;
}

.list-items li {
    color: #7A7A7A;
    margin-right: 2px;
    padding: .8rem 1rem;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Roboto';
}


.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
    border-top: var(--divider-border-style) var(--divider-color);
}

.list-items li:hover {
    border-bottom: 1px solid #ff9900 !important;
    color: #ff9900;

}

.actives {
    background: none !important;
    color: #ff9900 !important;
    border-bottom: 1px solid #ff9900 !important;
}

.active:hover {
    background: none !important;
    color: #ff9900 !important;
}

.active {
    background: none !important;
    border: none;
    // border-bottom: 1px solid #ff9900 !important;
    color: #7A7A7A;
    // -webkit-text-fill-color: #ff9900!important;
    background-color: rgb(56 204 255 / 17%);
}

.get-direction-btn {
    background-color: var(--primary-color-orange);
    height: 40px;
    color: #fff;
    border-radius: 0px;
}

.position-relative {
    position: relative;
}

.direction-field {
    .input-control {
        border: none !important;
    }
}

.location-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    /* Adjust the distance from the right side */
}

.location-icon i {
    color: #555;
    /* Adjust the color of the icon */
}


.input-group {
    position: relative;

    .fa.fa-calendar-o {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.over-all-rating-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: .25rem;

    .rating-container {
        display: flex;
        gap: 5px;

        .star {
            color: var(--primary-color-mustard);
            font-size: 18px;
        }

        .color-orange {
            color: #000;
        }


        .rating-message {
            border: 1px solid #dee2e6;
            color: #212529;
            font-size: 13px;
            font-family: 'Roboto';
            font-weight: 700;
            padding: .25em .4em;
            background-color: #f8f9fa;
        }
    }

    .overall-label {
        p {
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: 700;
            font-family: 'Roboto';
        }
    }
}

@media(max-width:768px) {
    ul li .info-wrapper {
        width: 100% !important;
        gap: 15px;
        /* margin-bottom: 15px; */
    }

    .banner .content h1 {
        font-weight: var(--font-weight-medium);
        color: var(--light-grey);
        font-size: 35px !important;
    }

    .elementor-divider-separator {
        background: #FF9900;
        height: 5px;
        width: 83px;
        z-index: 99999999;
        content: "";
        position: absolute;
        left: 44% !important;
    }

    .list-items li {
        color: #7A7A7A;
        margin-right: 5%;
        cursor: pointer;
        font-size: 14px !important;
    }

    .size_icon {
        font-size: 14px !important;
    }

    .table-title {
        color: #000;
        opacity: 0.6;
        width: 6em !important;
        font-size: 15.5px;
    }
}


.event-date {
    font-size: 15px;
    color: #181818
}

.btn:disabled{
    color:#ffff!important
}



.warning-message {
    display: flex;
    align-items: center;
    background-color: #ffe8e8;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff7b7b;
    color: #ff7b7b;
    margin-bottom: 16px;
  }
  
  .warning-message mat-icon {
    margin-right: 10px;
  }
  .disabled-div {
    /* Apply styles for the disabled state */
    opacity: 0.5; /* Dim the opacity */
    pointer-events: none; /* Disable pointer events */
    /* Add any other styles as needed */
  }
  .contentMain{
    width:50%
  }
  .contant_business{
   display:flex
  }