<p class="step-title">Estimated Home Value</p>
<div class="card-container">
  <mat-form-field style="width: 350px">
    <mat-label> Home value</mat-label>
    <input
      matInput
      type="text"
      placeholder="e.g. 250,000"
      [formControl]="estimatedHomeValue"
      (blur)="updateErrorMessage('estimatedHomeValue')"
      required
    />
    <i class="fa-solid fa-dollar-sign input-icon"></i>
    <mat-error *ngIf="estimatedHomeValue.invalid">{{
      estimatedHomeValueErrorMessage
    }}</mat-error>
  </mat-form-field>
</div>
<div class="btn-container">
  <button class="back" mat-button matStepperPrevious (click)="goBack()">
    Back
  </button>
  <button
    class="next"
    [ngClass]="{
      'disable-next':
        !selectedOptions['estimated_home_value'] || estimatedHomeValue.invalid
    }"
    [disabled]="
      !selectedOptions['estimated_home_value'] || estimatedHomeValue.invalid
    "
    matStepperNext
    (click)="nextStep()"
  >
    Next
  </button>
</div>
