<p class="step-title">{{title}}</p>
<div class="card-container">
  <mat-form-field style="width: 350px">
    <mat-label> {{label}}</mat-label>
    <input
      matInput
      type="text"
      [placeholder]="placeholder"
      [formControl]="formControll"
      (blur)="updateMsg(errorMsgKey)"
      required
    />
    <i class="fa-solid input-icon" [ngClass]="'fa-' + icon + ' input-icon'" ></i>
    <mat-error *ngIf="formControll.invalid">{{
      errorMsg
    }}</mat-error>
  </mat-form-field>
</div>
<div class="btn-container">
  <button class="back" mat-button matStepperPrevious (click)="goBackWard()">
    Back
  </button>
  <button
    class="next"
    [ngClass]="{
      'disable-next':
        !selectedOptions[key] || formControll.invalid
    }"
    [disabled]="
      !selectedOptions[key] || formControll.invalid
    "
    matStepperNext
    (click)="goForwardWard()"
  >
    Next
  </button>
</div>
