<section class="banner">
  <div class="content">
    <h1>Listings</h1>
  </div>
</section>
<div class="container-fluid g-0">
  <div class="row search-fields mt-4">
    <div class="d-flex">
      <div class="flex-grow-1">
        <mat-select class="vietlist-select" placeholder="Category" [formControl]="category">
          @for (key of event_category; track $index) {
          <mat-option [value]="key.id">{{ key.name }}</mat-option>
          }
        </mat-select>
      </div>
      <div class="flex-grow-1 mx-1">
        <input type="text" class="input-control" placeholder="Enter Title" [formControl]="postTitle" />
      </div>
      <div class="mx-1 flex-grow-1">
        <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode" [value]="street">
        </AutocompleteComponent>
      </div>
      <div class="mx-1">
        <div class="search-btn" (click)="searchBusiness()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
      <div class="mx-1">
        <button class="btn search-btn" (click)="clearFilters()">
          Clear Filters
        </button>
      </div>
    </div>
  </div>

  <div class="lisiting-container mt-4">
    <div class="layout-icon d-flex align-items-center">
      <div class="grid-layout-icon d-flex align-items-center" [ngClass]="{ 'active-layout': selectedLayout == 'grid' }"
        (click)="handleLayout('grid')">
        <mat-icon>grid_on</mat-icon>
      </div>
      <div class="list-layout-icon d-flex align-items-center" [ngClass]="{ 'active-layout': selectedLayout == 'list' }"
        (click)="handleLayout('list')">
        <mat-icon>view_list</mat-icon>
      </div>
      <!-- <div class="mx-1">
            <mat-select>
                <mat-option></mat-option>
            </mat-select>
        </div> -->
    </div>
    <div class="view-container">
      @if (selectedLayout == 'grid') {
      <div class="grid-view-container row">
        @for (
        key of publishEventsArray
        | paginate
        : {
        itemsPerPage: postPerPage,
        currentPage: currentPage,
        totalItems: totalCount
        };
        track $index
        ) {
        <div class="grid-card col-lg-4">
          <div class="listing-img">
            <img *ngIf="key && key.featured_image && key.featured_image.length > 0" [src]="key.featured_image[0]" />
          </div>
          <div class="listing-description">
            <div class="listing-heading">
              <h3 (click)="gotToEventDetails(key.post_id, true)">
                {{ key.post_title }}
              </h3>
            </div>
            <div class="listing-info">
              <li>{{ key.post_content }}</li>
              <li>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ key?.event_dates?.start_date | date: 'longDate' }}
                {{ key?.event_dates?.start_time }}AM -
                {{ key?.event_dates?.end_time }} PM
              </li>
            </div>
            <!-- <div class="lisiting-package">
                    <span>$ Package : Free Business</span>
                  </div> -->
            @if (key?.rating_count) {
            <div class="listing-rating">
              <div class="d-flex">
                @if (key?.rating_count >= 1) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count >= 2) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count >= 3) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count >= 4) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count > 4) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
              </div>
            </div>
            }
          </div>
        </div>
        }
      </div>
      } @else {
      <div class="list-view-container">
        @for (
        key of publishEventsArray
        | paginate
        : {
        itemsPerPage: postPerPage,
        currentPage: currentPage,
        totalItems: totalCount
        };
        track $index
        ) {
        <div class="d-flex small-screen-view">
          <div class="listing-img-container">
            <div class="listing-img">
              <img *ngIf="key && key.featured_image && key.featured_image.length > 0" [src]="key?.featured_image[0]" />
            </div>
          </div>
          <div class="listing-img-info">
            <div class="listing-heading">
              <h3>
                {{ key.post_title }}
              </h3>
            </div>
            <div class="listing-info">
              <li>{{ key.post_content }}</li>
              <li>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ key?.event_dates?.start_date | date: 'longDate' }}
                {{ key?.event_dates?.start_time }}AM -
                {{ key?.event_dates?.end_time }} PM
              </li>
            </div>
            <!-- <div class="lisiting-package">
                    <span>$ Package : Free Business</span>
                  </div> -->
            @if (key?.rating_count) {
            <div class="listing-rating">
              <div class="d-flex">
                @if (key?.rating_count >= 1) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count >= 2) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count >= 3) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count >= 4) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
                @if (key?.rating_count > 4) {
                <i class="fa fa-star" aria-hidden="true" style="color: rgb(155, 155, 155); font-size: 17px"></i>
                }
              </div>
            </div>
            }
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
        (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
</div>