<section class="banner" style="background-image: url('/assets/image/all-event-banner-new.png')">
  <div class="content">
    <h1>
      <b style="font-size: 40px">Mark Your Calendars</b> <br />
      Step into the vibrant world of Vietlist.biz events.
    </h1>
  </div>
</section>
<section style="background-color: #f6f6f6;">
<div class="container-fluid main-container g-0">
  <div class="heading">
    <h1>Upcoming Events</h1>
    <p>
      Whether it’s networking, seminars, or cultural festivities, stay updated
      with events that connect and enrich our community
    </p>
  </div>
  <div class="row search-fields mt-4">
    <div class="d-flex">
      <div class="flex-grow-1 mx-1">
        <mat-select class="vietlist-select" placeholder="Category" [formControl]="category">
          @for (key of event_category; track $index) {
          <mat-option [value]="key.id">{{ key?.name }}</mat-option>
          }
        </mat-select>
      </div>
      <div class="flex-grow-1 mx-1">
        <input type="text" class="input-control" placeholder="Enter Title" [formControl]="postTitle" />
      </div>
      <div class="mx-1 flex-grow-1">
        <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode" [value]="street">
        </AutocompleteComponent>
      </div>
      <div class="mx-1 btn-wrapper">
        <div class="search-btn" (click)="searchBusiness()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
      <div class="mx-1 btn-wrapper">
        <button class="btn black-bg-btn" style="padding: 7px 2em" (click)="clearFilters()">
          Clear Filters
        </button>
      </div>
    </div>
  </div>

  <div class="main-event">
    <div class="d-flex">
      <div>
        
      </div>
    </div>
  </div>
  <div class="real-estate-agents">
    <div class="agent-grid">
      @for (key of publishEventsArray; track $index) {
      <app-card [title]="key.post_title" [imageUrl]="
            key.featured_image
              ? key.featured_image
              : '/assets/image/no-image.webp'
          " [description]="key.post_content" [buttonText]="'View Details'">
      </app-card>
      }
    </div>
    <div class="my-2">
      <button class="btn black-border-btn">Load More</button>
    </div>
  </div>
</div>
</section>