<h3>Privacy</h3>
<form [formGroup]="privacyForm">
<div class="container-fluid g-0">
  <div class="row mt-4">
    <div class="col-12 col-md-12 col-lg-6">
      <h5>Listing</h5>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <mat-select class="vietlist-select" placeholder="Privacy Type" formControlName="listing_privacy">
        <mat-option value="Anyone (Default)" selected>Anyone (Default)</mat-option>
         <mat-option value="Logged In">Logged In</mat-option>
        <mat-option value="Author only">Author only</mat-option> 
      </mat-select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-12 col-lg-6">
      <h5>Hide Profile from the User Listing Page</h5>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <mat-checkbox formControlName="hide_profile"></mat-checkbox>
    </div>
  </div>
  <div class="row mt-4 mx-1">
    <button class="btn orange-background-btn" (click)="handleSubmit()">
      @if(isLoader){
        <app-loader></app-loader>
      }@else {
        Save
      }
    </button>
  </div>
</div>
</form>