<h3>Privacy</h3>
<div class="container-fluid g-0">
  <div class="row mt-4">
    <div class="col-12 col-md-12 col-lg-6">
      <h5>Listing</h5>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <mat-select
        class="vietlist-select"
        placeholder="Privacy Type"
      >
        <mat-option value="retail" selected>Default</mat-option>
        <!-- <mat-option value="restaurant">Restaurant</mat-option>
        <mat-option value="restaurant">Service</mat-option> -->
      </mat-select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-12 col-lg-6">
      <h5>Hide Profile from the User Listing Page</h5>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
       <mat-checkbox></mat-checkbox>
    </div>
  </div>
  <div class="row mt-4 mx-1">
    <button class="btn orange-background-btn">
      Save
    </button>
  </div>
</div>
