<div class="row">
  <div class="col-12">
    <h1 class="listing-form-heading">Subscription & Verification</h1>
  </div>
</div>
<form [formGroup]="subscriptionForm">
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="terms"
          [(ngModel)]="check"
          [formControl]="verifiedBadge"
        />
        <label
          class="form-check-label"
          for="terms"
          *ngIf="hidefileds.level_id == '1'"
        >
          {{ 'Verified Listing' }}
        </label>
        <label
          class="form-check-label"
          for="terms"
          *ngIf="hidefileds.level_id == '2'"
        >
          {{ 'Verified Listing' }}
        </label>
        <label
          class="form-check-label"
          for="terms"
          *ngIf="hidefileds.level_id == '3'"
        >
          {{ 'Verified Listing' }}
        </label>
      </div>
    </div>
  </div>
  @if (verifiedBadge.value == true) {
    <div class="row px-2 my-3">
      <div class="col-12">
        <label for="" class="listing-form-label mb-2"
          >Verification upload <span class="asterik">*</span></label
        >

        <ngx-dropzone
          (change)="onSelectImage($event)"
          [accept]="'.pdf,.doc,.docx'"
        >
          <ngx-dropzone-label *ngIf="!isImageUploading"
            ><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop here
            or Browse a file (Allowed .pdf , .docx, .doc)</ngx-dropzone-label
          >
          <div *ngIf="isImageUploading" class="loader"></div>
        </ngx-dropzone>

        <div class="main_images mt-3">
          <div class="images__">
            @if (this.imageUrl) {
              <p>{{ this.imageUrl }}</p>
            } @else {
              <p>{{ businessFormDetails?.verification_upload }}</p>
            }
          </div>
        </div>
      </div>
    </div>
  }

  <br />
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Facebook <span class="asterik">*</span></label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Facebook url"
        formControlName="facebook"
      />
      <div *ngIf="subscriptionForm.get('facebook')?.invalid && subscriptionForm.get('facebook')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>
  
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Instagram <span class="asterik">*</span> </label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Instagram url"
        formControlName="instagram"
      />
      <div *ngIf="subscriptionForm.get('instagram')?.invalid && subscriptionForm.get('instagram')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>
  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label class="listing-form-label"
        >Twitter <span class="asterik">*</span></label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Twitter url"
        formControlName="twitter"
      />
      <div *ngIf="subscriptionForm.get('twitter')?.invalid && subscriptionForm.get('twitter')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>


  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Reddit </label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Reddit url"
        formControlName="reddit"
      />
      <div *ngIf="subscriptionForm.get('reddit')?.invalid && subscriptionForm.get('reddit')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>

  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Whatsapp </label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Whatsapp url"
        formControlName="whatsapp"
      />
      <div *ngIf="subscriptionForm.get('whatsapp')?.invalid && subscriptionForm.get('whatsapp')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>

  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >LinkedIn </label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter LinkedIn url"
        formControlName="linkedin"
      />
      <div *ngIf="subscriptionForm.get('linkedin')?.invalid && subscriptionForm.get('linkedin')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>

  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Youtube </label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Youtube url"
        formControlName="youtube"
      />
      <div *ngIf="subscriptionForm.get('youtube')?.invalid && subscriptionForm.get('youtube')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>

  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Snapchat </label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Snapchat url"
        formControlName="snapchat"
      />
      <div *ngIf="subscriptionForm.get('snapchat')?.invalid && subscriptionForm.get('snapchat')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>


  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Pinterest</label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Pinterest url"
        formControlName="pinterest"
      />
      <div *ngIf="subscriptionForm.get('pinterest')?.invalid && subscriptionForm.get('pinterest')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>

  <div class="row my-3 px-2">
    <div class="col-12 col-md-12 col-lg-4">
      <label for="name" class="listing-form-label"
        >Tiktok </label
      >
    </div>
    <div class="col-12 col-md-12 col-lg-8">
      <input
        class="input-control"
        placeholder="Enter Tiktok url"
        formControlName="tiktok"
      />
      <div *ngIf="subscriptionForm.get('tiktok')?.invalid && subscriptionForm.get('tiktok')?.touched" class="error-message">
        Please enter a valid link.
      </div>
    </div>
  </div>

  <div style="width: 100%; text-align: end">
    <button
      type="button"
      class="btn orange-background-btn ms-auto"
      [disabled]="
        !subscriptionForm.valid || (verifiedBadge.value && !this.imageUrl)
      "
      (click)="addBusiness()"
    >
      <app-loader *ngIf="isLoader"></app-loader>
      <span *ngIf="!isLoader">Save & Next</span>
    </button>
  </div>
</form>
