<div class="container-fluid g-0">
    <div class="heading_____ my-4">
      <h3 class="dashboard-heading">My Transactions</h3>
    </div>
    <div class="table-responsive mt-5">
      <table>
        <thead>
          <tr>
            <th>Event Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Location</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
         <tr></tr>
          <!-- Add more rows of data as needed -->
        </tbody>
      </table>
    </div>
  
  </div>
  