<div class="container-fluid mt-5">
  <div class="container user-blog-detail-cnt">
    <div class="row">
      <div class="col-12 my-3">
        <!-- <div class="img-cnt">
          <img
            [src]="
              propertyDetails?.imgsrc
                ? propertyDetails?.imgsrc
                : '/assets/image/no-image-new.jpeg'
            "
          />
        </div> -->
        <div class="blog-banner">
          <swiper-container #blogSwiper class="mySwiper" init="false">
            @for (key of propertyImages; track $index) {
            <swiper-slide>
              <div class="banner-img"
                style="background-image: url({{key}})">
                <!-- <div class="banner-text ">
                  <h3>{{key?.title}}</h3>
                  <p>
                    {{key?.description}}
                  </p>
                </div> -->
              </div>
            </swiper-slide>
            }
          </swiper-container>
        </div>
      </div>
      <div class="col-12">

        <div class="main_content__ mt-3">
          <h2 class="heading-title">{{propertyDetails?.title}}
          </h2>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 col-md-7 col-lg-8 ">
        <div class="profile-info-div-2 box-shadow">
          @if (homestatus) {
            <p><i class="fa-solid fa-home"></i> <b>Home Status</b>: {{homestatus}}</p>
          }
          @if(propertyDetails?.price ){
            <p><i class="fa-solid fa-dollar-sign"></i> <b>Price</b>: {{propertyDetails?.price }}</p>
          }@if (hometype ) {
            <p><i class="fa-solid fa-building"></i> <b>Home Type</b>: {{hometype }}</p>
          }@if (propertyDetails?.rentzestimate) {
            <p><i class="fa-solid fa-calculator"></i> <b>Estimate Rent</b>: {{propertyDetails?.rentzestimate}}</p>
          }@if (propertyDetails?.isnonowneroccupied ) {
            <p><i class="fa-solid fa-user-alt-slash"></i> <b>Is Non Owner Occupied</b>: {{propertyDetails?.isnonowneroccupied == '1' ? 'Yes' : 'No'}}</p>
          }
          @if (propertyDetails?.bathrooms) {
            <p><i class="fa-solid fa-bath"></i> <b>Bathrooms</b>: {{propertyDetails?.bathrooms}}</p>
          }
          @if (propertyDetails?.bedrooms) {
            <p><i class="fa-solid fa-bed"></i> <b>Bedrooms</b>: {{propertyDetails?.bedrooms}}</p>
          }@if (propertyDetails?.livingarea) {
            <p><i class="fa-solid fa-ruler-combined"></i> <b>Living Area size</b>: {{propertyDetails?.livingarea}}</p>
          }@if (propertyDetails?.lotareaunit ) {
            <p><i class="fa-solid fa-map-marker-alt"></i> <b>LOT Area unit</b>: {{propertyDetails?.lotareaunit }}</p>
          }
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-4 ">
        <div class="profile-info-div box-shadow position-relative ">
          @if (propertyDetails?.user_detail?.first_name || propertyDetails?.user_detail?.last_name) {
            <h3  (click)="viewAgentDetails(propertyDetails.user_detail?.user_id)" class='agent-name'   >{{propertyDetails?.user_detail?.first_name}} {{propertyDetails?.user_detail?.last_name}}</h3>
          }
          @if (propertyDetails?.user_detail?.email) {
            <p class='text-nowrap' ><i class="fa-solid fa-envelope"></i>{{propertyDetails?.user_detail?.email}}</p>
          }
          @if (propertyDetails?.user_detail?.contact) {
            <p class='text-nowrap' ><i class="fa-solid fa-phone"></i>{{propertyDetails?.user_detail?.contact}}</p>
          }
          @if (propertyDetails?.user_detail?.address) {
            <p><i class="fa-solid fa-road"></i>{{propertyDetails?.user_detail?.address}}</p>
          }
        </div>
        <div class="profile-info-div box-shadow position-relative">
          <h3><i class="fa-solid fa-map-signs"></i> Address</h3>
          @if (propertyDetails?.country_1) {
            <p><i class="fa-solid fa-flag-usa"></i> <b>Country</b>: {{propertyDetails?.country_1}}</p>
          }@if (propertyDetails?.city_1) {
            <p><i class="fa-solid fa-city"></i> <b>City</b>: {{propertyDetails?.city_1}}</p>
          }
          @if (propertyDetails?.state) {
            <p><i class="fa-solid fa-map"></i> <b>State</b>: {{propertyDetails?.state}}</p>
          }@if (propertyDetails?.zipcode ) {
            <p><i class="fa-solid fa-mail-bulk"></i> <b>Zip</b>: {{propertyDetails?.zipcode }}</p>
          }@if (propertyDetails?.streetaddress) {
            <p><i class="fa-solid fa-road"></i> <b>Street</b>: {{propertyDetails?.streetaddress}}</p>
          }

        </div>
      </div>
          <div class="col-12 mt-3">
            <div id="map" style="height: 300px; width: 100%"></div> 
          </div>
    </div>
  </div>
</div>
