@import "../../../assets/scss/common";
@import "../../../assets/scss/ads.scss";

.user-blog-detail-cnt {
    width: 1140px;
    margin-top: 8em;
}

.img-cnt {
    height: 30rem;
    width: 100%;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
    }
}

.description {
    font-size: 16px;
    color: #7a7a7a
}

.signup-cnt {
    background-color: #f9fafa;
    color: #000;
    margin-top: 35px;
    height: 200px
}

.cta__content {
    width: fit-content;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;

    .Get-started {
        font-size: 24px;
        font-weight: 600;
    }
}

.blog-heading {
    font-size: 22px;
    font-weight: 600;

}


.form-check-input:checked {
    background-color: var(--primary-color-orange) !important;
    border-color: var(--primary-color-orange) !important;
}

.form-check-label {
    color: var(--dark-grey);
    font-size: 15px;
}

h5.block-head {
    font-size: 22px;
    font-weight: 200;
    margin-top: 3rem;
    // border-bottom: solid 1px #cecece;
    padding-bottom: 10px;
}

.cta-verfied-image {
    .image-container {
        margin-left: auto;
        margin-right: auto;
        // padding-bottom: 2.25rem;
        position: relative;

        .mySwiper {
            .image {
                position: relative;
                width: 256px;
                height: 200px;
                overflow: hidden;

                .verified-logo {
                    position: absolute;
                    bottom: 3px;
                    right: 0;
                    text-align: left;
                    font-size: 12px;
                    color: #ffff;
                    padding: 0px 10px;
                    width: 100%;
                    line-height: normal;
                    margin-top: auto !important;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }

            }
        }
    }
}

.sign-up-btn {
    color: #000;
    width: fit-content;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 15px;
    border: solid 2px #000;
    border-radius: 2px;
    margin-top: 10px;
}

swiper-container {
    width: 100%;
    margin: 20px auto;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-right: 17px !important;
}

swiper-container::part(bullet-active) {
    background-color: #F89705;
    width: 28px;
    height: 13.94px;
    border-radius: 10px;
}

swiper-container::part(bullet) {
    width: 13.94px;
    height: 13.94px;
    border-radius: 50%;
}


.elementor-widget-container {
    color: #146EB4;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 38px;
    margin-top: 38px;
}

.image:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, .8));
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.comment_section {
    display: flex;
    padding: 30px 0;
    line-height: 30px;
}

.profile_comment {
    border: medium none;
    border-radius: 50%;
    float: left;
    height: 84px;
    margin-bottom: 30px;
    margin-right: 25px;
    position: relative;
    width: 84px;
    overflow: hidden;
}

.email_auther {
    color: #212529;
    text-decoration: none;
    font-size: 18px;
}

.email_auther_reply {
    color: var(--primary-color-orange);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.auther_date {
    font-size: 14px;
    color: #aaa;
}

@media (max-width:3480px) {
    .cta-verfied-image {
        .image-container {
            margin-left: auto;
            margin-right: auto;
            // padding-bottom: 2.25rem;
            position: relative;

            .mySwiper {
                .image {
                    position: relative;
                    width: 256px;
                    height: 200px;
                    overflow: hidden;

                    .verified-logo {
                        position: absolute;
                        bottom: 3px;
                        right: 0;
                        text-align: left;
                        font-size: 12px;
                        color: #ffff;
                        padding: 0px 10px;
                        width: 100%;
                        line-height: normal;
                        margin-top: auto !important;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }

                }
            }
        }
    }
}

@media (max-width:1500px) {

    swiper-container {
        width: 100% !important;
    }

    swiper-container::part(button-next) {
        right: -2rem !important;

    }

    swiper-container::part(button-prev) {
        left: -2rem !important;

    }
}

.add_div {
    border-bottom: solid 1px #cecece;
}

.clid_reply {
    margin-left: 13%;
    border-top: solid 1px #cecece;
}

.border-bottomHide {
    border-bottom: 0px !important;
}

.clid_reply_two {
    margin-left: 16%;
    border-top: solid 1px #cecece;
}


@media (max-width:820px) {
    .container {
        width: auto !important;
        margin-top: 8em;
    }

    .signup-cnt {
        background-color: #f9fafa;
        color: #000;
        margin-top: 0px;
        height: 220px
    }
}

swiper-container::part(button-next) {
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    right: -4rem;

}

.image img {
    width: 100%;
    height: 100%
}

swiper-container::part(button-prev) {
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    left: -4rem;

}

swiper-container::part(container) {
    position: initial;
}

.swiper-button-prev {
    position: absolute;
    bottom: 65%;
    left: 4px;
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    font-size: 14px;
    padding: 13px;
    z-index: 1;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 2px;
}


.swiper-button-next {
    position: absolute;
    bottom: 65%;
    right: 4px;
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    font-size: 14px;
    padding: 13px;
    z-index: 1;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 2px;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    background-color: red;
}

@media (min-width: 1501px) and (max-width: 3000px) {
    .img-cnt {
        height: 45rem
    }

}

@media (min-width: 3001px) and (max-width: 3840px) {
    .img-cnt {
        height: 45rem
    }


}

@media (max-width: 768px) {
  
    swiper-slide {

        margin-right: 30px !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    swiper-slide {

        margin-right: 20px !important;
    }

    .list-layout-wrapper {
        width: 100%;
        margin-left: 0%;
        height: 100%;
    }

    .tpg-excerpt-inner div {
        width: 100%
    }

    .heading___ {
        width: 100%;
        cursor: pointer;
    }

    .mySwiper {
        .image {
            position: relative;
            width: 600px !important;
            height: 200px;

            .verified-logo {
                position: absolute;
                bottom: 3px;
                right: 0;
                text-align: left;
                font-size: 12px;
                color: #ffff;
                padding: 0px 10px;
                width: 100%;
                line-height: normal;
                margin-top: auto !important;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }

        }
    }
}