<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <div class="img-cnt">
                <img [src]="userBlogDetails?.featured_image ? userBlogDetails?.featured_image : '/assets/image/No-image-found.jpeg'"/>
            </div>
        </div>
        <div class="col-12 my-2">
            <h1 class="blog-heading">{{userBlogDetails?.blog_title}}</h1>
            <p class="description" [innerHtml]="userBlogDetails?.blog_desc">
               
            </p>
        </div>
    </div>

    <div class="row">
        <div class="cta-verfied-image">
            <div class="image-container" style="height:320px">
                <!-- <div class="d-flex"> -->
                <swiper-container #busniessCategoriesSwiper class="mySwiper" init="false">
                    @for (item of verifiedImage; track $index) {
                    <swiper-slide>
                        <div class="image">
                            <img [src]="item.image" alt="verfied-image" />
                            <div class="verified-logo">
                                <a
                                    herf="https://vietlist.biz/staging_dev/keywords-investment-vietnam-property-market-overseas-properties-legal-considerations-return-investment-2/">Investing
                                    abroad? Here’s why Vietnam should be at the top of your list for high returns and legal
                                    ease.</a>
                            </div>
                        </div>
                    </swiper-slide>
                    }
                </swiper-container>
                <!-- Custom navigation buttons -->
                <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
                <div class="swiper-button-next"> <i class="fa-solid fa-arrow-right"></i></div>
            </div>
        </div>
    </div>
</div>