@import "../../../assets/scss/common";
@import "../../../assets/scss/ads.scss";

.container{
    width:1140px;
    margin-top:8em;
}

.img-cnt{
    height:30rem;
    width:100%;
    object-fit: cover;

    img{
        width:100%;
        height:100%;
    }
}

.description{
    font-size: 16px;
    color:#7a7a7a
}

.signup-cnt{
    background-color: #f9fafa;
    color:#000;
    margin-top:35px;
    height:200px
}
.cta__content{
    width:fit-content;
    margin:0 auto;
    padding-top:3rem;
    text-align: center;

    .Get-started{
        font-size:24px;
        font-weight: 600;
    }
}
.blog-heading{
    font-size: 22px;
    font-weight: 600;

}


.form-check-input:checked {
    background-color: var(--primary-color-orange) !important;
    border-color: var(--primary-color-orange) !important;
  }
  
  .form-check-label {
    color: var(--dark-grey);
    font-size: 15px;
  }

.block-head{
    color: #000; 
    font-weight: 300;
    font-size: 22px;
}

.cta-verfied-image {
    .image-container {
        margin-left: auto;
        margin-right: auto;
        // padding-bottom: 2.25rem;
        position: relative;

        .mySwiper {
            .image {
                position: relative;
                width: 256px;
                height: 200px;

                .verified-logo {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    text-align: left;
                    font-size: 12px;
                    color: #ffff;
                    padding: 30px 24px 15px;
                    transition: 1.2s;
                    line-height: normal;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-wrap: break-word;
                }

            }
        }
    }
}

.sign-up-btn{
    color: #000;
    width: fit-content;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 15px;
    border: solid 2px #000;
    border-radius: 2px;
    margin-top: 10px;
}

swiper-container {
    width: 100%;
    margin: 20px auto;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

swiper-container::part(bullet-active) {
    background-color: #F89705;
    width: 28px;
    height: 13.94px;
    border-radius: 10px;
}

swiper-container::part(bullet) {
    width: 13.94px;
    height: 13.94px;
    border-radius: 50%;
}


.elementor-widget-container {
    color: #146EB4;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 38px;
    margin-top: 38px;
}

.image:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, .8));
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width:1500px) {

    swiper-container {
        width: 100% !important;
    }

    swiper-container::part(button-next) {
        right: -2rem !important;

    }

    swiper-container::part(button-prev) {
        left: -2rem !important;

    }
}

@media (max-width:820px){
    .signup-cnt{
        background-color: #f9fafa;
        color:#000;
        margin-top:0px;
        height:220px
    }
}

swiper-container::part(button-next) {
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    right: -4rem;

}

.image img {
    width: 100%;
    height: 100%
}

swiper-container::part(button-prev) {
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    left: -4rem;

}

swiper-container::part(container) {
    position: initial;
}

.swiper-button-prev {
    position: absolute;
    bottom: 67%;
    left: 4px;
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    font-size: 14px;
    padding: 13px;
    z-index: 1;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 2px;
}


.swiper-button-next {
    position: absolute;
    bottom: 67%;
    right: 4px;
    color: #FFFFFF;
    background-color: #F89705;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F89705;
    font-size: 14px;
    padding: 13px;
    z-index: 1;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 2px;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    background-color: red;
}
