<section class="banner" style="position: relative">
  <div class="content" style="width: 100%">
    <h1 style="text-transform: uppercase">
      {{ agentDetails?.first_name }} {{ agentDetails?.last_name }}
    </h1>
    <div class="elementor-divider">
      <span class="elementor-divider-separator"> </span>
    </div>
  </div>
  <div class="iconDirection">
    <span
      *ngIf="agentDetails?.additional_contact_information?.facebook"
      class="elementor-grid-item"
      style="background: #3b5998"
    >
      <a
        href="{{ agentDetails?.additional_contact_information?.facebook }}"
        style="padding: 3px"
        class="elementor-icon elementor-social-icon elementor-social-icon-phone elementor-animation-grow elementor-repeater-item-f13ce3f"
        target="_blank"
      >
        <i
          class="fa-brands fa-facebook-f size_icon"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
    <span
      *ngIf="agentDetails?.additional_contact_information?.twitter"
      class="elementor-grid-item"
      style="background: #1da1f2"
    >
      <a
        href="{{ agentDetails?.additional_contact_information?.twitter }}"
        class="elementor-icon elementor-social-icon elementor-social-icon-phone elementor-animation-grow elementor-repeater-item-f13ce3f"
        target="_blank"
      >
        <i
          class="fa-brands fa-twitter size_icon"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
    <span
      *ngIf="agentDetails?.additional_contact_information?.instagram"
      class="elementor-grid-item"
    >
      <a
        [href]="agentDetails?.additional_contact_information?.instagram"
        class="elementor-icon elementor-social-icon elementor-social-icon-phone elementor-animation-grow elementor-repeater-item-f13ce3f"
        target="_blank"
      >
        <i
          class="fa-brands fa-instagram size_icon"
          aria-hidden="true"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
    <span
      *ngIf="agentDetails?.business_address?.fullAddress"
      class="elementor-grid-item"
      style="background: #0073a4"
    >
      <a
        class="elementor-icon elementor-social-icon elementor-social-icon-directions elementor-animation-grow elementor-repeater-item-098766c"
        target="_blank"
        (click)="openGoogleMapss(agentDetails?.business_address?.fullAddress)"
      >
        <i
          class="fas fa-directions size_icon"
          style="font-size: 18px; color: #fff"
        ></i
      ></a>
    </span>
  </div>
</section>

<div class="koko">
  <div class="section-container">
    <ul class="list-items">
      <li
        *ngIf="agentDetails?.business_description || agentDetails?.description"
        (click)="scrollTo('profile')"
        [class.actives]="activeTab === 'profile'"
      >
        <span> <i class="fa fa-home" aria-hidden="true"></i> </span> 
        About Us
      </li>
      <li
        *ngIf="agentDetails?.gallery_images"
        (click)="scrollTo('photo')"
        [class.active]="activeTab === 'photo'"
      >
        <span> <i class="fa fa-picture-o" aria-hidden="true"></i></span>
        Photos
      </li>
      <li
        *ngIf="longitude && longitude"
        (click)="scrollTo('mapView')"
        [class.active]="activeTab === 'mapView'"
      >
        <span> <i class="fa fa-globe" aria-hidden="true"></i> </span> Map
      </li>
    </ul>
  </div>
</div>
<section class="background_section">
  <div class="container">
    <div class="row mt-2 pt-4" id="profile">
      <div class="col-12 col-md-12 col-lg-8">
        <!-- @if (agentDetails?.business_description) { -->
          <h3 class="event-page-headings">
            <i
              class="fa fa-home"
              aria-hidden="true"
              style="font-size: 24px"
            ></i>
            Business Description
          </h3>
          <hr />
          <p class="text-break">
            {{ agentDetails?.business_description || 'Not Found'}}
          </p>
        <!-- } -->
        <!-- @if (agentDetails?.description) { -->
    
        
        <!-- } -->
        @if (agentDetails?.services_offered) {
          <h3 class="event-page-headings">
            <i
              class="fa fa-handshake"
              aria-hidden="true"
              style="font-size: 24px"
            ></i>
            Business offered
          </h3>
          <hr />
          <p
          *ngFor="let offer of agentDetails?.services_offered"
          class="tag-creation"
        >
          {{ offer}}
          
        </p>
        }
        @if (agentDetails?.gallery_images) {
          <div class="row my-4" id="photo">
            <div class="col-12 col-md-12 col-lg-12">
              <h3 class="event-page-headings">
                <i
                  class="fa fa-picture-o"
                  aria-hidden="true"
                  style="font-size: 24px"
                ></i>
                Photo(s)
              </h3>
              <hr />
              <div class="image-container">
                <div
                  class="featured_image mt-2"
                  *ngFor="
                    let key of agentDetails?.gallery_images;
                    let i = index
                  "
                >
                  <img
                    [src]="key ? key : '/assets/image/carrer-professional.jpeg'"
                    (click)="openDialog(agentDetails?.gallery_images, i)"
                  />
                  <div class="linking-icon">
                    <i
                      class="fa-solid fa-magnifying-glass-plus"
                      style="cursor: pointer"
                      (click)="openDialog(agentDetails?.gallery_images, i)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
        @if (longitude && latitude) {
          <div class="row my-4" id="mapView">
            <div class="col-12 col-md-12 col-lg-12">
              <h3 class="event-page-headings">
                <i
                  class="fa fa-globe"
                  aria-hidden="true"
                  style="font-size: 24px"
                ></i>
                &nbsp;Map
              </h3>
              <hr />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-lg-12 mt-3">
              <div id="map" style="height: 300px; width: 100%"></div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-lg-12">
              <div class="d-flex">
                <div class="flex-grow-1 position-relative">
                  <AutocompleteComponent
                    class="direction-field"
                    (setAddress)="getAddress($event)"
                    adressType="geocode"
                    [value]="directionStreet"
                  >
                  </AutocompleteComponent>
                  <div class="location-icon">
                    <i
                      class="fa-solid fa-location-arrow"
                      (click)="getCurrentLocation()"
                      style="cursor: pointer"
                    ></i>
                  </div>
                </div>
                <div class="">
                  <button class="btn get-direction-btn" (click)="getDistance()">
                    Get Directions
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3" *ngIf="distanceToEvent">
            <div class="col-12 col-lg-12">
              <label style="color: black" for="">Distance (Km)</label>
              <p style="font-weight: 500; font-size: 18px; color: black">
                {{ distanceToEvent }} Km in {{ timeEstimate }}
              </p>
            </div>
          </div>
        }
      </div>
      <div class="col-12 col-md-12 col-lg-4 mt-3">
        @if (
          agentDetails?.company_logo ||
          agentDetails?.address ||
          agentDetails?.business_address?.fullAddress ||
          agentDetails?.email ||
          agentDetails?.additional_contact_information?.contact ||
          agentDetails?.primary_phone_no
        ) {
          <div class="profile-info-div mt-3 position-relative box-shadow ">
            <h3>Contact Info</h3>
            <div class="logo-containerr">
              <img [src]="agentDetails?.company_logo" alt="" />
            </div>
            <div class="social-link">
              <div
                class="location link"
                *ngIf="agentDetails?.address"
                (click)="openGoogleMapss(agentDetails?.address)"
              >
                <i
                  class="fa-solid fa-location-dot"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <span>
                  {{ agentDetails?.address }}
                </span>
              </div>
              <div
                class="location link"
                *ngIf="agentDetails?.business_address?.fullAddress"
                (click)="openGoogleMapss(agentDetails?.business_address?.fullAddress)"
              >
                <i
                  class="fa-solid fa-map-marked"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <span>
                  {{ agentDetails?.business_address?.fullAddress }}
                </span>
              </div>
              <div
                class="location link"
                *ngIf="agentDetails?.email"
                (click)="redirectToMail(agentDetails?.email)"
              >
                <i
                  class="fa fa-envelope"
                  aria-hidden="true"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <span>
                  {{ agentDetails?.email }}
                </span>
              </div>
              <div
                class="location link"
                *ngIf="agentDetails?.additional_contact_information?.contact"
                (click)="callNumber(agentDetails?.additional_contact_information?.contact)"
              >
                <i
                  class="fa fa-phone"
                  aria-hidden="true"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <span>
                  {{ agentDetails?.additional_contact_information?.contact }}
                </span>
              </div>
              <div
                class="location link"
                *ngIf="agentDetails?.primary_phone_no"
                (click)="callNumber(agentDetails?.primary_phone_no)"
              >
                <i
                  class="fa fa-phone"
                  aria-hidden="true"
                  style="font-size: 20px; margin-right: 13px; color: #7a7a7a"
                ></i>
                <span>
                  {{ agentDetails?.primary_phone_no }}
                </span>
              </div>
            </div>
          </div>
        }
        @if (openingHour && openingHour.length) {
          @if (openingHour && openingHour.length !== 1 || openingHour[0] != 'null') {
            <div class="profile-info-div box-shadow mt-3" style="padding: 9%">
              <div
                class="d-block text-center text-md-left d-md-flex p-3 timing-cont"
              >
                <span style="font-size: 22px; font-weight: 600; color: black; text-align: start;"
                  >Hours of Operation:</span
                >
                <div class="media-body p-0">
                  <p *ngFor="let time of openingHour" class="mt-0">
                    @if (time != 'null' && time != "undefined") {
                      <div class='row ' [innerHTML]="businessService.hourFormat(time)" ></div>
                    }
                  </p>
                  <!-- <p> -->
                    <!-- <div class="hour-container row ">
                      <div class='col-4' > sunday </div> <div class='col-4' ><div> 1231231</div> <div> 8989797</div> <div> 8989797</div></div>
                    </div> -->
                  <!-- </p> -->
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>
</section>
