@import "../../../../assets/scss/common";
@import "../../../../assets/scss/banner.scss";
@import "../../../../assets/scss/heading.scss";
@import "../../../../assets/scss/variables/color.scss";

.container-fluid{
    background-color:var(--bg-color) !important;
    padding:4em;
}

.termsData{
    padding:40px;
    background-color: #fff;
    border-radius: 5px;
}