<div class="container-fluid buisness-cat">
  <div class="heading">
    <h1>Our Business Categories</h1>
    <p>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Proin sodales ultrices nulla blandit volutpat.Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      curae; Proin sodales ultrices nulla blandit volutpat.
    </p>
  </div>

  <div class="row search-fields">
    <div class="d-flex">
      <div class=" flex-grow-1">
        <mat-select class="vietlist-select" placeholder="Category" [formControl]="category">
          @for (key of post_category; track $index) {
            <mat-option [value]="key.id">{{ key.name }}</mat-option>
          }
        </mat-select>
      </div>
      <div class="mx-1 flex-grow-1">
        <AutocompleteComponent
          (setAddress)="getAddress($event)"
          adressType="geocode"
          [value]="street"
        ></AutocompleteComponent>
      </div>
      <div class="mx-1">
        <div class="search-btn" (click)="search()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
    </div>
  </div>
</div>
