@import "../../../../assets/scss/common";




.buisness-cat {
  padding: 6rem 6.25rem;
}

.container-fluid {
  background-color: #F2F2F2;

  .heading {
    margin-bottom: 24px
  }

  h1 {
    @extend %sh-styles;
  }

  p {
    @extend %ssh-styles
  }

  ;

  .heading {
    @extend %shm-styles;
  }

  .category-select {
    margin-right: 10px;
    width: 50%;

    // .mat-mdc-select {
    //   height: 55px !important;
    //   padding: 14px !important;
    // }
  }

  .address-input {
    width: 50%;

    .input-control {
      height: 55px !important;
    }
  }

  .search-form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;

    .search {
      margin-bottom: 1.875rem;
      padding: 0.625rem;

      .search-input {
        width: 100%;
        height: 100%;


        .input-group {

          .input-group-text,
          .form-control {
            background-color: white;
            border: none;
          }

        }

      }

      .add-zipcode {
        .input-group {

          .input-group-text,
          .form-control {
            background-color: #fff;
            border: none;
          }

        }
      }

      .search-btn {
        margin-bottom: 1.25rem;

        .btn {
          background-color: var(--primary-color-orange);

          i {
            color: var(--white);
          }
        }
      }
    }
  }

  .explore-more-btn {
    display: flex;
    justify-content: center;

    .btn {
      padding: 0.75rem 2.625rem;
      font-size: 16px;
    }

    .btn:hover {
      color: var(--primary-color-orange);
      border: 1px solid #F89705;
      background-color: var(--white);
    }
  }
}


.Categories-swiper-container {
  // padding-bottom: 6.25rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .main-cnt {
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000012;
    height: 440px;
    display: flex;
    align-items: center;
    background-color: #fff;

    .image-container {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      .trending-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        .trending {
          position: absolute;
          top: 0;
          right: 24px;

          .trending-text {
            background-color: var(--primary-color-orange);
            color: var(--white);
            padding: 6px 18px;
            border-radius: 4px;
            font-size: 0.875rem;
          }
        }

        .trending-title {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;

          h3 {
            padding: 0px 10px;
            color: var(--white);
          }
        }
      }
    }
  }
}




.card-heading {
  font-weight: var(--font-weight-medium);
  font-size: 22px;
  line-height: 32px;
  margin-top: 15px;
  color: var(--dark-grey)
}

.Categories-swiper-container {
  padding-top: 2.625rem;
}

swiper-container {
  width: 90%;
  height: 27rem;
  margin: 20px auto;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-fields {
  width: 52.27%;
  margin: auto;

  .search-btn-container {
    margin-left: 18px !important;
  }
}

.search-btn {
  background-color: var(--primary-color-orange);
  width: 55px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

swiper-container::part(bullet-active) {
  background-color: #F89705;
  width: 28px;
  height: 13.94px;
  border-radius: 10px;
}

swiper-container::part(bullet) {
  width: 13.94px;
  height: 13.94px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .container-fluid {
    padding-bottom: 45px;
  }

  .search-fields {
    padding: 0 24px;
    width: 100%;
    flex-direction: column;

    .flex-grow-1 {
      margin-bottom: 16px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    .search-btn-container {
      display: flex;
      justify-content: center;

      .search-btn {
        width: 50%;
      }
    }

  }

  .Categories-swiper-container {
    padding-top: 0px;

    .main-cnt {
      height: 352px;
    }
  }


}

@media(max-width:1500px) {
  .Categories-swiper-container {
    width: 100%;
  }
}

@media (max-width:1500px) {
  swiper-container {
    width: 100%;
    height: 45rem;
  }
}