@import "../../../../assets/scss/common";




.buisness-cat {
  padding-top: 6rem;
}

.container-fluid {
  background-color: #F2F2F2;

  h1 {
    @extend %sh-styles;
  }

  p {
    @extend %ssh-styles
  }

  ;

  .heading {
    @extend %shm-styles;
  }

  .search-form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;

    .search {
      margin-bottom: 1.875rem;
      padding: 0.625rem;

      .search-input {
        width: 100%;
        height: 100%;


        .input-group {

          .input-group-text,
          .form-control {
            background-color: white;
            border: none;
          }

        }

      }

      .add-zipcode {
        .input-group {

          .input-group-text,
          .form-control {
            background-color: #fff;
            border: none;
          }

        }
      }

      .search-btn {
        margin-bottom: 1.25rem;

        .btn {
          background-color: var(--primary-color-orange);

          i {
            color: var(--white);
          }
        }
      }
    }
  }

  .explore-more-btn {
    display: flex;
    justify-content: center;

    .btn {
      padding: 0.75rem 2.625rem;
      font-size: 16px;
    }

    .btn:hover {
      color: var(--primary-color-orange);
      border: 1px solid #F89705;
      background-color: var(--white);
    }
  }
}


.Categories-swiper-container {
  padding-bottom: 6.25rem;

  .main-cnt {
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000012;
    height: 440px;
    display: flex;
    align-items: center;
    background-color: #fff;

    .image-container {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}




.card-heading {
  font-weight: var(--font-weight-medium);
  font-size: 22px;
  line-height: 32px;
  margin-top: 15px;
  color: var(--dark-grey)
}

.Categories-swiper-container {
  padding-top: 2.625rem;
}

swiper-container {
  width: 100%;
  height: 28rem;
  margin: 20px auto;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-fields{
    width:65%;
    margin:auto
}
.search-btn {
    background-color: var(--primary-color-orange);
    width: fit-content;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
