<section class="banner top-banner">
  <div class="content">
    <h1>Business Blogs</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    @for(key of businessBlogArr ; track $index){
    <div class="col-12 col-lg-6 mt-3 mb-4">
      <div class="card-cnt">
        <div class="image">
          <img [src]="key?.featured_image ? key?.featured_image : '/assets/image/No-image-found.jpeg'"/>
        </div>
        <div class="content">
          <h1 class="card-heading">
             {{key?.blog_title}}
          </h1>
          <div class="post-tags">
            <div class="d-flex">
              <div>
                <i class="fa fa-user-circle-o" aria-hidden="true" style="color:rgb(116, 116, 116)"></i>
                <span class="ml-2 byAdmin"> By admin</span>
              </div>
              <div class="ms-2">
                <i class="fa fa-calendar-o" aria-hidden="true" style="color:grey"></i>
                <span class="ml-2 byAdmin"> {{key?.post_date | date:'longDate'}}</span>
              </div>
            </div>
          </div>
          <div class="blog-des">
            <p [innerHTML]="key?.blog_desc | truncateHtml: 120"></p>
          </div>
          <div class="btn-div">
            <button class="btn read-more-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
  }

  </div>
  <div class="row">
   <div class="blog-banner">
    <swiper-container #blogSwiper class="mySwiper" init="false">

      @for (key of addDetail; track $index) {
      <swiper-slide>
        <div class="banner-img" (click)="setStats(key?.id,key?.space_id)"
          style="background-image: url({{key?.img}})">
          <div class="banner-text ">
            <h3>{{key?.title}}</h3>
            <p>
              {{key?.description}}
            </p>
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
  </div>
</div>
