<section class="banner top-banner">
  <div class="content">
    <h1>Business Blogs</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-cnt">
        <div class="image">
          <img src="../../../assets/claim-your-buisness.png" />
        </div>
        <div class="content">
          <h1 class="card-heading">
            MARKETINGThe New Marketing Funnel: Tech That’s Changing The
            Marketing Process
          </h1>
          <div class="post-tags">
            <div class="d-flex">
              <div>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> By admin</span>
              </div>
              <div class="ms-2">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> October 16, 2023</span>
              </div>
            </div>
          </div>
          <div class="blog-des">
            <p>
              The marketing funnel is not as straightforward as it used to be.
              Today, it’s evolved with technological advancement...
            </p>
          </div>
          <div class="btn-div">
            <button class="btn read-more-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-cnt">
        <div class="image">
          <img src="../../../assets/claim-your-buisness.png" />
        </div>
        <div class="content">
          <h1 class="card-heading">
            MARKETINGThe New Marketing Funnel: Tech That’s Changing The
            Marketing Process
          </h1>
          <div class="post-tags">
            <div class="d-flex">
              <div>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> By admin</span>
              </div>
              <div class="ms-2">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> October 16, 2023</span>
              </div>
            </div>
          </div>
          <div class="blog-des">
            <p>
              The marketing funnel is not as straightforward as it used to be.
              Today, it’s evolved with technological advancement...
            </p>
          </div>
          <div class="btn-div">
            <button class="btn read-more-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
      <div class="card-cnt">
        <div class="image">
          <img src="../../../assets/claim-your-buisness.png" />
        </div>
        <div class="content">
          <h1 class="card-heading">
            MARKETINGThe New Marketing Funnel: Tech That’s Changing The
            Marketing Process
          </h1>
          <div class="post-tags">
            <div class="d-flex">
              <div>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> By admin</span>
              </div>
              <div class="ms-2">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> October 16, 2023</span>
              </div>
            </div>
          </div>
          <div class="blog-des">
            <p>
              The marketing funnel is not as straightforward as it used to be.
              Today, it’s evolved with technological advancement...
            </p>
          </div>
          <div class="btn-div">
            <button class="btn read-more-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-cnt">
        <div class="image">
          <img src="../../../assets/claim-your-buisness.png" />
        </div>
        <div class="content">
          <h1 class="card-heading">
            MARKETINGThe New Marketing Funnel: Tech That’s Changing The
            Marketing Process
          </h1>
          <div class="post-tags">
            <div class="d-flex">
              <div>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> By admin</span>
              </div>
              <div class="ms-2">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <span class="ml-2 byAdmin"> October 16, 2023</span>
              </div>
            </div>
          </div>
          <div class="blog-des">
            <p>
              The marketing funnel is not as straightforward as it used to be.
              Today, it’s evolved with technological advancement...
            </p>
          </div>
          <div class="btn-div">
            <button class="btn read-more-btn">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
