<section class="banner">
  <div class="content">
    <h1>{{eventPrice ? 'Pay For Event' : 'Membership Checkout'}}</h1>

  </div>
</section>

<div class="container-fluid g-0">
  <div class="container">
    <div class="form-cnt">
      <form
        #checkout="ngForm"
        (ngSubmit)="onSubmit(checkout)"
        class="checkout mt-4"
      >
      <div class="form-row mt-4" [ngClass]="{'is-invalid': !billingAddressValid}">
        <label for="billing-address-element" class="card-details">Billing Address</label>
        <div id="billing-address-element" #billingAddressElement></div>
      </div>
        <!-- <div class="form-row mt-4">
          <label for="billing-address-element" class="card-details"
            >Billing Address</label
          >
          <div id="billing-address-element" #billingAddressElement></div>
        </div> -->

        <div class="form-row mt-4">
          <label for="card-info" class="card-details">Card Details</label>
          <div id="card-info" #cardInfo class="custom-card-element"></div>

          <div
            id="card-errors"
            role="alert"
            *ngIf="error"
            class="error-message"
          >
            {{ error.message }}
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="custom-pay-button">Pay</button>
        </div>
      </form>
    </div>
  </div>
</div>
