
<div class="container-fluid g-0">
  <div class="container">
<div class="form-cnt">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center form-heading">Payment</h1>
    </div>
  </div>
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout mt-4">
    <div class="form-row">
      <!-- <label for="card-info">Card Details</label> -->
      <div id="card-info" #cardInfo class="custom-card-element"></div>

      <div id="card-errors" role="alert" *ngIf="error" class="error-message">{{ error }}</div>
    </div>

    <button type="submit btn btn-orange-b" class="custom-pay-button">Pay</button>
  </form>
</div>
  </div>
</div>




     