@import "../../../assets/scss/common";

.search-fields {
    margin: 2rem auto;

    .category-search {
        width: 45%;
    }

    .address-input {
        width: 45%;
        margin-left: 10px;
    }

    .search-btn-wrapper {
        width: 8%;
        margin-left: 15px;

        .search-btn {
            width: 56px;
            height: 40px;

            i {
                font-size: 16px;
            }
        }
    }
}

.search-btn {
    background-color: var(--primary-color-orange);
    width: fit-content;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}




::ng-deep.ng-select.ng-select-single .ng-select-container {
    height: 40px;
    background-color: #f5f5f5;
}

::ng-deep.ng-select .ng-arrow-wrapper {
    display: none;
}

::ng-deep .ng-placeholder::before {
    font-family: FontAwesome;
    content: "\f002";
    padding-right: 10px;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: var(--primary-color-orange);
    color: var(--white);

}

@media(max-width: 766px) {

    .search-fields {
        .d-flex {
            flex-wrap: wrap;
            gap: 15px;

            .category-search {
                width: 100%;
            }

            .address-input {
                width: 100%;
                margin-left: 0px;
            }

            .search-btn-wrapper {
                margin-left: auto;
                margin-right: auto;
                width: 90px;

                .search-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }

}