<!-- <section>
  <h1 class="profile-heading">Change Password</h1>
  <form [formGroup]="changePassword">
    <div class="row mt-5">
      <div class="form-group mt-2">
        <div class="col-12">
          <input
            type="password"
            class="input-control"
            placeholder="Enter your old password"
            formControlName="old_password"
          />
        </div>

        <div class="form-group mt-3">
          <div class="col-12">
            <div class="input-group">
              <input
                class="input-control"
                [type]="!isHidePassword ? 'password' : 'text'"
                placeholder="Enter your new password"
                formControlName="new_password"
              />
              <span
                class="input-group-text"
                id="basic-addon1"
                (click)="hidePassword()"
              >
                <i
                  *ngIf="!isHidePassword"
                  class="fa fa-eye-slash"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
                <i
                  *ngIf="isHidePassword"
                  class="fa fa-eye"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <input
            class="input-control"
            type="password"
            formControlName="confirm_password"
            placeholder="Confirm Password"
            appFormControlValidation
            [validationMsgId]="'confirm-password-required-msg'"
          />
   
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn orange-background-btn-w-100"
          (click)="handleChangePassword()"
          [disabled]="!changePassword.valid"
        >
          Change Passwod
        </button>
      </div>
    </div>
  </form>
</section> -->

<section>
  <h3 class="dashboard-heading">Change Password</h3>
  <form [formGroup]="changePassword">
    <div class="row mt-5">
      <div class="form-group mt-2">
        <div class="col-12">
          <div class="input-group">
          <input
            type="password"
            class="input-control"
            placeholder="Enter your old password"
            formControlName="old_password"
            [type]="isHideOldPassword? 'password' : 'text'"
          />
          <span
          class="input-group-text"
          id="basic-addon2"
          (click)="hideOldPassword()"
        >
          <i
            *ngIf="isHideOldPassword"
            class="fa fa-eye-slash"
            aria-hidden="true"
            style="color: #6c757d"
          ></i>
          <i
            *ngIf="!isHideOldPassword"
            class="fa fa-eye"
            aria-hidden="true"
            style="color: #6c757d"
          ></i>
        </span>
        </div>
        </div>

        <div class="form-group mt-3">
          <div class="col-12">
            <div class="input-group">
              <input
                class="input-control"
                [type]="!isHidePassword ? 'password' : 'text'"
                placeholder="Enter your new password"
                formControlName="new_password"
              />
              <span
                class="input-group-text"
                id="basic-addon1"
                (click)="hidePassword()"
              >
                <i
                  *ngIf="!isHidePassword"
                  class="fa fa-eye-slash"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
                <i
                  *ngIf="isHidePassword"
                  class="fa fa-eye"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
              </span>
            </div>
            @if(changePassword.get('new_password')?.touched && changePassword.get('new_password')?.hasError('pattern')){
              <span class="error-message">Password must contain uppercase , lowercase , number & special character</span>
            }
            @if(changePassword.get('new_password')?.touched && changePassword.get('new_password')?.hasError('minlength')){
              <p class="error-message">Minimum length should be 6</p>
            }
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="col-12">
            <div class="input-group">
              <input
                class="input-control"
                [type]="isHideConfirmPassword ? 'password' : 'text'"
                placeholder="Confirm Password"
                formControlName="confirm_password"
              />
              <span
                class="input-group-text"
                id="basic-addon2"
                (click)="hideConfirmPassword()"
              >
                <i
                  *ngIf="isHideConfirmPassword"
                  class="fa fa-eye-slash"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
                <i
                  *ngIf="!isHideConfirmPassword"
                  class="fa fa-eye"
                  aria-hidden="true"
                  style="color: #6c757d"
                ></i>
              </span>
            </div>
            <p
              class="error-message"
              *ngIf="
                (changePassword.get('confirm_password')?.touched ||
                  changePassword.get('confirm_password')?.dirty) &&
                changePassword.get('confirm_password')?.errors
              "
            >
              Confirm Password doesn't match with Password.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn orange-background-btn-w-100"
          (click)="handleChangePassword()"
          [disabled]="!changePassword.valid"
        >
          Change Password
        </button>
      </div>
    </div>
  </form>
</section>
