<h3 class="m-0 dashboard-heading">Manage Subscription</h3>
<div class="container-fluid g-0">
  <div class="row mt-4">
    <div class="col-12 col-md-12">
      <h5>My Membership</h5>
    </div>
    <div class="col-12 col-md-12 mt-3">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Level</th>
              <th>Billing</th>
              <th>Expiration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li>
                    <b>
                      {{ subscriptionDetails?.user_membership[0]?.level_name }}
                    </b>
                  </li>

                  <li class="change_cancel" (click)="handleChangePlan()">
                    Change Plan
                  </li>
                  <li
                    class="change_cancel"
                    (click)="
                      cancelMembership(
                        subscriptionDetails?.user_membership[0]?.level_id
                      )
                    "
                  >
                    Cancel Plan
                  </li>
                </ul>
              </td>
              <td>{{ subscriptionDetails?.user_membership[0]?.billing }}</td>
              <td>
                {{
                  subscriptionDetails?.user_membership[0]?.level_id == '1'
                    ? '--'
                    : subscriptionDetails?.user_membership[0]?.enddate
                }}
              </td>
              <!-- Add more data cells as needed -->
            </tr>
            <!-- Add more rows of data as needed -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-12">
      <h5>My Account</h5>
    </div>
    <div class="col-12 col-lg-12 mt-3">
      <p class="user-email">Username : <span style="color:#555555;font-size:15px;font-weight:400">{{ subscriptionDetails?.user_name }}</span></p>
    </div>
    <div class="col-12 col-lg-12">
      <p class="user-email">
        Email : <span style="color:#555555;font-size:15px;font-weight:400">{{ subscriptionDetails?.email }}</span>
      </p>
    </div>
    <div class="col-12">
      <div class="pmpro_actionlinks">
        <a
          id="pmpro_actionlink-profile"
          class="change_cancel"
          (click)="navigateTo('/manage-profile')"
          >Edit Profile</a
        >
        |
        <a
          id="pmpro_actionlink-change-password"
          class="change_cancel"
          (click)="navigateTo('/manage-profile/change-password')"
          >Change Password</a
        >
        |
        <a
          id="pmpro_actionlink-logout"
          class="change_cancel"
          (click)="handleLogout()"
          >Log Out</a
        >
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-12">
      <h5>Past Invoices</h5>
    </div>
    <div class="col-12 col-md-12 mt-3">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>DATE</th>
              <th>LEVEL</th>
              <th>AMOUNT</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            @for (key of subscriptionDetails?.invoice_detail; track $index) {
              <tr>
                <td style="color: #144b7c">
                  {{ key.formattedTimeStamp | date: 'mediumDate' }}
                </td>
                <td>{{ key.level_name }}</td>
                <td>{{ key.total }}</td>
                <td>{{ key.status }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
