@import "../../../../assets/scss/common";
@import "../../../../assets/scss/select.scss";
@import "../../../../assets/scss/banner.scss";

// .container {
//   margin: 5rem auto 5rem auto;
//   display: flex;
//   align-items: center;
// }

// .form-cnt {
//   margin: auto;
//   height: auto;
//   box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07) !important;
//   width: 100%;
//   max-width: 500px;
//   padding: 35px 25px;
// }

.container {
  // margin: 5rem auto 5rem auto;
  display: flex;
  align-items: center;
  margin:auto
}

.login-page-title{
  width:fit-content;
  margin:0 auto;
  text-align: center;
  font-family: "Poppins";
}

.submit-btn{
  width:fit-content;
  margin:auto;
}



.form-cnt {
  margin: auto;
  height: auto;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07) !important;
  width: 100%;
  max-width: 700px;
  padding: 35px 25px;
  background-color: #fff;
}

.input-group {
  flex-wrap: nowrap;
  position: relative;

  .input-control {
    border-radius: 4px !important;
  }

  .input-group-text {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #f5f5f5;
    border-left: none;
    cursor: pointer;
    border-radius: 4px;
  }
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
  margin-left: 12px;
}

.form-heading {
  font-size: 1.75rem;
  color: var(--dark-grey)
}

.forgot_password {
  color: #1E73bE;
  cursor: pointer;
}


/* Your component styles.css or styles.scss */

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--primary-color-orange) !important;
}


::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: var(--primary-color-orange) !important;

}

.form-check-input:checked {
  background-color: var(--primary-color-orange) !important;
  border-color: var(--primary-color-orange) !important;
}

.form-check-label {
  color: var(--dark-grey)
}

.new-to-vietlist {
  color: var(--dark-grey);
  font-size: 15px;
  margin: 0 auto;
  width: fit-content
}

.create-account {
  color: #1E73bE;
  cursor: pointer
}


ngx-intl-tel-input input {
  height: 44px;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7cace;
  border-radius: 4px;
  font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
  box-shadow: none !important;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: #3498db;
  box-shadow: none !important;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}

.iti__country-list{
  position: relative;
  border: none;
  height: 12em !important;
  overflow: auto !important;
}

.dropdown-menu.country-dropdown.show.ng-star-inserted {
  z-index: 0 !important;
}
@media screen and (max-width:720px){
  .my-custom-panel{
    width:90% !important;
  }
}

@media screen and (max-width:520px){
.top-banner{
  display:none;
  margin-top:9rem;
}
}