<!-- <div class="container-fluid g-0">
</div> -->
<div class="container-fluid g-0 links-cnt desktop-footer">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-12 col-md-6 col-lg-5 d-flex align-items-center logo-img">
      <img src="/assets/icons/brand-logo.svg" alt="Logo"  (click)="gotohome()"/>
    </div>
    <div class="col-12 col-md-6 col-lg-2 d-flex align-items-center">
      <h3>Quick Links</h3>
    </div>
    <div class="col-12 col-md-6 col-lg-2 d-flex align-items-center"></div>
    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center">
      <h3 class="newsletter-heading">Newsletter Subscribe</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-6 col-lg-5">
      <ul>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/mdi_location-radius.svg" />
            </div>
            <div>
              {{ footerPageContent?.contact?.address }}
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/fluent_call-28-filled.svg" />
            </div>
            <div>
              +1
              {{ footerPageContent?.contact?.phone_number }}
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/ri_whatsapp-fill.svg" />
            </div>
            <div>
              +1
              {{ footerPageContent?.contact?.phone_number }}
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/email.svg" />
            </div>
            <div>
              {{ footerPageContent?.contact?.email }}
            </div>
          </div>
        </li>
      </ul>
      <div class="social-link">
        <ul>
          <li>
            <a
              [href]="footerPageContent?.social_link?.facebook"
              target="_blank"
            >
              <img
                src="/assets/icons/Social-Link/FacebookIcon.svg"
                alt="facbook-logo"
              />
            </a>
          </li>
          <li>
            <a
              [href]="footerPageContent?.social_link?.linkedin"
              target="_blank"
            >
              <img
                src="/assets/icons/Social-Link/LinkedinIcon.svg"
                alt="linkedin-logo"
              />
            </a>
          </li>
          <li>
            <a [href]="footerPageContent?.social_link?.twitter" target="_blank">
              <img
                src="/assets/icons/Social-Link/TwitterIcon.svg"
                alt="twitter-logo"
              />
            </a>
          </li>
          <li>
            <a [href]="footerPageContent?.social_link?.youtube" target="_blank">
              <img
                src="/assets/icons/Social-Link/YoutubeIcon.svg"
                alt="youtube-logo"
              />
            </a>
          </li>
          <li>
            <a
              [href]="footerPageContent?.social_link?.pinterest"
              target="_blank"
            >
              <img
                src="/assets/icons/Social-Link/PrinterestIcon.svg"
                alt="pinterest-logo"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-2">
      <ul>
        @if(userDetail?.level_id == '3'){
        <li class="links" (click)="navigateTo('/resources')">Resources</li>
        }
        <li class="links" (click)="navigateTo('/for-users')">For User</li>
        <li class="links" (click)="navigateTo('/for-business')">For Businesses</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-2">
      <ul>
        <li class="links" (click)="navigateTo('/faq')">FAQ</li>
        <li class="links" (click)="navigateTo('/sitemap')" >Sitemap</li>
        <li class="links">Legal Policy</li>
        <li class="links">Terms & Conditions</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <ul>
        <li>
          <form [formGroup]="newsLetterSubscribeForm">
            <div class="d-flex">
              <div>
                <input
                  type="text"
                  class="newsletter"
                  formControlName="email"
                  placeholder="Email Address"
                />
               
              </div>
              <div>
                <button
                  class="btn orange-background-btn enter-btn"
                  (click)="subscribeEmailNewsletter()"
                >
                  &#8594;
                </button>
              </div>
      
            </div>
          </form>
        </li>
        <li class="mt-4">
          Lorem ipsum dolor sit amet consectetur. Consequat orci ultricies entum
          sed et
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Mobile View screen footer -->
<div class="container-fluid g-0 links-cnt mobile-view-footer">
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li><img src="/assets/icons/brand-logo.svg" alt="Logo" /></li>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/mdi_location-radius.svg" />
            </div>
            <div>
              {{ footerPageContent?.contact?.address }}
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/fluent_call-28-filled.svg" />
            </div>
            <div>
              +1
              {{ footerPageContent?.contact?.phone_number }}
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/ri_whatsapp-fill.svg" />
            </div>
            <div>
              +1
              {{ footerPageContent?.contact?.phone_number }}
            </div>
          </div>
        </li>
        <li>
          <div class="d-flex info-wrapper">
            <div>
              <img src="/assets/icons/email.svg" />
            </div>
            <div>
              {{ footerPageContent?.contact?.email }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3 class="mobile-view-quick-links">Quick Links</h3>
        </li>
        <li class="links" (click)="navigateTo('/resources')">Resources</li>
        <li class="links" (click)="navigateTo('/for-users')">For User</li>
        <li class="links"  (click)="navigateTo('/for-business')">For Businesses</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 mt-4">
      <ul>
        <li class="links" (click)="navigateTo('/faq')">FAQ</li>
        <li class="links">Sitemap</li>
        <li class="links">Legal Policy</li>
        <li class="links">Terms & Conditions</li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>Newsletter Subscribe</h3>
        </li>
        <li>
          <div class="d-flex" [formGroup]="newsLetterSubscribeForm">
            <div>
              <input
                type="text"
                class="newsletter"
                placeholder="Email Address"
              />
          
            </div>
            <div>
              <button class="btn orange-background-btn enter-btn"  (click)="subscribeEmailNewsletter()">
                &#8594;
              </button>
            </div>

          </div>
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur. Consequat orci ultricies entum
          sed et
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <div class="social-link">
        <ul>
          <li>
            <a
              [href]="footerPageContent?.social_link?.facebook"
              target="_blank"
            >
              <img
                src="/assets/icons/Social-Link/FacebookIcon.svg"
                alt="facbook-logo"
              />
            </a>
          </li>
          <li>
            <a
              [href]="footerPageContent?.social_link?.linkedin"
              target="_blank"
            >
              <img
                src="/assets/icons/Social-Link/LinkedinIcon.svg"
                alt="linkedin-logo"
              />
            </a>
          </li>
          <li>
            <a [href]="footerPageContent?.social_link?.twitter" target="_blank">
              <img
                src="/assets/icons/Social-Link/TwitterIcon.svg"
                alt="twitter-logo"
              />
            </a>
          </li>
          <li>
            <a [href]="footerPageContent?.social_link?.youtube" target="_blank">
              <img
                src="/assets/icons/Social-Link/YoutubeIcon.svg"
                alt="youtube-logo"
              />
            </a>
          </li>
          <li>
            <a
              [href]="footerPageContent?.social_link?.pinterest"
              target="_blank"
            >
              <img
                src="/assets/icons/Social-Link/PrinterestIcon.svg"
                alt="pinterest-logo"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
