<div class="container-fluid g-0">
  <!-- <div class="sale-cnt">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="/assets/icons/sale.svg" width="100%" height="100%" />
      </div>
      <div class="col-12 col-lg-6 m-auto">
        <div class="sale">
          <img src="/assets/icons/sale-text.svg" />
          <p class="off text-end">UP TO 50% OFF</p>
          <span class="decsription"
            >Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia curae; Proin s</span
          >
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="container-fluid g-0 links-cnt desktop-footer">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center">
      <img src="/assets/icons/brand-logo.svg" alt="Logo" />
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center">
      <h3>Quick Links</h3>
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center"></div>
    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center">
      <h3>Newsletter Subscribe</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-6 col-lg-3">
      <ul>
        <li>
          <img src="/assets/icons/mdi_location-radius.svg" /> Praesent nulla
          massa, hendrerit vestibulum gravida in, feugiat auctor felis.
        </li>
        <li>
          <img src="/assets/icons/fluent_call-28-filled.svg" /> +123 400 12356
        </li>
        <li><img src="/assets/icons/ri_whatsapp-fill.svg" /> +223 48900 123</li>
        <li><img src="/assets/icons/email.svg" /> Pexample&#64;mail.com</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <ul>
        <li class="links">Resources</li>
        <li class="links">For User</li>
        <li class="links">For Businesses</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <ul>
        <li class="links">FAQ</li>
        <li class="links">Sitemap</li>
        <li class="links">Legal Policy</li>
        <li class="links">Terms & Conditions</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <ul>
        <li>
          <div class="d-flex">
            <div>
              <input
                type="text"
                class="newsletter"
                placeholder="Email Address"
              />
            </div>
            <div>
              <button class="btn orange-background-btn enter-btn">
                &#8594;
              </button>
            </div>
          </div>
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur. Consequat orci ultricies entum
          sed et
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Mobile View screen footer -->
<div class="container-fluid g-0 links-cnt mobile-view-footer">
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li><img src="/assets/icons/brand-logo.svg" alt="Logo" /></li>
        <li>
          <img src="/assets/icons/mdi_location-radius.svg" /> Praesent nulla
          massa, hendrerit vestibulum gravida in, feugiat auctor felis.
        </li>
        <li>
          <img src="/assets/icons/fluent_call-28-filled.svg" /> +123 400 12356
        </li>
        <li><img src="/assets/icons/ri_whatsapp-fill.svg" /> +223 48900 123</li>
        <li><img src="/assets/icons/email.svg" /> Pexample&#64;mail.com</li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <ul>
        <li><h3 class="mobile-view-quick-links">Quick Links</h3></li>
        <li class="links">Resources</li>
        <li class="links">For User</li>
        <li class="links">For Businesses</li>
      </ul>
    </div>
    <div class="col-12 col-md-6 mt-4">
      <ul>
        <li class="links">FAQ</li>
        <li class="links">Sitemap</li>
        <li class="links">Legal Policy</li>
        <li class="links">Terms & Conditions</li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li><h3>Newsletter Subscribe</h3></li>
        <li>
          <div class="d-flex">
            <div>
              <input
                type="text"
                class="newsletter"
                placeholder="Email Address"
              />
            </div>
            <div>
              <button class="btn orange-background-btn enter-btn">
                &#8594;
              </button>
            </div>
          </div>
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur. Consequat orci ultricies entum
          sed et
        </li>
      </ul>
    </div>
  </div>
</div>
