@import "../../../../assets/scss/banner";

article{
    margin-top:2em;
    margin-bottom:3em;
}
strong {
    font-weight: 700;
    color: #555;
}
p {
    font-size: 16px;
    line-height: 30px;
    color: #555;
}

.wp-block-separator {
    border: 1px solid;
    border-left: none;
    border-right: none;
}