<h3 class="dashboard-heading">Cancellation Policy Settings</h3>

<div class="conatiner-fluid mt-4">
    <div class="row">
        <div class="col-12 col-md-9">
            <textarea name="" id="" cols="30" rows="60" class="input-control" style="height:65px" placeholder="Enter Cancellation Policies"></textarea>
        </div>
        <div class="col-12 mt-3">
            <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="terms"
                />
                <label class="form-check-label" for="terms">
                  Refund on Cancellation
                </label>
              </div>
        </div>
        <div class="col-12 mt-3">
            <button class="btn orange-background-btn">Submit</button>
        </div>
    </div>
</div>