@import "../../../../assets/scss/common";

.container-fluid{
    margin-top:3rem
}

h5{
    color:rgb(123, 123, 123);
    font-size:16px;
    font-weight:500
}

.mdc-switch:enabled .mdc-switch__track::after {
    background: #545353;
}

::ng-deep.mdc-switch-selected-handle-color{
    background-color: var(--primary-color-orange) !important;
}

::ng-deep.mdc-switch:enabled .mdc-switch__track::after {
    background: var(--primary-color-orange) !important;
}
::ng-deep.mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background: var(--primary-color-orange) !important;
}