<div class="btn-cont">
  <button (click)="openDialogs()" class="add-btn rounded">Add New</button>
</div>

<div class="table-container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Lists And Tags</th>
        <th scope="col">Emails</th>
        <th scope="col">Status</th>
        <th scope="col">Subscribed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subscriber of subscriberList">
        <td class='clickable-cell'  (click)="openDialogs(subscriber)">
          {{ subscriber?.name || '--' }}
        </td>
        <td>{{ subscriber?.email || '--' }}</td>
        <td>{{ subscriber?.list_and_tags || '--' }}</td>
        <td>{{ subscriber?.emails || '--' }}</td>
        <td>{{ this.status[subscriber?.status] }}</td>
        <td>{{ service.formatDate(subscriber?.subscribed) || '--' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #secondDialog let-modal>
  <h2 class="background_section2 text-center mt-3" matDialogTitle>
    Add Subscriber
  </h2>
  <section>
    <div class="container">
      <div class="row" id="profile">
        <form [formGroup]="subscriberForm">
          <div class="mt-2">
            <div class="row my-4">
              <div class="col-12 col-md-12 col-lg-12">
                <input
                  type="text"
                  formControlName="email"
                  class="input-control"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12 col-md-12 col-lg-12">
                <input
                  type="text"
                  formControlName="First_name"
                  class="input-control"
                  placeholder="First Name"
                />
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12 col-md-12 col-lg-12">
                <input
                  type="text"
                  formControlName="Last_name"
                  class="input-control"
                  placeholder="Last Name"
                />
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12 col-md-12 col-lg-12">
                <mat-select
                  class="vietlist-select"
                  placeholder="List"
                  formControlName="List_id"
                >
                  @for (key of list; track $index) {
                    <mat-option [value]="key?.ID">{{ key?.name }}</mat-option>
                  }
                </mat-select>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-12 col-md-12 col-lg-12">
                <mat-select
                  class="vietlist-select"
                  placeholder="Status"
                  formControlName="status"
                >
                  @for (key of statusArray; track $index) {
                    <mat-option [value]="key?.value">{{ key?.name }}</mat-option>
                  }
                </mat-select>
              </div>
            </div>

            <div class="row mt-4 mb-4">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="d-flex justify-content-center">
                  <button
                    matDialogClose
                    class="btn orange-background-btn-w-100"
                    style="color: #fff"
                  >
                    Close
                  </button>
                  &nbsp;
                  <button
                    class="btn orange-background-btn-w-100"
                    style="color: #fff"
                    (click)="addSubscriber()"
                  >
                    {{ isLoading ? 'Loading...' : 'Submit' }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</ng-template>
