<section>
  <div class="container-fluid g-0">
    <div class="not-found">
      <p>404</p>
    </div>
    <div class="return-wrapper">
      <div class="not-found-text">
        <div class="text-center">
          <p>Sorry, Page Not Found</p>
        </div>
        <div class="text-center">
          <span>The page you request could not be found</span>
        </div>
        <div class="text-center">
          <button class="btn" (click)="back()">Go Back To Home</button>
        </div>
      </div>
    </div>
  </div>
</section>
