<section class="banner">
  <div class="content">
    <h1>Listings</h1>
  </div>
</section>
<div class="container-fluid g-0">
  <div class="row search-fields mt-4">
    <div class="d-flex">
      <div class="flex-grow-1">
        <!-- <mat-select
          class="vietlist-select"
          placeholder="Category"
          [formControl]="category"
        >
          @for (key of post_category; track $index) {
            <mat-option [value]="key.id">{{ key.name }}</mat-option>
          }
        </mat-select> -->
        <form style="height: 100%" [formGroup]="findBusinessForm">
          <input
            type="text"
            class="text-input"
            placeholder="Enter business name"
            formControlName="post_title"
          />
        </form>
      </div>
      <div class="mx-1 flex-grow-1">
        <AutocompleteComponent
          (setAddress)="getAddress($event)"
          adressType="geocode"
          [value]="street"
        >
        </AutocompleteComponent>
      </div>
      <div class="mx-1 btn-wrapper">
        <div
          class="search-btn"
          [ngClass]="{
            'disabled-search': findBusinessForm.invalid && !fullAddress
          }"
          (click)="search('btn')"
        >
          @if (isLoader) {
            <app-loader></app-loader>
          } @else {
            <i class="fa fa-search" aria-hidden="true"></i>
          }
        </div>
      </div>
      <div class="mx-1 btn-wrapper">
        <button
          class="btn search-btn"
          [disabled]="findBusinessForm.invalid && !fullAddress"
          (click)="clearFilters()"
        >
          Clear Filters
        </button>
      </div>
    </div>
  </div>
  <div class="lisiting-container mt-4">
    <div class="layout-icon d-flex align-items-center icons-grid-list">
      <div
        class="grid-layout-icon d-flex align-items-center"
        [ngClass]="{ 'active-layout': selectedLayout == 'grid' }"
        (click)="handleLayout('grid')"
      >
        <mat-icon>grid_on</mat-icon>
      </div>
      <div
        class="list-layout-icon d-flex align-items-center"
        [ngClass]="{ 'active-layout': selectedLayout == 'list' }"
        (click)="handleLayout('list')"
      >
        <mat-icon>view_list</mat-icon>
      </div>
    </div>
    <div class="view-container">
      @if (selectedLayout == 'grid') {
        <div class="grid-view-container row">
          @if(!isSkeltonLoader){

          
          @if (businessCategoriesArray.length) {
            @for (
              key of businessCategoriesArray
                | paginate
                  : {
                      itemsPerPage: postPerPage,
                      currentPage: currentPage,
                      totalItems: totalCount
                    };
              track $index
            ) {
              <div class="grid-card col-12 col-md-6 col-lg-4 onlarge_screen">
                <div class="listing-wrapper">
                  <div class="listing-img" (click)="gotToListing(key, true)">
                    @if (key.image?.length > 0) {
                      <img [src]="key.image[0]" alt="business-listing" />
                    } @else {
                      <img
                        src="/assets/image/no-image.webp"
                        alt="business-listing"
                      />
                    }
                    <div class="linking-icon">
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </div>
                    @if (isGlobal) {
                      <div class="verified-logo">
                        <img
                          src="/assets/image/cta-verfied-img2.svg"
                          alt="verfied-logo"
                        />
                      </div>
                    }
                    @if (key.default_category?.name) {
                      <div class="category-name">
                        <span [innerHTML]="key.default_category?.name"></span>
                      </div>
                    }
                  </div>
                  <div class="listing-description">
                    <div class="listing-heading">
                      <h3 (click)="gotToListing(key, true)">
                        {{ key.post_title }}
                      </h3>
                    </div>
                    <div class="listing-info">
                      <!-- <p [innerHTML]=" key.post_content">
                </p> -->
                <p [innerHTML]="key.post_content |truncateHtml: 200" >
                </p>
                    </div>
                    <!-- <div class="lisiting-package">
                  <span>$ Package : Free Business</span>
                </div> -->
                    <!-- <div class="listing-rating">
                  <div class="d-flex">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div> -->
                    <div class="listing-rating">
                      <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill"
                            >&#9733;</span
                          >&#9733;
                        </span>
                      </ng-template>
                      <ngb-rating
                        [rate]="key.overall_rating"
                        [starTemplate]="t"
                        [readonly]="true"
                        [max]="5"
                      ></ngb-rating>
                    </div>
                  </div>
                </div>
              </div>
            }
            <div class="row">
              <div class="col-md-12 mt-5">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  [responsive]="true"
                  [maxSize]="5"
                  (pageChange)="handlePageChange($event)"
                >
                </pagination-controls>
              </div>
            </div>
          } @else {
            <div class="text-center my-5">
              <h4 class="no-records-found-2">No records found !</h4>
            </div>
          }}@else {
            <div class="row">
                @for (_ of [1,2,3]; track $index) {
                <div class="col-4">
                  <app-skeleton-loading height="200px"></app-skeleton-loading>
                  <div class="d-flex flex-column gap-3 mt-3">
                    <app-skeleton-loading height="20px"></app-skeleton-loading>
                    <app-skeleton-loading height="20px"></app-skeleton-loading>
                    <app-skeleton-loading height="20px"></app-skeleton-loading>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      } @else {
        <div class="list-view-container">
          @if (!isSkeltonLoader) {
            @if (businessCategoriesArray.length) {
              @for (
                key of businessCategoriesArray
                  | paginate
                    : {
                        itemsPerPage: postPerPage,
                        currentPage: currentPage,
                        totalItems: totalCount
                      };
                track $index
              ) {
                <div class="d-flex small-screen-view">
                  <div class="listing-img-container">
                    <div class="listing-img" (click)="gotToListing(key, true)">
                      @if (key.image?.length > 0) {
                        <img [src]="key.image[0]" alt="business-listing" />
                      } @else {
                        <img
                          src="/assets/image/no-image.webp"
                          alt="business-listing"
                        />
                      }
                      <div class="linking-icon">
                        <i class="fa fa-link" aria-hidden="true"></i>
                      </div>
                      @if (key.default_category?.name) {
                        <div class="category-name">
                          <span [innerHTML]="key.default_category?.name"></span>
                        </div>
                      }
                      @if (isGlobal) {
                        <div class="verified-logo">
                          <img
                            src="/assets/image/cta-verfied-img2.svg"
                            alt="verfied-logo"
                          />
                        </div>
                      }
                    </div>
                  </div>
                  <div class="listing-img-info">
                    <div class="listing-heading">
                      <h3 (click)="gotToListing(key, true)">
                        {{ key.post_title }}
                      </h3>
                    </div>
                    <div class="listing-info">
                      <!-- <p [innerHTML]=" key.post_content">
              </p> -->
              <p [innerHTML]="key.post_content |truncateHtml: 200" >
              </p>
                    </div>
                    <!-- <div class="lisiting-package">
                  <span>$ Package : Free Business</span>
                </div> -->
                    <!-- <div class="listing-rating">
                  <div class="d-flex">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div> -->
                    <div class="listing-rating">
                      <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill"
                            >&#9733;</span
                          >&#9733;
                        </span>
                      </ng-template>
                      <ngb-rating
                        [rate]="key.overall_rating"
                        [starTemplate]="t"
                        [readonly]="true"
                        [max]="5"
                      ></ngb-rating>
                    </div>
                  </div>
                </div>
              }
              <div class="row">
                <div class="col-md-12 mt-5">
                  <pagination-controls
                    previousLabel="Prev"
                    nextLabel="Next"
                    [responsive]="true"
                    [maxSize]="5"
                    (pageChange)="handlePageChange($event)"
                  >
                  </pagination-controls>
                </div>
              </div>
            } @else {
              <div class="text-center my-5">
                <h4 class="no-records-found-2">No records found !</h4>
              </div>
            }
          } @else {
            <!-- @for (_ of [1,2,3]; track $index) { -->
              <div class="row">
                <div class="col-4">
                  <app-skeleton-loading height="200px"></app-skeleton-loading>
                </div>
                <div class="col-2 d-flex flex-column gap-3 mt-2">
                  <app-skeleton-loading height="20px"></app-skeleton-loading>
                  <app-skeleton-loading height="20px"></app-skeleton-loading>
                  <app-skeleton-loading height="20px"></app-skeleton-loading>
                </div>
              </div>
            <!-- } -->
          }
        </div>
      }
    </div>
  </div>
</div>
