<div class="container main-container">
  <div class="heading">
    <h1>Different Plans Available For Businesses</h1>
    <p>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Proin sodales ultrices nulla blandit volutpat. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      curae; Proin sodales ultrices nulla blandit volutpat.
    </p>
  </div>

  <div class="container">
    <div class="row">
      @for (plan of subscriptionPlans; track $index) {
        <div class="col-12 col-md-6 col-lg-4">
          <div class="subscription-plan-cnt">
            <div class="plan-content">
              @if (plan.pouplar) {
                <div class="ribbon"><span>Popular</span></div>
              }
              <div class="plan-header">
                <h2>{{ plan.name }}</h2>
                <div class="d-flex align-items-center flex-wrap">
                  <div>
                    <h1>$ {{ plan.billing_amount }}</h1>
                  </div>
                  <div class="ml-2"><span>/yearly subscription</span></div>
                </div>
              </div>
              <div
                class="plan-list"
                [innerHTML]="getTrustedHTML(plan.description)"
              ></div>
              <div class="plan-action">
                <button
                  class="btn orange-background-btn"
                  (click)="navigateToConfirmPayment(plan.id)"
                >
                  {{
                    isAuthenticated === true ? 'Choose Plan' : 'Sign me up !'
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
