@import "../../../assets/scss/common.scss";

.main-container {

    margin-top: 8.5rem;
    margin-bottom: 6rem;

    .subscription-container {
        width: 84%;
        margin-left: auto;
        margin-right: auto;

        .subscription-plan-cnt {
            width: 95%;
        }
    }
}

.heading {
    width: 56%
}

h1 {
    @extend %sh-styles;
    font-size: 32px !important;


}

p {
    @extend %ssh-styles
}

.heading {
    @extend %shm-styles
}
// #B6BDC6 #E3C7AF
/* Custom margin classes */
.subscription-plan-cnt.plan-1 {
  margin-top: 0; /* Adjust as needed */
}

.subscription-plan-cnt.plan-2 {
  margin-top: 6em; /* Adjust as needed */
}

.subscription-plan-cnt.plan-3 {
  margin-top: 11em; /* Adjust as needed */
}

.subscription-plan-cnt {
    width: 100%;
    // box-shadow: 0px 0px 20px #00000026;
    // border: 3px solid transparent;
    border:none;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    height: auto;
    position: relative;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #B6BDC6, #E3C7AF);
    padding: 0.75em 0 1em 0;

    // &:hover {
    //     border: solid 3px var(--primary-color-orange);
    //     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    //     transform: translateY(-5px);
    // }

    .plan-content {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ribbon {
        position: absolute;
        top: -3px;
        right: -11%;
        transform: translateX(-50%);
        background-color: var(--primary-color-mustard);
        padding: 5px 15px;
        border-radius: 0 0 10px 10px;
        z-index: 1;
    }

    .ribbon span {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }


    .plan-header {
        padding: 0px 10px;
        width: 100%;
        margin: 10px auto;
        border-radius: 4px;
        // display: flex;
        // flex-direction: column;
        text-align: center;
        // align-items: center;

        h2 {
            font-weight: var(--font-weight-semibold);
            font-size: 35px;
            width: 100%;
            // color: var(--primary-color-blue) !important;
            color:#000;
            transition: color 0.1s ease-in-out;
        }

        h1 {
            font-weight: var(--font-weight-semibold);
            font-size: 64px;
            text-align: center;
            // color: var(--primary-color-blue);
            color:#000;
            margin-top: 16px;
            transition: color 0.1s ease-in-out;

            span {
                font-size: 32px;
                // color: #146EB4;
                font-weight: var(--font-weight-semibold);
                color:#000;
                text-align: center;
            }

        }

        span {
            font-size: 20px;
            // color: #146EB4;
            color:#000;
            margin-left: 4px;
            transition: color 0.1s ease-in-out;
        }
    }

    // &:hover .plan-header {
    //     background-color: var(--primary-color-blue);

    //     h1 {
    //         color: var(--light-grey);

    //         span {
    //             color: var(--light-grey);
    //         }
    //     }

    //     span {
    //         color: var(--light-grey)
    //     }

    //     h2 {
    //         color: var(--light-grey) !important
    //     }

    // }

    .plan-list {
        // height: auto;
        height: 34rem;
        overflow: auto;
        padding: 0 0.625rem;
        margin-bottom: 1.25rem;

        ul {
            list-style-type: none !important;
            padding: 10px;
        }

        li {
            position: relative;
            margin-bottom: 22px;
            font-size: 15px;
            font-weight: var(--font-weight-normal);
            color: #000;
            display: flex;

            i {
                color: var(--primary-color-orange);
            }
        }

        .tick-icon {
            display: inline-block;
            margin-top: 5px;
            width: 13px;
            height: 15px;
            background: url('/assets/icons/tick.svg') center center no-repeat;
            background-size: cover;
            margin-right: 15px;
        }
    }

    .plan-list ul {
        list-style-type: none;
    }
}


.plan-action {
    margin: 0 auto 25px auto;
    width: fit-content;
}



@media screen and (max-width: 1440px) {

    .subscription-plan-cnt {
        min-height: auto;
        margin-bottom: 30px;
    }

    .subscription-plan-cnt .plan-content {
        margin-top: 42px
    }
}

@media screen and (max-width: 1024px) {
    .subscription-plan-cnt {
        min-height: auto;
        margin-bottom: 30px;
    }

    .col-12.col-md-6.col-lg-4.popular-card {
        margin-top: 10% !important;
    }

    .subscription-plan-cnt .plan-header {
        h1 {

            font-size: 36px;

        }

        span {
            font-size: 16px
        }

        h2 {
            font-size: 18px
        }
    }

    .subscription-plan-cnt .plan-content {
        margin-top: 42px
    }
}

@media screen and (max-width: 991px) {
    .plan-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {

    .main-container {
        margin-bottom: 2.625rem;

        .heading {
            width: 100%;

            h1 {
                font-size: 24px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }

    .subscription-plan-cnt {
        min-height: auto;
        margin-bottom: 30px;
        width: 100% !important;

    }

    .subscription-plan-cnt.plan-1 {
        margin-top: 0; /* Adjust as needed */
      }
      
      .subscription-plan-cnt.plan-2 {
        margin-top: 0; /* Adjust as needed */
      }
      
      .subscription-plan-cnt.plan-3 {
        margin-top: 0; /* Adjust as needed */
      }

    .col-12.col-md-6.col-lg-4.popular-card {
        margin-top: 10% !important;
    }

    .subscription-plan-cnt .plan-header {
        h1 {

            font-size: 36px;

        }


    }

 

    .subscription-plan-cnt .plan-content {
        margin-top: 42px
    }
}


@media screen and (max-width: 480px) {
    .subscription-plan-cnt {
        min-height: auto;
        margin-bottom: 30px;
    }

    .col-12.col-md-6.col-lg-4.popular-card {
        margin-top: 10% !important;
    }

    .subscription-plan-cnt .plan-header {
        h1 {

            font-size: 36px;

        }


    }

    .subscription-plan-cnt .plan-content {
        margin-top: 42px
    }
}


@media screen and (max-width: 375px) {
    .subscription-plan-cnt {
        min-height: auto;
        margin-bottom: 30px;
    }

    .col-12.col-md-6.col-lg-4.popular-card {
        margin-top: 10% !important;
    }

    .subscription-plan-cnt .plan-header {
        h1 {

            font-size: 36px;

        }


    }

    .subscription-plan-cnt .plan-content {
        margin-top: 42px
    }
}


@media screen and (max-width: 320px) {
    .subscription-plan-cnt {
        min-height: auto;
        margin-bottom: 30px;
    }

    .col-12.col-md-6.col-lg-4.popular-card {
        margin-top: 10% !important;
    }

    .subscription-plan-cnt .plan-header {
        h1 {

            font-size: 36px;

        }


    }

    .subscription-plan-cnt .plan-content {
        margin-top: 42px
    }
}