<div class="container main-container">
  <div class="heading">
    <h1>{{planHeaderContent?.plans_section?.title}}</h1>
    <p>
      {{planHeaderContent?.plans_section?.description}}
    </p>
  </div>

  <div class="container">
    <div class="row">
      @for (plan of subscriptionPlans; track $index) {
      <div class="col-12 col-md-6 col-lg-4">
        <div class="subscription-plan-cnt">
          <div class="plan-content">
            @if (plan.pouplar) {
            <div class="ribbon"><span>Popular</span></div>
            }
            <div class="plan-header">
              <h2>{{ plan.name }}</h2>
              <div class="d-flex align-items-center flex-wrap">
                <div>
                  <h1><span [innerHTML]="plan.currency.symbol"></span>{{ plan.billing_amount }}</h1>
                </div>
                <div class="ml-2"><span>/per Month</span></div>
              </div>
            </div>
            <div class="plan-list">
              <ul>
                @for (item of getDescriptionItems(plan.description); track $index) {
                <li> <span class="tick-icon"></span> {{item}}</li>
                }
              </ul>
            </div>
            <div class="plan-action">
              <button class="btn orange-background-btn" (click)="navigateToConfirmPayment(plan.id)">
                {{
                isAuthenticated === true ? 'Choose Plan' : 'Sign me up !'
                }}
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>