<div class="container-fluid main-container">
  <div class="heading">
    <h1>{{ homePageData?.plans_section?.title }}</h1>
    <p>
      {{ homePageData?.plans_section?.description }}
    </p>
  </div>

  <div class="subscription-container">
    <div class="row">
      @for (plan of subscriptionPlans; track $index) {
      <div class="col-12 col-md-12 col-lg-4 ">
        <div class="subscription-plan-cnt plan-{{ $index + 1 }}">
          <div class="plan-content">
            @if (plan.pouplar) {
            <div class="ribbon"><span>Popular</span></div>
            }
            <div class="plan-header">
              <h2>{{ plan.name }}</h2>
              <div class="d-flex align-items-center justify-content-center flex-wrap">
                <div>
                  <h1>
                    <span [innerHTML]="plan.currency.symbol"></span>{{ plan.billing_amount }}
                  </h1>
                </div>
                <div class="ml-2"><span>/per Month</span></div>
              </div>
            </div>
            <div class="plan-list">
              <ul>
                @for (
                item of getDescriptionItems(plan.description);
                track $index
                ) {
                <li><span class="tick-icon"></span> {{ item }}</li>
                }
              </ul>
            </div>
            <div class="plan-action">
              <button class="btn black-bg-btn" style="background-color: #000;padding-right: 5em;padding-left:5em ;" (click)="navigateToConfirmPayment(plan.id)" [disabled]="userDetails?.level_id === plan.id">
                {{userDetails?.level_id === plan.id ? 'Active' : 'Choose Plan'}}
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>