<div class="container-fluid">
    <div class="cta-verfied-image" style="margin-top:8rem">
        <div class="elementor-element elementor-element-1b26e33 elementor-widget elementor-widget-text-editor"
            data-id="1b26e33" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
                <p><strong>/ USER BLOG / <span>{{userBlogDetails?.blog_title}}</span></strong></p>
            </div>
        </div>
        <div class="image-container" style="height:320px">
            <!-- <div class="d-flex"> -->
            <swiper-container #busniessCategoriesSwiper class="mySwiper" init="false">
                @for(key of userdetails; track $index){
                <swiper-slide (click)="viewuserdetails(key)">
                    <div class="image">
                        <img [src]="key?.featured_image ? key?.featured_image : '/assets/image/No-image-found.jpeg'"
                            alt="verfied-image" />
                        <div class="verified-logo">
                            <a>{{key?.blog_title}}</a>
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            <!-- Custom navigation buttons -->
            <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="swiper-button-next"> <i class="fa-solid fa-arrow-right"></i></div>
        </div>
    </div>

    <section>

        <div class="container">
            <div class="row">
                <div class="main_content__">
                    <h2 class="heading-title">{{userBlogDetails?.blog_title}}
                    </h2>
                </div>
                <div class="content___info">
                    <div class="blog___">
                        <i class="far fa-user-circle"></i> &nbsp;<span>BlogBlitz &nbsp;</span>
                    </div>
                    &nbsp;
                    <div class="blog___">
                        <i class="fa-regular fa-calendar icon-size"></i> &nbsp;<span>{{userBlogDetails?.post_date ?
                            userBlogDetails?.post_date:'No Date'}} &nbsp;</span>
                    </div>
                    &nbsp;
                    <div class="blog___">
                        <i class="far fa-comment-dots"></i> &nbsp;<span>No Comments</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="main_content__">
                        <div [innerHTML]="userBlogDetails?.blog_desc" class="blog-content"></div>

                        @if(userBlogDetails?.author_detail){
                        <div class="uwp_widgets">
                            <div class="content_author text-md-left  bg-light">
                                <div class="image__">
                                    <a><img style="border-width: 4px !important;" loading="lazy" decoding="async"
                                            [src]="userBlogDetails?.author_detail?.user_image ? userBlogDetails?.author_detail?.user_image : '/assets/image/No-image-found.jpeg'"
                                            class="rounded-circle shadow border border-white border-width-4 mr-3"
                                            width="60" height="60" alt="BlogBlitz"></a>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0">Author: <a
                                            >{{userBlogDetails?.author_detail?.first_name
                                            + ' ' + userBlogDetails?.author_detail?.last_name}}</a>
                                    </h5>

                                    <p>{{userBlogDetails?.author_detail?.user_info}}</p>
                                </div>
                            </div>
                        </div>
                        }
                        <div class="comment__">
                            <h5 class="block-head">
                                0 Comments
                            </h5>
                            <div class="comment_section">
                                <div class="profile_comment">
                                    <img
                                        src="https://vietlist.biz/staging_dev/wp-content/uploads/2024/01/1_ITy1iE0UHDJlhJU3XZBkf2TlIajHPpz@20070588@3-1-1_uwp_avatar_thumb.jpg" />
                                </div>
                                <div class="auther_email">
                                    <b class="fn"><a rel="external nofollow" class="email_auther"> <span
                                                class="email_auther">{{'testing01@yopmail.com'}}</span></a> &nbsp;</b>
                                    <span class="says">says:</span>
                                    <br />
                                    <div class="auther_date">
                                        <time datetime="2024-03-18T04:09:50-04:00">March 18, 2024 at 4:09 am</time>
                                    </div>
                                    <div class="description">
                                        <p>hgfghfg</p>
                                    </div>
                                    <div class="reply_button">
                                        <a rel="external nofollow" class="email_auther_reply"> <span
                                                class="email_auther_reply">{{'reply'}}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <div class="col-10">
                    <div class="text-center">
                        <button class="__button">Load More</button>
                    </div>
                </div> -->





                @if(!this.isAuthenticated){
                <div class="row g-0">
                    <div class="col-12 col-lg-6">
                        <div class="blog-banner">
                            <swiper-container #blogSwiper class="mySwiper" init="false">
                                @for (key of addDetail; track $index) {
                                <swiper-slide>
                                    <div class="banner-img" (click)="setStats(key?.id, key?.space_id)" style="background-image: url({{key?.img}});    width: 100%;
                                  height: 100%;">
                                        <!-- <div class="banner-text ">
                                      <h3>{{key?.title}}</h3>
                                      <p>
                                        {{key?.description}}
                                      </p>
                                    </div> -->
                                    </div>
                                </swiper-slide>
                                }
                            </swiper-container>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="signup-cnt">
                            <div class="cta__content">
                                <h2 class="Get-started">
                                    Get started
                                </h2>

                                <div
                                    class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit dolor
                                </div>

                                <div>
                                    <button class="btn sign-up-btn"  (click)="goSignup()">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                } @else {
                <div class="row g-0">
                    <div class="col-12 col-lg-12">
                        <div class="blog-banner">
                            <swiper-container #blogSwiper class="mySwiper" init="false">
                                @for (key of addDetail; track $index) {
                                <swiper-slide>
                                    <div class="banner-img" (click)="setStats(key?.id, key?.space_id)" style="background-image: url({{key?.img}}); width: 100%;
                                        height: 100%;">
                                        <div class="banner-text ">
                                            <h3>{{key?.title}}</h3>
                                            <p>
                                                {{key?.description}}
                                            </p>
                                        </div>
                                    </div>
                                </swiper-slide>
                                }
                            </swiper-container>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
</div>