<div class="container-fluid ">
    <div class="cta-verfied-image" style="margin-top:8rem">
        <div class="elementor-element elementor-element-1b26e33 elementor-widget elementor-widget-text-editor"
            data-id="1b26e33" data-element_type="widget" data-widget_type="text-editor.default">
            <!-- <div class="elementor-widget-container">
                <p><strong>/ USER BLOG / <span style="text-transform: uppercase;">{{userBlogDetails?.blog_title}}</span></strong></p>
            </div> -->
        </div>
        <div class="image-container">
            <!-- <div class="d-flex"> -->
            <swiper-container #busniessCategoriesSwiper class="mySwiper" init="false">
                @for(key of userdetails; track $index){
                <swiper-slide (click)="viewuserdetails(key)">
                    <div class="image">
                        <img [src]="key?.featured_image ? key?.featured_image : '/assets/image/No-image-found.jpeg'"
                            alt="verfied-image" />
                        <div class="verified-logo">
                            <a style="
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;">{{key?.blog_title}}</a>
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            <!-- Custom navigation buttons -->
            <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="swiper-button-next"> <i class="fa-solid fa-arrow-right"></i></div>
        </div>
    </div>

    <section>

        <div class="container user-blog-detail-cnt">
            <div class="row">
                <div class="main_content__">
                    <h2 class="heading-title">{{userBlogDetails?.blog_title}}
                    </h2>
                </div>
                <div class="content___info">
                    <div class="blog___">
                        <i class="far fa-user-circle"></i> &nbsp;<span>BlogBlitz &nbsp;</span>
                    </div>
                    &nbsp;
                    <div class="blog___">
                        <i class="fa-regular fa-calendar icon-size"></i> &nbsp;<span>{{userBlogDetails?.post_date ?
                            userBlogDetails?.post_date:'No Date'}} &nbsp;</span>
                    </div>
                    &nbsp;
                    <div class="blog___">
                        <i class="far fa-comment-dots"></i> &nbsp;<span style="cursor:pointer"
                            (click)="scrollTo('commentsLength')">{{ commentArr?.length? commentArr.length + ' '+
                            'Comments':'No Comments'}}</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mains_content__">
                        <div [innerHTML]="userBlogDetails?.blog_desc" class="blog-content"></div>

                        @if(userBlogDetails?.author_detail){
                        <div class="uwp_widgets">
                            <div class="content_author text-md-left  bg-light">
                                <div class="image__">
                                    <a><img style="border-width: 4px !important;" loading="lazy" decoding="async"
                                            [src]="userBlogDetails?.author_detail?.user_image ? userBlogDetails?.author_detail?.user_image : '/assets/image/No-image-found.jpeg'"
                                            class="rounded-circle shadow border border-white border-width-4 mr-3"
                                            width="60" height="60" alt="BlogBlitz"></a>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0">Author: <a>{{userBlogDetails?.author_detail?.first_name
                                            + ' ' + userBlogDetails?.author_detail?.last_name}}</a>
                                    </h5>

                                    <p>{{userBlogDetails?.author_detail?.user_info}}</p>
                                </div>
                            </div>
                        </div>
                        }
                        <!-- leave Reply section  -->
                        <div class="comment__">
                            <div class="row my-3">
                                <div class="col-12">
                                    <h5 class="block-head" style="border-bottom: solid 1px #cecece;">
                                        {{ commentArr?.length === 1 ? '1 Comment' : (commentArr?.length > 1 ?
                                        commentArr.length + ' Comments' : 'No Comments') }}
                                    </h5>
                                </div>
                            </div>
                            @for (item of commentArr; track $index) {
                            <div class="add_div" id="commentsLength"
                                [ngClass]="{'border-bottomHide': lastElement?.comment_detail?.comment_ID == item?.comment_detail?.comment_ID}">
                                <div class="comment_section">
                                    <div class="profile_comment">
                                        <img [src]="item?.comment_detail?. user_image ? item?.comment_detail?. user_image : '/assets/image/No-image-found.jpeg'"
                                            alt="verfied-image" />
                                    </div>

                                    <div class="auther_email">
                                        <b class="fn"><a rel="external nofollow" class="email_auther"> <span
                                                    class="email_auther">{{item?.comment_detail?.comment_author}}</span></a>
                                            &nbsp;</b>
                                        <span class="says">says:</span>
                                        <br />
                                        <div class="auther_date">
                                            <time
                                                datetime="2024-03-18T04:09:50-04:00">{{item?.comment_detail?.comment_date}}</time>
                                        </div>
                                        <div class="description">
                                            <p>{{item?.comment_detail?.comment_content}}</p>
                                        </div>
                                        <div class="reply_button">
                                            <a rel="external nofollow" class="email_auther_reply"> <span
                                                    class="email_auther_reply"
                                                    (click)="toggleReplyForm(item?.comment_detail?.comment_ID)">{{'Reply'}}</span></a>
                                            &nbsp;
                                            @if(item?.comment_replies?.length > 0){


                                            <a rel="external nofollow" class="email_auther_reply"> <span
                                                    class="email_auther_reply"
                                                    (click)="toggleReplyFormShowMore(item?.comment_detail?.comment_ID)">{{'View
                                                    Replies'}}</span></a>
                                            }

                                        </div>
                                    </div>
                                </div>
                                @for (items of item.comment_replies; track $index) {
                                @if(showReplyFormMore && selectedCommentReply == item?.comment_detail?.comment_ID){
                                <div class="clid_reply">
                                    <div class="comment_section">
                                        <div class="profile_comment">
                                            <img [src]="items?. user_image ? items?. user_image : '/assets/image/No-image-found.jpeg'"
                                                alt="verfied-image" />
                                        </div>

                                        <div class="auther_email">
                                            <b class="fn"><a rel="external nofollow" class="email_auther"> <span
                                                        class="email_auther">{{items?.comment_author}}</span></a>
                                                &nbsp;</b>
                                            <span class="says">says:</span>
                                            <br />
                                            <div class="auther_date">
                                                <time
                                                    datetime="2024-03-18T04:09:50-04:00">{{items?.comment_date}}</time>
                                            </div>
                                            <div class="description">
                                                <p>{{items?.comment_content}}</p>
                                            </div>
                                            <div class="reply_button">
                                                @if(item.comment_replies?.length < 3){ <a rel="external nofollow"
                                                    class="email_auther_reply"> <span class="email_auther_reply"
                                                        (click)="toggleReplyForm(items?.comment_ID)">{{'Reply'}}</span></a>

                                                    }
                                            </div>
                                        </div>
                                    </div>
                                    @for (key of items.comment_replies; track $index) {
                                    <div class="clid_reply_two">
                                        <div class="comment_section">
                                            <div class="profile_comment">
                                                <img [src]="key?. user_image ? key?. user_image : '/assets/image/No-image-found.jpeg'"
                                                    alt="verfied-image" />
                                            </div>

                                            <div class="auther_email">
                                                <b class="fn"><a rel="external nofollow" class="email_auther"> <span
                                                            class="email_auther">{{key?.comment_author}}</span></a>
                                                    &nbsp;</b>
                                                <span class="says">says:</span>
                                                <br />
                                                <div class="auther_date">
                                                    <time
                                                        datetime="2024-03-18T04:09:50-04:00">{{key?.comment_date}}</time>
                                                </div>
                                                <div class="description">
                                                    <p>{{key?.comment_content}}</p>
                                                </div>
                                                <div class="reply_button">
                                                    @if(items.comment_replies?.length < 3){ <a rel="external nofollow"
                                                        class="email_auther_reply"> <span class="email_auther_reply"
                                                            (click)="toggleReplyForm(key?.comment_ID)">{{'Reply'}}</span></a>

                                                        }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="showReplyForm && selectedComment == key?.comment_ID">
                                            <div class="col-12">
                                                <h5 class="block-head"
                                                    style="margin-top:0px!important;border-bottom:0px!important;margin-bottom: 0px!important;padding-bottom:0px!important">
                                                    Reply to{{key?.comment_author}}
                                                    &nbsp;<span class="email_auther_reply"
                                                        (click)="toggleReplyForm(key?.comment_ID)">{{'Cancel
                                                        Reply'}}</span></h5>
                                            </div>
                                            <div class="col-12 mt-4">
                                                <p class="comment-notes" style="font-size: 16px; color: #555555">
                                                    <span id="email-notes" *ngIf="isAuthenticated">Logged in as
                                                        {{key?.comment_author}}.</span>
                                                    <span id="email-notes" *ngIf="!isAuthenticated">Your email address
                                                        will not be published.</span>
                                                    <span *ngIf="isAuthenticated" class="email_auther_reply mx-1"
                                                        (click)="editProfile()">Edit your
                                                        profile.</span> <span *ngIf="isAuthenticated"
                                                        class="email_auther_reply" (click)="logout()">Log
                                                        out?</span>
                                                    <span class="required-field-message">&nbsp;Required fields are
                                                        marked
                                                        <span class="asterik">*</span></span>
                                                </p>
                                            </div>
                                            @if(!isAuthenticated){
                                            <div class="col-12 col-12  mb-3">
                                                <label class="listing-form-label">Name<span
                                                        class="asterik">*</span></label>
                                                <div class="col-12 col-lg-5">
                                                    <input type="text" class="input-control mt-1"
                                                        [formControl]="name" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="col-12  mb-3">
                                                <label class="listing-form-label">Email<span
                                                        class="asterik">*</span></label>
                                                <div class="col-12 col-lg-5">
                                                    <input type="text" class="input-control mt-1"
                                                        [formControl]="email" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="col-12 mb-3">
                                                <label class="listing-form-label">Website</label>
                                                <div class="col-12 col-lg-5">
                                                    <input type="text" class="input-control mt-1"
                                                        [formControl]="website" />
                                                </div>
                                            </div>
                                            <!--- <div class="col-12 col-md-12 mb-3">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="terms" (change)="valueChange($event)" />
                                                        <label class="form-check-label" for="terms">
                                                            Save my name, email, and website in this browser for the
                                                            next time I comment.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <br />
                                            }
                                            <div class="col-12  mb-3">
                                                <div class="col-12 col-lg-5">
                                                    <textarea placeholder="Write Your comment here...." type="text"
                                                        class="input-control mt-1" style="height: 15em"
                                                        [formControl]="message"></textarea>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="col-12 col-lg-5 mb-3">
                                                <button type="button" class="btn orange-background-btn"
                                                    (click)="postReply()"
                                                    [disabled]="(!isAuthenticated && (!name.value || !email.value )) || !message.value">Post
                                                    Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    <div class="row" *ngIf="showReplyForm && selectedComment == items?.comment_ID">
                                        <div class="col-12">
                                            <h5 class="block-head"
                                                style="margin-top:0px!important;border-bottom:0px!important;margin-bottom: 0px!important;padding-bottom:0px!important">
                                                Reply to {{items?.comment_detail?.comment_author}} &nbsp;<span
                                                    class="email_auther_reply"
                                                    (click)="toggleReplyForm(items?.comment_ID)">{{'Cancel
                                                    Reply'}}</span></h5>
                                        </div>
                                        <div class="col-12 mt-4">
                                            <p class="comment-notes" style="font-size: 16px; color: #555555">
                                                <span id="email-notes" *ngIf="isAuthenticated">Logged in as
                                                    {{items?.comment_author}}.</span>
                                                <span id="email-notes" *ngIf="!isAuthenticated">Your email address will
                                                    not bepublished.</span>
                                                <span class="email_auther_reply mx-1" *ngIf="isAuthenticated"
                                                    (click)="editProfile()">Edit
                                                    your profile.</span> <span class="email_auther_reply"
                                                    *ngIf="isAuthenticated" (click)="logout()">Log
                                                    out?</span>
                                                <span class="required-field-message"> Required fields are marked <span
                                                        class="asterik">*</span></span>
                                            </p>
                                        </div>
                                        @if(!isAuthenticated){
                                        <div class="col-12 col-12 mb-3">
                                            <label class="listing-form-label">Name<span class="asterik">*</span></label>
                                            <div class="col-12 col-lg-5">
                                                <input type="text" class="input-control mt-1" [formControl]="name" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-12  mb-3">
                                            <label class="listing-form-label">Email<span
                                                    class="asterik">*</span></label>
                                            <div class="col-12 col-lg-5">
                                                <input type="text" class="input-control mt-1" [formControl]="email" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-12  mb-3">
                                            <label class="listing-form-label">Website</label>
                                            <div class="col-12 col-lg-5">
                                                <input type="text" class="input-control mt-1" [formControl]="website" />
                                            </div>
                                        </div>

                                        <br />
                                        }
                                        <div class="col-12  mb-3">
                                            <div class="col-12 col-lg-5">
                                                <textarea placeholder="Write Your comment here...." type="text"
                                                    class="input-control mt-1" style="height: 15em"
                                                    [formControl]="message"></textarea>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="col-12  mb-3">
                                            <button type="button" class="btn orange-background-btn"
                                                (click)="postReply()"
                                                [disabled]="(!isAuthenticated && (!name.value || !email.value )) || !message.value">Post
                                                Reply</button>
                                        </div>
                                    </div>
                                </div>
                                }
                                }
                                <div class="row"
                                    *ngIf="showReplyForm && selectedComment == item?.comment_detail?.comment_ID">
                                    <div class="col-12">
                                        <h5 class="block-head"
                                            style="margin-top:0px!important;border-bottom:0px!important;margin-bottom: 0px!important;padding-bottom:0px!important">
                                            Reply to {{item?.comment_detail?.comment_author}} &nbsp;<span
                                                class="email_auther_reply"
                                                (click)="toggleReplyForm(item?.comment_detail?.comment_ID)">{{'Cancel
                                                Reply'}}</span></h5>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <p class="comment-notes" style="font-size: 16px; color: #555555">
                                            <span id="email-notes" *ngIf="isAuthenticated">Logged in as
                                                {{item?.comment_detail?.comment_author}}.</span>
                                            <span id="email-notes" *ngIf="!isAuthenticated">Your email address will not
                                                be published.</span>
                                            <span *ngIf="isAuthenticated" (click)="editProfile()"
                                                class="email_auther_reply mx-1">Edit
                                                your profile.</span> <span class="email_auther_reply"
                                                *ngIf="isAuthenticated" (click)="logout()">Log out?</span>
                                            <span class="required-field-message mx-1"> Required fields are marked <span
                                                    class="asterik">*</span></span>
                                        </p>
                                    </div>
                                    @if(!isAuthenticated){
                                    <div class="col-12 mb-3">
                                        <label class="listing-form-label">Name<span class="asterik">*</span></label>
                                        <div class="col-12 col-lg-5">
                                            <input type="text" class="input-control mt-1" [formControl]="name" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-12 mb-3">
                                        <label class="listing-form-label">Email<span class="asterik">*</span></label>
                                        <div class="col-12 col-lg-5">
                                            <input type="text" class="input-control mt-1" [formControl]="email" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-12 mb-3">
                                        <label class="listing-form-label">Website</label>
                                        <div class="col-12 col-lg-5">
                                            <input type="text" class="input-control mt-1" [formControl]="website" />
                                        </div>
                                    </div>
                                    <!-- <div class="col-12 col-md-12 mb-3">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="terms" />
                                                <label class="form-check-label" for="terms">
                                                    Save my name, email, and website in this browser for the
                                                    next time I comment.
                                                </label>
                                            </div>
                                        </div>
                                    </div> -->
                                    <br />
                                    }
                                    <div class="col-12  mb-3">
                                        <div class="col-12 col-lg-5">
                                            <textarea placeholder="Write Your comment here...." type="text"
                                                class="input-control mt-1" style="height: 15em"
                                                [formControl]="message"></textarea>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="col-12 col-lg-5 mb-3">
                                        <button type="button" class="btn orange-background-btn" (click)="postReply()"
                                            [disabled]="(!isAuthenticated && (!name.value || !email.value )) || !message.value">Post
                                            Reply</button>
                                    </div>
                                </div>
                            </div>
                            }

                            <div class="row" *ngIf="!showReplyForm">
                                <div class="col-12">
                                    <h5 class="block-head">Leave a Reply</h5>
                                </div>
                                <div class="col-12 mt-4">
                                    <p class="comment-notes" style="font-size: 16px; color: #555555">
                                        <span id="email-notes">Your email address will not be published.</span>
                                        <span class="required-field-message"> Required fields are marked <span
                                                class="asterik">*</span></span>
                                    </p>
                                </div>
                                @if(!isAuthenticated){
                                <div class="col-12  mb-3">
                                    <label class="listing-form-label">Name<span class="asterik">*</span></label>
                                    <div class="col-12 col-lg-5">
                                        <input type="text" class="input-control mt-1" [formControl]="name" />
                                    </div>
                                </div>
                                <br />
                                <div class="col-12  mb-3">
                                    <label class="listing-form-label">Email<span class="asterik">*</span></label>
                                    <div class="col-12 col-lg-5">
                                        <input type="text" class="input-control mt-1" [formControl]="email" />
                                    </div>
                                </div>
                                <br />
                                <div class="col-12  mb-3">
                                    <label class="listing-form-label">Website</label>
                                    <div class="col-12 col-lg-5">
                                        <input type="text" class="input-control mt-1" [formControl]="website" />
                                    </div>
                                </div>
                                <!--- <div class="col-12 col-md-5  mb-3">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" [checked]="CheckValues"
                                                (change)="valueChange($event)" value="" id="terms" />
                                            <label style="display: flex;font-size: 13px;" class="form-check-label" for="terms">
                                                Save my name, email, and website in this browser for the
                                                next time I comment.
                                                @if(CheckValues){
                                                <span><i style="color:orange" class="fa-solid fa-check"></i></span>
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </div>-->
                                <br />
                                }
                                <div class="col-12 mb-3">
                                    <label class="listing-form-label">Comment<span class="asterik">*</span></label>
                                    <div class="col-12 col-lg-5">
                                        <textarea type="text" class="input-control mt-1" style="height: 15em"
                                            [formControl]="message"></textarea>
                                    </div>
                                </div>
                                <br />

                                <div class="col-12 mb-3">
                                    <button type="button" class="btn orange-background-btn" (click)="postCommnet()"
                                        [disabled]="(!isAuthenticated && (!name.value || !email.value )) || !message.value">
                                        @if(isPostComment){
                                        <app-loader></app-loader>
                                        }@else {
                                        Post Comment
                                        }
                                    </button>
                                </div>
                            </div>



                        </div>
                        <!-- close leave Reply serction -->
                    </div>
                </div>

                <!-- <div class="col-10">
                    <div class="text-center">
                        <button class="__button">Load More</button>
                    </div>
                </div> -->
                @if(!this.isAuthenticated){
                <div class="row g-0">
                    <div class="col-12 col-lg-12">
                        <div class="blog-banner">
                            <swiper-container #blogSwiper class="mySwiper" init="false">
                                @for (key of addDetail; track $index) {
                                <swiper-slide>
                                    <div class="banner-img" (click)="setStats(key?.id, key?.space_id)" style="background-image: url({{key?.img}});    width: 100%;
                                  height: 100%;">
                                        <!-- <div class="banner-text ">
                                      <h3>{{key?.title}}</h3>
                                      <p>
                                        {{key?.description}}
                                      </p>
                                    </div> -->
                                    </div>
                                </swiper-slide>
                                }
                            </swiper-container>
                        </div>
                    </div>

                </div>
                }
            </div>

        </div>
    </section>
</div>