<section>
    <div class="container-fluid ">
        <div class="most-search-description">
            <div class="heading">
                <h1>Most Searched Services</h1>
            </div>
            <div class="summary">
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin sodales
                    ultrices nulla blandit volutpat.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere
                    cubilia curae; Proin sodales ultrices nulla blandit volutpat.</p>
            </div>
            <div class="search-description row">
                <div class="search-input mb-3 col  col-md-5 col-12">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search here" />
                </div>
                <div class="add-zipcode mb-3 col-md-5 col col-12">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <img src="/assets/icons/location-icon.svg" alt="location-icon" />
                        </span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1"
                            id="exampleFormControlInput1" placeholder="Add zipcode" />
                    </div>
                </div>
                <div class="search-btn col-md-2 col-12">
                    <img src="/assets/icons/search-btn.svg" alt="search-btn" />
                </div>
            </div>
        </div>
        <div class="most-search-swiper container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <swiper-container #mostSearchServicesSwiper class="mySwiper" init="false">
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="main-card">
                                <div class="trending-button">
                                    <span>
                                        Trending
                                    </span>
                                </div>
                            </div>
                        </swiper-slide>
                    </swiper-container>
                </div>
            </div>
        </div>
    </div>
</section>