<section>
  <div class="container-fluid g-0">
    <div class="explaining-description">
      <div class="heading">
        <h1>{{ homePageData?.platforms_essence_section?.title }}</h1>
      </div>
      <div class="description">
        <p>
          {{ homePageData?.platforms_essence_section?.description }}
        </p>
      </div>
      <div class="learn-more-btn">
        <button class="btn orange-background-btn" (click)="navigatetOnBusiness()">
          {{ homePageData?.platforms_essence_section?.explore_more }}
        </button>
      </div>
    </div>
    <div class="explaining-platform-banner px-3">
      @if(isLoading){
        <div  class="loader">Loading...</div> <!-- Loader -->
      }
      <video #videoPlayer width="100%" height="400" (loadeddata)="handleVideoLoad()" (error)="handleVideoError($event)">
        <source [src]="homePageData?.video_section?.video_url | safeUrl" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="video-controls">
        <button (click)="togglePlayPause()" class="btn" style="background-color:#000;color:#fff">
          {{ isPlaying ? 'Pause' : 'Play' }}
        </button>
      </div>
    </div>
    
    
  </div>
</section>