<section>
  <div class="container-fluid g-0">
    <div class="explaining-description">
      <div class="heading">
        <h1>{{platformContent?.platforms_essence_section?.title}}</h1>
      </div>
      <div class="description">
        <p>
          {{platformContent?.platforms_essence_section?.description}}
        </p>
      </div>
      <div class="learn-more-btn">
        <button class="btn orange-background-btn">{{platformContent?.platforms_essence_section?.explore_more}}</button>
      </div>
    </div>

    <div class="explaining-platform-banner">
      <img src="/assets/image/explaining-platform-banner.svg" alt="banner" />
    </div>
  </div>
</section>