<div class="container">
  <div class="row">
    <div class="col-12 text-end">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="close()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="col-12">
      <h1 mat-dialog-title class="text-center">
        {{
          isOtpValidate
            ? 'Reset Password'
            : isOtpReceived
              ? 'Enter OTP'
              : 'Forgot Password'
        }}
      </h1>
    </div>
  </div>
  <form [formGroup]="forgotPasswordForm">
    <div mat-dialog-content class="mt-4">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input
              type="email"
              class="input-control"
              placeholder="user@mail.com"
              formControlName="email"
              required
              [attr.readonly]="isOtpReceived ? true : null"
            />
          </div>
        </div>

        @if (isOtpReceived && !hideOTP) {
          <div class="col-12">
            <div class="form-group">
              <input
                type="text"
                class="input-control"
                (input)="onOtpInput()"
                (keypress)="onlyNumberKey($event)"
                pattern="[a-zA-Z]+"
                placeholder="Enter 4 digit OTP"
                [formControl]="otp"
              />
            </div>
          </div>
        }

        @if (isOtpValidate) {
          <div class="col-12">
            <div class="form-group">
              <input
                [type]="!isHidePassword ? 'password' : 'text'"
                class="input-control"
                placeholder="Password"
                [formControl]="password"
              />
            </div>
          </div>
        }
      </div>
    </div>
    <div mat-dialog-actions class="text-center">
      @if (!isOtpReceived && !isOtpValidate) {
        <button
          type="button"
          mat-flat-button
          class="btn orange-background-btn-w-100"
          (click)="getOtp(false)"
          [disabled]="forgotPasswordForm.invalid"
        >
          <span *ngIf="!loader">Get OTP</span>
          <app-loader *ngIf="loader"></app-loader>
        </button>
      }
      @if (isOtpReceived && !isOtpValidate) {
        <button
          type="button"
          mat-flat-button
          class="btn orange-background-btn-w-100"
          (click)="forgotPassword()"
          [disabled]="!otp.value"
        >
          <span *ngIf="!loader">Submit</span>
          <app-loader *ngIf="loader"></app-loader>
        </button>
      }

      @if (isOtpValidate) {
        <button
          type="button"
          mat-flat-button
          class="btn orange-background-btn-w-100"
          (click)="resetPassword()"
          [disabled]="!password.value"
        >
          <span *ngIf="!loader">Reset Password</span>
          <app-loader *ngIf="loader"></app-loader>
        </button>
      }

      <div class="mt-3">
        <div class="d-flex">
          <div>
            <div class="ms-auto forgot_password" (click)="navigateToLogin()">
              Login
            </div>
          </div>
          @if (!isOtpReceived && hideOTP) {
            <div class="ms-auto forgot_password" (click)="navigateToRegister()">
              Create Account
            </div>
          }
          @if (isOtpReceived && !hideOTP) {
            <div class="ms-auto forgot_password" (click)="getOtp(true)">
              Resend OTP
            </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>
