<div class="container">
    <div class="row">
      <div class="col-12 text-end">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="col-12">
        <h1 mat-dialog-title class="text-center">
            Add New Video
        </h1>
      </div>
    </div>
    <form class="form-forgot" [formGroup]="forgotPasswordForm">
      <div mat-dialog-content class="mt-4">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input type="text" class="input-control" placeholder="Name" required
              [formControl]="name"
                />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <mat-select
                class="vietlist-select"
                placeholder="Video type"
               [formControl]="video_type"
              >
                <mat-option value="promotional_videos">Promotional</mat-option>
                <mat-option value="tutorials">Tutorial</mat-option>
                <mat-option value="testimonial">Testimonial</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-12">
            <ngx-dropzone [accept]="'.mp4,.mov'" (change)="onSelect($event)">
                <ngx-dropzone-label *ngIf="!isVideoUploading"><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop Video here
                  or
                  Browse a file</ngx-dropzone-label>
                <div  class="loader" *ngIf="isVideoUploading"></div>
              </ngx-dropzone>
              <div id="video-preview-container">
                @for(videoUrl of vediosUrl; track $index) {
                <div class="vedio____" *ngIf="video_upload.length > 0">
                  <div class="removeImage" >
                    <i class="fa fa-times-circle" aria-hidden="true" (click)="removeItems($index)"></i>
                  </div>
          
          
                  <video style="margin: 10px; object-fit: cover" *ngIf="videoUrl" width="220" height="200" controls>
                    <source [src]="videoUrl" type="video/mp4" />
                    <source [src]="videoUrl" type="video/ogg" />
                    Your browser does not support the video tag.
                  </video>
                </div>
                }
          
              </div>
          </div>
          <div class="col-12 mt-3">
            <ngx-dropzone [accept]="'.png,.png,.png , .webp , .jpeg , .jpg'" (change)="onSelectImage($event)">
                <ngx-dropzone-label *ngIf="!isImageUploading"><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop Thumbnail image here
                  or
                  Browse a file</ngx-dropzone-label>
                <div  class="loader" *ngIf="isImageUploading"></div>
              </ngx-dropzone>
              <div class="main_images">
                @for (preview of imagePreviews; track $index) {
        
                <div class="images__" *ngIf="preview">
                  <div class="removeImage">
                    <i class="fa fa-times-circle" aria-hidden="true" (click)="removeItem($index)"></i>
                  </div>
                  <img [src]="preview" alt="Image Preview" width="150" height="150" />
                </div>
                }
              </div>
          </div>
        </div>
      </div>
      <br/>
      <div mat-dialog-actions class="text-center">
        <button type="button" mat-flat-button class="btn orange-background-btn-w-100"
        [disabled]="!name.value || !video_type.value || !imagePreviews || !video_upload"
         (click)="addVideo()">
          <span>Submit</span>
          <!-- <app-loader *ngIf="loader"></app-loader> -->
        </button>
    
      


      </div>
    </form>
  </div>