<div class="container">
  <div class="row">
    <div class="col-12 text-end">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="close()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="col-12">
      <h1 mat-dialog-title class="text-center">
        {{ postId ? 'Add New Video' : 'Edit Video' }}
      </h1>
    </div>
  </div>
  @if (!videoLimitFull) {
    <form [formGroup]="videoDetails" class="form-forgot">
      <div mat-dialog-content class="mt-4" formArrayName="videos">
        <div
          class="row position-relative pt-5"
          *ngFor="let quantity of videoDetailss; let i = index"
          [formGroupName]="i"
        >
          @if (this.videoDetailss?.length > 1) {
            <button
              mat-icon-button
              aria-label="Example icon button with a vertical three dot icon"
              class="remove-video-field"
              (click)="removeVideoField(i)"
            >
              <mat-icon>close</mat-icon>
            </button>
          }
          <div class="col-6">
            <div class="form-group">
              <input
                type="text"
                class="input-control"
                placeholder="Name"
                required
                name="name"
                formControlName="name" 
                [(ngModel)]='videoDetailss?.[i].name'
                (ngModelChange)="onChange($event, i, 'name')"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <mat-select
                class="vietlist-select"
                placeholder="Video type"
                formControlName="video_type"
                [(ngModel)]="videoDetailss?.[i].video_type"
                (ngModelChange)="onChange($event, i, 'video_type')"

              >
                <mat-option value="promotional_videos">Promotional</mat-option>
                <mat-option value="tutorials">Tutorial</mat-option>
                <mat-option value="testimonial">Testimonial</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-6">
            <div class="custom-dropzone" ngx-dropzone
              [disabled]="videoDetailss?.[i]?.video_url ? true : false"
              [accept]="'.mp4,.mov'"
              (change)="onSelect($event, i)"
              [multiple]="false"
            >
              <ngx-dropzone-label
                *ngIf="
                  !isVideoUploading?.status || isVideoUploading?.index !== i
                "
                ><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop
                Video here or Browse a file</ngx-dropzone-label
              >
              <div
                class="loader"
                *ngIf="isVideoUploading?.status && isVideoUploading?.index == i"
              ></div>
          </div>
          </div>
          <div class="col-6">
            <div id="video-preview-container">
              <!-- @for (video of videoUrl; track $index) { -->
              <div class="vedio____">
                <div class="removeImage" >
                  <i
                    class="fa fa-times-circle"
                    aria-hidden="true"
                    (click)="removeItems(i, 'video_url')"
                  ></i>
                </div>
                <video
                  style="margin: 10px; object-fit: cover"
                  *ngIf="videoDetailss?.[i]?.video_url"
                  width="220"
                  height="115"
                  controls
                >
                  <source
                    [src]="videoDetailss?.[i]?.video_url"
                    type="video/mp4"
                  />
                  <source
                    [src]="videoDetailss?.[i]?.video_url"
                    type="video/ogg"
                  />
                  Your browser does not support the video tag.
                </video>
              </div>
              <!-- } -->
            </div>
          </div>
          <div class="col-6 mt-3">
            <div class="custom-dropzone" ngx-dropzone
              [disabled]="videoDetailss?.[i]?.thumbnail_image ? true : false"
              [accept]="'.png,.png,.png , .webp , .jpeg , .jpg'"
              (change)="onSelectImage($event, i)"
              [multiple]="false"
            >
              <ngx-dropzone-label
                *ngIf="
                  !isImageUploading?.status || isImageUploading?.index !== i
                "
                ><i class="fa fa-upload" aria-hidden="true"></i> Drap and Drop
                Thumbnail image here or Browse a file</ngx-dropzone-label
              >
              <div
                class="loader"
                *ngIf="isImageUploading?.status && isImageUploading?.index == i"
              ></div>
          </div>
          </div>
          <div class="col-6">
            <div class="main_images">
              <!-- @for (preview of imagePreviews; track $index) { -->
              <div class="images__" *ngIf="videoDetailss?.[i]?.thumbnail_image">
                <div class="removeImage">
                  <i
                    class="fa fa-times-circle"
                    aria-hidden="true"
                    (click)="removeItems(i, 'thumbnail_image')"
                  ></i>
                </div>
                <img
                  [src]="videoDetailss?.[i]?.thumbnail_image"
                  alt="Image Preview"
                  width="150"
                  height="150"
                />
              </div>
              <!-- } -->
            </div>
          </div>
        </div>
        <div  class="mt-5 d-flex justify-content-end" *ngIf="!data?.item &&!isLoading ">
          <button
            [disabled]="!maxVideoCondition()"
            [ngClass]="{ disabled: !maxVideoCondition() }"
            class="add-more"
            (click)="addMore()"
          >
            Add more
          </button>
        </div>
      </div>
      <br />
      <div *ngIf="!isLoading" mat-dialog-actions class="text-center">
        <button
          type="button"
          mat-flat-button
          class="btn orange-background-btn-w-100 rounded submit-button"
          (click)="addVideo()"
          [disabled]="isImageUploading.status || isVideoUploading.status"
        >
          <span *ngIf="!isLoader">Submit</span>
          <app-loader *ngIf="isLoader"></app-loader>
        </button>
      </div>
    </form>
  } @else {
    <span> To upload video delete the existing video </span>
  }
</div>
