@import "../../../../assets/scss/common";

.container-fluid {
    background-color: #F2F2F2;

    .cta-description {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;

        .heading {

            h1 {
                @extend %sh-styles;
                font-size: 32px;
            }
        }

        .description {


            p {
                @extend %ssh-styles;
            }

        }

        .verified-business-btn {
            display: flex;
            justify-content: center;

            .btn:hover {
                color: var(--primary-color-orange);
                border: 1px solid #F89705;
                background-color: var(--white);
            }
        }
    }

    .cta-verfied-image {
        .image-container {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 6.25rem;


            .mySwiper {
                .image {
                    position: relative;

                    .verified-logo {
                        position: absolute;
                        top: -23px;
                        right: -19px;
                    }

                }
            }
        }
    }
}

swiper-container {
    width: 90%;
    height: 26rem;
    margin: 20px auto;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-container::part(bullet-active) {
    background-color: #F89705;
    width: 28px;
    height: 13.94px;
    border-radius: 10px;
}

swiper-container::part(bullet) {
    width: 13.94px;
    height: 13.94px;
    border-radius: 50%;
}