@import "../../../../assets/scss/common";

.container-fluid {
    background-color: #F2F2F2;
    padding-top: 6rem;
    padding-bottom: 6rem;

    .cta-description {
        width: 55%;
        margin-left: auto;
        margin-right: auto;


        .heading {

            h1 {
                @extend %sh-styles;
                font-size: 2rem;
            }
        }

        .description {


            p {
                @extend %ssh-styles;
                margin-top: 0px;
                margin-bottom: 16px;
            }

        }

        .verified-business-btn {
            display: flex;
            justify-content: center;

            .btn:hover {
                color: var(--primary-color-orange);
                border: 1px solid #F89705;
                background-color: var(--white);
            }
        }
    }

    .cta-verfied-image {
        .image-container {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            // padding-bottom: 2.25rem;


            .mySwiper {
                .image {
                    position: relative;
                    width: 100%;
                    padding-top: 20px;
                    padding-right: 20px;
                    padding-left: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .verified-logo {
                        position: absolute;
                        top: -3px;
                        right: -10px;
                    }

                }
            }
        }
    }
}

swiper-container {
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-container::part(bullet-active) {
    background-color: #F89705;
    width: 28px;
    height: 13.94px;
    border-radius: 10px;
}

swiper-container::part(bullet) {
    width: 13.94px;
    height: 13.94px;
    border-radius: 50%;
}

@media (max-width:1500px) {

    swiper-container {
        width: 100% !important;
    }

    swiper-container::part(button-next) {
        right: -1rem !important;

    }

    swiper-container::part(button-prev) {
        left: -1rem !important;

    }
}

@media (max-width:768px) {
    .container-fluid {
        padding-top: 3.2rem;
        padding-bottom: 0px !important;

        .cta-description {
            width: 100% !important;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 0px !important;

            .heading {
                h1 {
                    font-size: 2.4rem;
                }
            }

            .description {
                p {
                    padding: 0px 12px;
                    margin-bottom: 24px;
                }
            }

            .verified-business-btn {
                .btn {
                    font-size: 1.6rem;
                }
            }
        }
    }

    swiper-container {
        height: 407px;
        margin: 0px !important;
    }

    swiper-container::part(button-next) {
        color: #F89705 !important;
        right: -1rem !important;
        width: 35px !important;
        height: 35px !important;
    }

    swiper-container::part(button-prev) {
        color: #F89705 !important;
        left: -1rem !important;
        width: 35px !important;
        height: 35px !important;
    }
}

swiper-container::part(button-next) {
    color: #F89705 !important;
    right: -4rem;

}

swiper-container::part(button-prev) {
    color: #F89705 !important;
    left: -4rem;

}

swiper-container::part(container) {
    position: initial;
}