<div class="card-container">
  <div class="title-container">
    <h1 class="card-title">{{ title }}</h1>
    <p class="info-card-sub-title">
      {{ subTitle }}
    </p>
    <button class="card-action-btn">{{ btnText }}</button>
  </div>
  <div class="info-cards-container">
    @for (items of cardData; track $index) {
      <div class="col-12 row slide-padding" [id]="'slide' + $index">
        @for (item of items; track $index) {
          <div
            class="col-6 col-md-4 col-lg-3 p-2 d-flex justify-content-center"
          >
            <div class="info-card">
              <div class="image-container">
                <img [src]="item?.icon" alt="" />
              </div>
              <span> {{ item?.shopName }} </span>
            </div>
          </div>
        }
      </div>
    }
  </div>
  <div class="btn-container py-5">
    @for (item of cardData; track $index) {
      <span
        [ngClass]="{
          'selected-ellipsis': currentEllipsisId === 'slide' + $index
        }"
        class="bullet-ellipsis"
        (click)="slide('slide' + $index)"
      >
      </span>
    }
  </div>
</div>
