<section>
  <h3 class="dashboard-heading">Edit Profile</h3>
  <div class="row mt-5">
    <div class="form-group">
      <div class="col-12">
        <input type="text" class="input-control" [(ngModel)]="email" readonly />
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <input
          type="text"
          class="input-control"
          [(ngModel)]="userName"
          readonly
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <input type="text" class="input-control" [(ngModel)]="first_name" placeholder="Enter Your First Name" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <input type="text" class="input-control" [(ngModel)]="last_name" placeholder="Enter Your Last Name"/>
      </div>
    </div>
    <div class="form-group" *ngIf="userDetails?.role == 'business-owner'">
      <div class="col-12">
        <ngx-intl-tel-input
          [cssClass]="'input-control'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.India"
          [maxLength]="15"
          [phoneValidation]="true"
          [separateDialCode]="true"
          [numberFormat]="PhoneNumberFormat.National"
          name="phone"
          [(ngModel)]="contact_details"
        >
        </ngx-intl-tel-input>
      </div>
    </div>
    <div class="form-group">
      <button
        class="btn orange-background-btn-w-100"
        (click)="handleUpdateUser()"
      >
        Update Profile
      </button>
    </div>
  </div>
</section>
