<div class="page-heading row row-gap-3 ">
  <!-- <div class="col-12 d-flex align-items-center justify-content-between "> -->
    <p class='m-0 col-xl-4 col-12 ' >Purchased Leads</p>
      <div class='col-sm-4 col-12' >
        <div class="input-group">
          <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Filter by date" class="input-control" (click)="picker.open()"
           />
          <i class="fa fa-calendar-o"></i>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div class="col-sm-4 col-12 d-flex ">
        <button class="btn orange-background-btn text-nowrap " (click)="clearFilter()" [disabled]="date.invalid" >
          Clear Filter
        </button>
        <button (click)="navigateToListing()" class="mx-2 text-nowrap " >Buy More</button>
      </div>
    </div>
<!-- </div> -->
@if (!leads.length) {
    <div class="text-center my-5">
        <h4 class="no-records-found-2">No records found !</h4>
     </div>
} @else {
    <div class="row mt-4">
      @for (lead of leads; track $index) {
        <div class="col-12 col-lg-6 p-3 position-relative ">
          <app-lead-card
            [lead]="lead"
            actionName="View More"
            (leadActions)="viewLead($event)"
          ></app-lead-card>
          <li class='fa-solid fa-download cursor-pointer download-icon' (click)="downloadLeadPdf(lead)" ></li>
        </div>
      }
    </div>
}

