@import "../../../assets/scss/variables/color";

.container-fluid {

    .navbar-brand {
        .logo-container {
            .brand-logo {
                width: 216px;
                height: 78px;
            }
        }


    }

    .navbar-toggler {
        border: none;
    }

    .offcanvas {
        --bs-offcanvas-width: 300px !important;

        .offcanvas-header {
            justify-content: end;
            padding-bottom: 0px;

            .btn-close {
                color: var(--primary-color-orange) !important;
                --bs-btn-close-bg: url(/assets/icons/menu-header-close.svg);
                --bs-btn-close-opacity: 1;
                font-size: 24px;
            }
        }



        .offcanvas-body {
            align-items: center;

            .list-item {
                width: 46%;
                margin-left: auto;
                margin-right: 8.125rem;
            }

            .country-wrapper {
                width: 5%;
            }
        }

        .navbar-nav {
            align-items: center;

            .nav-item {
                font-size: 16px;
                padding: 15px;
                font-weight: 400;
                font-family: 'Roboto Slab';
                cursor: pointer;

                .nav-link {
                    color: var(--dark-grey);
                }

                .active {
                    color: var(--primary-color-orange);

                    .dot {
                        position: relative;

                        p {
                            position: absolute;
                            top: 4px;
                            display: block !important;

                        }
                    }
                }

                .nav-bar-items {
                    .dot {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            display: none;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: var(--primary-color-orange);
                        }
                    }
                }

                .nav-bar-items:hover {
                    color: var(--primary-color-orange);

                    .dot {
                        position: relative;

                        p {
                            position: absolute;
                            top: 4px;
                            display: block;

                        }
                    }
                }

                .active {
                    color: var(--primary-color-orange);
                }

                .nav-link:hover {
                    color: var(--primary-color-orange);
                }
            }
        }
    }



    .country-dropdown {
        width: 97px;
        height: 48px;
        border-radius: 50px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(20, 110, 180, 0.10);
        display: flex;
        align-items: center;

        // justify-content: center;
        // margin-right: 42px;
        // margin-left: 30px;
        .nav-item {
            padding: 0px !important;

            .nav-link {
                padding: 3px 5px;
            }
        }

        img {
            margin-right: 18px;
            width: 40px;
            height: 40px;
        }
    }

    .right-nav {
        width: 16%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-left: 2.625rem;
    }

    .search-box {
        position: relative;

        .search-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #EFEFEF;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 14px;
        }

        .hide-search-field {
            display: none !important;
        }


        .search {
            width: 56vw;
            position: absolute;
            display: flex;
            flex-wrap: nowrap;
            padding: 0.5rem;
            border-radius: 4px;
            top: 13dvh;
            right: 7rem;
            // height: 100%;
            background-color: var(--white);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .search-input {
                width: 100%;
                height: 100%;


                .form-control {
                    // width: 433px;
                    background-color: var(--light-grey);
                    border: none;
                    height: 100%;
                }
            }

            .add-zipcode {
                .form-control {
                    // width: 399px;s
                    background-color: var(--light-grey);
                    border: none;
                }

                .input-group {
                    flex-wrap: nowrap;
                    height: 100%;

                    .input-group-text {
                        background-color: var(--light-grey);
                        border: none;
                    }

                    .address-input {
                        width: 100%;
                    }
                }
            }

            .search-btn {
                cursor: pointer;

                .search-btn-mobile {
                    display: none;
                }
            }
        }
    }

    .btn-container {
        margin-left: 26px;
        display: flex;
        gap: 12px;

        .login-btn {
            .btn {
                font-size: 16px;
                border-radius: 4px;
                color: #232F3E;
                border: 1px solid #146EB4
            }
        }

        .sign-up-btn {

            .btn {
                background-color: var(--primary-color-orange);
                color: var(--white);
                font-size: 16px;
                border-radius: 4px;
            }
        }
    }
}

li.mat-mdc-menu-trigger.nav-item.active {
    color: var(--primary-color-orange);
}

/* Add the following CSS to your styles */
.show-translation {
    float: left;
    /* or any other positioning you desire */
    /* Add additional styling as needed */
}

@media(min-width:1200px) {
    .sm-navbar {
        .search-container-sm {
            display: none !important
        }
    }
}

@media(max-width:500px) {
    .container-fluid {
        padding: 0px 20px !important;

        .logo-container {
            .navbar-brand {
                img {
                    width: 134px;
                }
            }
        }

        .sm-navbar {
            .search-container-sm {
                width: 50% !important;
            }
        }

        .search-box {
            .search {
                flex-direction: column;
                padding: 12px;
                right: 0rem;

                .search-input {
                    margin-bottom: 8px;
                }

                .search-btn {
                    cursor: pointer;
                    margin-top: 10px;
                    width: 100%;
                    padding: 0px 12px;

                    img {
                        display: none;
                    }

                    .btn {
                        width: 100%;
                        background-color: var(--primary-color-orange);
                        color: var(--white);
                    }

                    .search-btn-mobile {
                        display: block;
                    }
                }
            }
        }
    }

    ::ng-deep.navbar-toggler {
        padding: 13px 0px 13px 13px;
    }
}

@media(max-width:1200px) {
    .container-fluid {
        .offcanvas {
            .offcanvas-body {
                .list-item {
                    margin: 0;
                    text-align: start;
                }

                .navbar-nav {
                    align-items: start;
                    gap: 20px;

                    .nav-item {
                        padding: 0;

                        .nav-link {
                            padding: 14px 9px;
                        }

                        .dot {
                            display: none;
                        }
                    }
                }

                .hide-search-field {
                    display: none;
                }


            }

            .small-screen-wrapper {
                display: none;
            }

            .right-nav {
                width: 100% !important;
                justify-content: start;
                margin-left: 0px !important;
                margin-top: 20px;

                .small-screen-search-box {
                    display: none;
                }

                .btn-container {
                    margin-left: 0px;
                    flex-direction: column;
                }
            }
        }

        .search-container-sm {
            width: 30% !important;
            justify-content: space-around !important;
        }

        .country-wrapper {
            padding: 10px !important;

            .country-dropdown {
                height: 30px !important;
                width: 59px !important;

                .navbar-nav {
                    margin-bottom: 0px !important;

                    .nav-link {
                        padding: 5px 7px;
                    }

                    img {
                        margin-right: 7px !important;
                    }
                }
            }
        }

        .search-box {
            position: relative;

            .search {
                width: 77vw;
            }

            .search-icon {
                width: 39px;
                height: 39px;
            }
        }

        .logo-container {
            width: 24%
        }

        .sm-navbar {
            width: 74%;
            align-items: center;
            justify-content: end;

            .search-container-sm {
                align-items: center;
            }
        }
    }
}

@media(max-width:1500px) {

    .container-fluid {
        padding: 0px 30px;

        .offcanvas {
            .offcanvas-body {
                .list-item {
                    width: 62%;
                    margin-right: 3.188rem;
                }

            }

            .right-nav {
                width: 21%;
                margin-left: 02.625rem;
            }

            .search-box {
                position: relative;

                .search-icon {
                    width: 45px;
                    height: 45px;
                }
            }
        }

        .country-dropdown {
            height: 35px !important;
            width: 61px !important;

            .nav-item {
                width: 100%;
                height: 100%;

                .nav-link {
                    width: 100%;
                    height: 100%;
                    padding: 5px;

                    img {
                        width: 24px;
                        margin-right: 10px;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media(min-width:1201px) and (max-width:1400px) {
    .container-fluid {
        .logo-container {
            .navbar-brand {
                img {
                    width: 150px;
                }
            }
        }

        .offcanvas-body {
            .list-item {
                width: 100% !important;
                margin: 0px;

                .navbar-nav {
                    .nav-item {
                        font-size: 14px;
                        padding: 13px;
                    }
                }
            }
        }

        .right-nav {
            width: 35% !important;
        }
    }
}

@media(min-width:1501px) and (max-width:1675px) {
    .container-fluid {
        padding: 0px 30px;

        .offcanvas-body {
            .list-item {
                width: 57% !important;
                margin-right: auto !important;
            }

            .right-nav {
                width: 20%;
            }
        }
    }
}

@media(min-width:1676px) and (max-width:1919px) {
    .container-fluid {
        max-width: 1720px;
        margin-left: 3.313rem;
        margin-right: 3.313rem;

        .offcanvas-body {
            .list-item {
                width: 52% !important;
                margin-right: auto !important;
            }

            .right-nav {
                width: 21%;
            }
        }
    }
}

@media (min-width:1920px) {
    .container-fluid {
        margin-left: 6.313rem;
        margin-right: 6.313rem;
    }

    .offcanvas-body {
        .list-item {
            width: 50%;
        }
    }
}


::ng-deep.ng-select.ng-select-single .ng-select-container {
    height: 40px;
    background-color: #f5f5f5;
    border: none;
}

:ng-deep.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #000 !important;
}