<nav class="navbar navbar-expand-xl fixed-top bg-body-tertiary" style="z-index: 1000">
  <div class="container-fluid g-0">
    <div class="logo-container">
      <a class="navbar-brand" href="#">
        <img class="brand-logo" src="/assets/icons/brand-logo.svg" alt="brand-logo" />
      </a>
    </div>
    <div class="sm-navbar d-flex">
      <div class="search-container-sm d-flex">
        <div class="country-wrapper">
          <div class="country-dropdown">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" (click)="toggleDropdown($event)" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/assets/icons/united-states.svg" alt="us-flag" />
                </a>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item></button>
                </mat-menu>

                <!-- <span mat-button [matMenuTriggerFor]="menu">
                      Menu
                      <img src="/assets/Icon/arrow-down-sign-to-navigate.svg" alt="arrow" />
                  </span>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                  </mat-menu> -->
              </li>
            </ul>
          </div>
        </div>
        <div class="search-box">
          <div class="search-icon" (click)="handleSearchFiled()">
            <img src="/assets/icons/search-icon.svg" alt="search-icon" />
          </div>
          <div class="search row" [ngClass]="{
              'hide-search-field': !isSearchInputVisible,
              'show-search-Input': isSearchInputVisible
            }">
            <div class="search-input col">
              <ng-select [items]="post_category" bindLabel="name" placeholder="Category"
                [ngModelOptions]="{ standalone: true }" [(ngModel)]="selectedCategory" [searchFn]="customSearch"
                (change)="onCategoryChange()">
              </ng-select>
            </div>
            <div class="add-zipcode col">
              <div class="input-group">
                <AutocompleteComponent class="address-input" (setAddress)="getAddress($event)" adressType="geocode"
                  [value]="street">
                </AutocompleteComponent>
              </div>
            </div>
            <div class="search-btn col-1 g-0">
              <img src="/assets/icons/search-btn.svg" alt="search-btn" />
              <button class="btn search-btn-mobile" (click)="handleSearch()">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="custom-toggle">
          <img src="/assets/icons/menu-toggle.svg" alt="toggle" />
        </span>
      </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="list-item">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <span [routerLink]="['/']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Home</span>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [matMenuTriggerFor]="menucat">
              <span>Categories <i class="fa fa-caret-down" aria-hidden="true"></i></span>
              <mat-menu #menucat="matMenu">
                <button mat-menu-item routerLink="/business-categories">
                  Business Categories
                </button>
                <button mat-menu-item routerLink="/business-listing">
                  Business Listing
                </button>
              </mat-menu>
            </li>
            <!-- <li class="nav-item"  [routerLink]="['/business-categories']" [matMenuTriggerFor]="menucat">
              <span routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Categories <i
                  class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
              <mat-menu #menucat="matMenu">
                <button mat-menu-item>
                  <span [routerLink]="['/business-categories']">Business Categories</span>
                </button>
                <button mat-menu-item>
                  <span [routerLink]="['/business-listing']">Business Listing</span>
                </button>
              </mat-menu>
            </li> -->
            <li class="nav-item">
              <span [routerLink]="'/benefits-of-joining'" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Add a Business</span>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            [matMenuTriggerFor]="menuevent">
            <span>Blogs/News <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
            <mat-menu #menuevent="matMenu">
              <button mat-menu-item [routerLink]="['/events']">
                <span >User Blog</span>
              </button>
              <button mat-menu-item [routerLink]="['/add-event']">
                <span >Business Blogs</span>
              </button>
            </mat-menu>
          </li>






            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [matMenuTriggerFor]="menuevent">
              <span>Events <i class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
              <mat-menu #menuevent="matMenu">
                <button mat-menu-item [routerLink]="['/events']">
                  <span >All Events</span>
                </button>
                <button mat-menu-item [routerLink]="['/add-event']">
                  <span >Add Event</span>
                </button>
                <button mat-menu-item *ngIf="userRole == roles.businessOwner" [routerLink]="['/manage-profile/manage-events']">
                  <span >My Events</span>
                </button>
              </mat-menu>
            </li>
            <li class="nav-item">
              <span [routerLink]="['/contact-us']">Contact Us</span>
            </li>
          </ul>
        </div>

        <div class="country-wrapper small-screen-wrapper">
          <div class="country-dropdown">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link dropdown-toggle" (click)="toggleDropdown($event)" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/assets/icons/united-states.svg" alt="us-flag" />
                </a>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <span>Vietnamese</span>
                  </button>
                </mat-menu>

                <!-- <span mat-button [matMenuTriggerFor]="menu">
                        Menu
                        <img src="/assets/Icon/arrow-down-sign-to-navigate.svg" alt="arrow" />
                    </span>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu> -->
              </li>
            </ul>
          </div>
        </div>
        <div class="right-nav">
          <div class="search-box small-screen-search-box" (click)="handleClick($event)">
            <div class="search-icon" (click)="handleSearchFiled()">
              <img src="/assets/icons/search-icon.svg" alt="search-icon" />
            </div>
            <div class="search row" [ngClass]="{
                'hide-search-field': !isSearchInputVisible,
                'show-search-Input': isSearchInputVisible
              }">
              <div class="search-input col">
                <ng-select [items]="post_category" bindLabel="name" placeholder="Category"
                  [ngModelOptions]="{ standalone: true }" [(ngModel)]="selectedCategory" [searchFn]="customSearch"
                  (change)="onCategoryChange()">
                </ng-select>
              </div>
              <div class="add-zipcode col">
                <div class="input-group">
                  <!-- <span class="input-group-text" id="basic-addon1">
                    <img src="/assets/icons/location-icon.svg" alt="location-icon" />
                  </span> -->
                  <AutocompleteComponent class="address-input" (setAddress)="getAddress($event)" adressType="geocode"
                    [value]="street">
                  </AutocompleteComponent>
                </div>
              </div>
              <div class="search-btn col-1 g-0" (click)="handleSearch()">
                <img src="/assets/icons/search-btn.svg" alt="search-btn" />
              </div>
            </div>
          </div>

          <div class="btn-container">
            <div class="login-btn">
              <button data-bs-dismiss="offcanvas" type=" button" class="btn"
                (click)="isAuthenticated ? onLogout() : login()">
                {{ isAuthenticated ? 'Logout' : 'Login' }}
              </button>
              <!-- @if(isAuthenticated){
                <button type=" button" class="btn" (click)="onLogout()">
                  {{'Logout'}}
                </button>
              }@else {
                <button type=" button" class="btn" routerLink="/login">
                  {{'Login' }}
                </button>
              } -->

            </div>
            <div class="sign-up-btn">
              <button data-bs-dismiss="offcanvas" type="button" class="btn"
                (click)="isAuthenticated ? profile() : signup()">
                {{ isAuthenticated ? 'Profile' : 'Sign Up' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>