
<div class="container">
<!-- 
<div class="row">
  <div class="tabs">
     <p>All</p>
     <p>Business</p>
     <p>Archive</p>
  </div>
</div> -->
  <div class="content">
    <div class="row">
      <div class="header">
        <div class="row">
          <div class="d-flex">
            <div class="flex-grow-1 mt-2">
              <h1 class="notification-heading">Notifcations</h1>
            </div>
            <div class="ms-auto mt-3">
              <h1 class="mark-as-read">
                Mark All as Read <span> <mat-slide-toggle></mat-slide-toggle></span>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="tabs">
            <p>All</p>
            <p  (click)="onTabClick('business_listing')">Business</p>
            <p (click)="onTabClick('event_booking')">Event Booking</p>
            <p (click)="onTabClick('event_booking')">Subscription</p>
            <p (click)="onTabClick('event_booking')">Archive</p>
         </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="notification-list">
      @for(key of notificationArr ; track $index){
      <div class="notification-item">
        <div class="d-flex">
          <div>
            <ul>

              <li class="notification-description">
                <b>{{key?.title}}</b> {{key?.message}}
              </li>
              <!-- <li class="notification-time">1 hr ago</li> -->
            </ul>
          </div>
          <div class="ms-auto">
            <i class="fa fa-archive" aria-hidden="true" style="color:grey;cursor:pointer;margin-top:1rem" mat-raised-button
            matTooltip="Mark as archive"></i>
          </div>
        </div>

      </div>
    }
  

    </div>
  </div>
  </div>
</div>
