<p>notification-page works!</p>
<div class="container">
  <div class="row">
    <div class="header d-flex">
        <div class="flex-grow-1 mt-2">
          <h1 class="notification-heading">Notifcations</h1>
        </div>
        <div class="ms-auto mt-3">
          <h1 class="mark-as-read">
            Mark as all read <span> <mat-slide-toggle></mat-slide-toggle></span>
          </h1>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="notification-list">
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">1 hr ago</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">1 hr ago</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">1 hr ago</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">1 hr ago</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">1 hr ago</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">Now</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">Now</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">Now</li>
        </ul>
      </div>
      <div class="notification-item">
        <ul>
          <li class="notification-description">
            <b>Mark</b> has viewed your profile.
          </li>
          <li class="notification-time">Now</li>
        </ul>
      </div>
    </div>
  </div>
</div>
