/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/index";



html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.error-message {
    color: rgb(255, 32, 32);
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    /* Add any other styling properties as needed */
}

.swal2-popup.swal2-toast {
    padding: 10px !important;

}


.swal2-icon .sa-icon {
    width: 20px !important;
    height: 20px !important;
}