/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/index";


html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.swiper-wrapper {
    position: relative;
    width: fit-content !important;
    border: solid 1px red;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
}