/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/index";
@import "@ng-select/ng-select/themes/default.theme.css";
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
  display: none;
}

img {
  max-width: 100% !important;
  height: 100% !important;
}

.goog-te-gadget-icon {
  display: none !important;
}

.goog-te-gadget-simple {
  background-color: orange;
  border-left: 1px solid #eeeeee !important;
  border-top: 1px solid #eeeeee !important;
  border-bottom: 1px solid #eeeeee !important;
  border-right: 1px solid #eeeeee !important;
  font-size: 10pt;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 22px;
  z-index:99999
  // font-family: 'Roboto Slab';
}

.background_section {
  background: #FFFBF5;
  border-top: solid 1px rgba(16, 11, 11, 0.3294117647);
  overflow: hidden;
  padding: 35px;
}

.listing-info {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.images__ {
  position: relative;
}

.removeImage {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 18px;
}


.removeImage i {
  color: #ff9900;
  cursor: pointer;
}



.listing-heading h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

textarea {
  resize: none !important;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.error-message {
  color: rgb(255, 32, 32);
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  /* Add any other styling properties as needed */
}

.swal2-popup.swal2-toast {
  padding: 10px !important;
  font-size: 16px !important;

}


.swal2-icon .sa-icon {
  width: 20px !important;
  height: 20px !important;
}


//Ngx-intel-tel-input styling//

ngx-intl-tel-input.form-control {
  padding: 0 30px;
}

::ng-deep.dropdown-menu.show {
  height: 200px;
  overflow: auto;
}

.iti {
  position: relative;
  display: inline-block;
  width: 100%;
}

.iti__country-list {
  position: relative;
  border: none;
  height: 12em !important;
  overflow: auto !important;
  z-index: 0 !important
}

ngx-intl-tel-input input {
  height: 44px;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7cace;
  border-radius: 4px;
  font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
  box-shadow: none !important;
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: #3498db;
  box-shadow: none !important;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}

.dropdown-menu.country-dropdown.show.ng-star-inserted {
  z-index: 2 !important;
}

.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3 input,
.iti.separate-dial-code.iti--allow-dropdown.iti-sdc-4[_ngcontent-ng-c2982863745] input[_ngcontent-ng-c2982863745] {
  padding-left: 98px;
  font-weight: 400;
  font-size: 16px;
  z-index: 0;
  color: #000 !important;
}

@media(max-width:1500px) {

  html,
  body {
    font-size: 14px;
  }
}

@media(max-width:768px) {
  .enter-btn {

    margin-left: -27px;
  }

  html,
  body {
    font-size: 10px;
  }

  .iconDirection {
    position: absolute;
    right: -10rem;
    bottom: -11rem;
  }

  .event-page-heading {
    font-size: 20px;
    font-weight: bold;

  }

  .mySwiper {
    .image {
      position: relative;
      // width: 500px !important;
      // height: 200px;

      .verified-logo {
        position: absolute;
        // bottom: 0;
        right: 0;
        text-align: left;
        font-size: 12px;
        color: #ffff;
        // padding: 30px 24px 15px;
        transition: 1.2s;
        line-height: normal;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
      }

    }
  }

  // swiper-container {
  //   height: 281px;
  //   margin: 0px !important;
  // }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .iconDirection {
    display: none;
  }

  .cliam__ {
    width: 122px;
    padding: 9px;
  }

  .enter-btn {
    margin-left: -27px;
  }
}

@media (min-width: 1025px) and (max-width: 1388px) {
  .mySwiper {
    .image {
      position: relative;
      width: 100% !important;
    }
  }
}

@media (min-width: 1501px) and (max-width: 3000px) {
  .user-blog-detail-cnt {
    max-width: 100% !important;
    padding: 0 5em !important;
    width: 100% !important;
  }

  .mySwiper {
    .image {
      position: relative;
      width: 100% !important;
    }
  }

  .large_screen {
    max-width: 100% !important
  }

  .card-heading {
    width: 100%;
    width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blog-des {
    width: 100%;
  }

  .col-12.col-md-6.col-lg-6.col-xl-4.mt-3.mb-4.onlarge_screen {
    width: calc(100% - 75%) !important;
  }
}

@media (min-width: 3001px) and (max-width: 3840px) {
  .user-blog-detail-cnt {
    max-width: 100% !important;
    padding: 0 5em !important;
    width: 100% !important;
  }

  .image {
    height: 381px !important;
  }

  .mySwiper {
    .image {
      position: relative;
      width: 100% !important;
      height: 382px !important
    }
  }

  .list-layout-wrapper {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07);
    border: solid 1px #ebeaea;
    width: 100%;
    background: none;
    height: 42em !important;
    cursor: pointer;
    position: relative;
  }

  .large_screen {
    max-width: 100% !important
  }

  .card-heading {
    width: 100%;
    width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blog-des {
    width: 100%;
  }

  .col-12.col-md-6.col-lg-6.col-xl-4.mt-3.mb-4.onlarge_screen {
    width: calc(100% - 80%) !important;
  }
}

.cursor-pointer{
  cursor: pointer;
}