%homepage-banner-button-styles {
    height: 46px;
    border-radius: 4px;
    padding: 0 32px;
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.3s ease; // Added transition for transform

  }

  %call-to-action{
    width:fit-content;
    padding:0 26px;
    height: 46px;
    border-radius: 4px;
    background-color: var(--light-grey);
    color:var(--primary-color-mustard);
    font-size:16px;
    line-height: 27px;
    transition: background-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.3s ease; // Added transition for transform
  }

  %home-section-heading{
    font-size: 32px;
    font-weight: var(--font-weight-semibold);
    color:var(--dark-grey);
    text-align: center;
  }

