:root {
  /* Colors */
  --primary-color-orange: #FF9900;
  --primary-color-mustard:#FF9900;
  --primary-color-blue: #146EB4;
  --black: #000000;     
  --dark-grey: #232f3e;   
  --light-grey: #F2F2F2; 
  
    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}