// _colors.scss
:root {
    --primary-color-orange: #FF9900;
    --primary-color-blue: #146EB4;
    --grey-scale-1: #000000;
    --grey-scale-2: #232f3e;
    --grey-scale-3: #F2F2F2;
    // Add more color variables as needed
  }
  

