<section>
  <div class="container-fluid upcoming-container g-0">
    <div class="upcoming-description">
      <div class="heading">
        <h1>{{ homePageData?.events_section?.title }}</h1>
      </div>
      <div class="description">
        <p>
          {{ homePageData?.events_section?.description }}
        </p>
      </div>
      <div class="explore-btn">
        <button class="btn orange-background-btn" (click)="allEvent()">
          {{ homePageData?.events_section?.explore_more }}
        </button>
      </div>
    </div>
    <div class="upcoming-swiper row ">
      @for (key of eventsArray; track $index) {
        <div class='col-12 col-md-6 col-lg-4 py-3' >
          <div
          class="events-main-card "
          style='cursor: pointer;'
          (click)="gotToEventDetails(key?.post_id, true)"
          >
          <div class="image-cnt">
            @if (key?.featured_image?.[0]) {
              <img [src]="key?.featured_image[0]" />
            } @else {
              <img src="../../../../assets/image/no-image-new.jpeg" />
            }
          </div>
          <div class="mx-4">
            <h1 class="event-title" [innerHtml]="key?.post_title | truncateHtml:22">
              <!-- {{key?.post_title }} -->
            </h1>
            <p class="event-description" [innerHtml]="key?.post_content | truncateHtml:84">
              <!-- {{key?.post_content}} -->
            </p>
          </div>
        </div>
        </div>
      }
    </div>
  </div>
  <div class="new-collection-features container-fluid p-0 ">
    <div
      class="collection-description-wrapper d-flex justify-content-center align-items-center"
    >
    @if (collectionAd) {
      <swiper-container #collectionSwiperr class="mySwiper" init="false">
  
        @for (key of collectionAd; track $index) {
        <swiper-slide>
          <div class="banner-img" (click)="CountClickStats(key?.id,key?.space_id)"
            style="background-image: url({{key?.img}})">
            <div class="banner-text overlay ">
              <div class="infoo">
                <h3>{{key?.title}}</h3>
                <p>
                  {{ key.description.length > 230 ? (key.description.slice(0, 227) + '...') : key.description }}
                </p>
              </div>
              @if (key?.url) {
              <button class="btn orange-background-btn" (click)="getUrl(key?.url)">
                Explore
              </button>
              }
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>
  
      }
    </div>
  </div>
</section>
