<section>
  <div class="container-fluid g-0">
    <div class="upcoming-description">
      <div class="heading">
        <h1>{{eventContent?.events_section?.title}}</h1>
      </div>
      <div class="description">
        <p>
          {{eventContent?.events_section?.description}}
        </p>
      </div>
      <div class="explore-btn">
        <button class="btn orange-background-btn">{{eventContent?.events_section?.explore_more}}</button>
      </div>
    </div>
    <div class="upcoming-swiper row justify-content-around">
      <div class="events-main-card col-md-4 p-0">
        <div class="image-cnt">
          <img src="../../../../assets/image/events1.png" />
        </div>
        <div class="description d-flex">
          <div>
            <h3 class="month">APR</h3>
            <h3 class="date">14</h3>
          </div>
          <div class="mx-4">
            <h1 class="event-title">
              Wonder Girls 2010 Wonder Girls World Tour San Francisco
            </h1>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Ullamcorper turpis auctor
              suscipit aliquam hac auctor velit non in. Tincidunt eget elementum
              adi
            </p>
          </div>
        </div>
      </div>
      <div class="events-main-card col-md-4 p-0">
        <div class="image-cnt">
          <img src="../../../../assets/image/events1.png" />
        </div>
        <div class="description d-flex">
          <div>
            <h3 class="month">APR</h3>
            <h3 class="date">14</h3>
          </div>
          <div class="mx-4">
            <h1 class="event-title">
              Wonder Girls 2010 Wonder Girls World Tour San Francisco
            </h1>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Ullamcorper turpis auctor
              suscipit aliquam hac auctor velit non in. Tincidunt eget elementum
              adi
            </p>
          </div>
        </div>
      </div>
      <div class="events-main-card col-md-4 p-0">
        <div class="image-cnt">
          <img src="../../../../assets/image/events1.png" />
        </div>
        <div class="description d-flex">
          <div>
            <h3 class="month">APR</h3>
            <h3 class="date">14</h3>
          </div>
          <div class="mx-4">
            <h1 class="event-title">
              Wonder Girls 2010 Wonder Girls World Tour San Francisco
            </h1>
            <p class="event-description">
              Lorem ipsum dolor sit amet consectetur. Ullamcorper turpis auctor
              suscipit aliquam hac auctor velit non in. Tincidunt eget elementum
              adi
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="new-collection-features">
      <div class="collection-description-wrapper d-flex justify-content-center align-items-center">
        <div class="description">
          <p>
            Our new collection features all of this summer's on-trend colors!
            Make the world brighter with us!
          </p>
        </div>
        <div class="view-collection">
          <button class="btn orange-background-btn">view collection</button>
        </div>
      </div>
    </div>
  </div>
</section>