<div class="container">

<div class="row">
    <div class="col-12 col-md-12 col-lg-4">
        <div class="card" (click)="navigateOnSyncListing()">
            <img src="assets/icons/refinance-home.svg" alt="" />
        
            <p class="heading">Get cash from your home</p>
        
            <p class="desc">Apply to see how a cash out refinance can benefit you.</p>
          </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
        <div class="card" (click)="navigateTo('/calculator')">
            <img src="/assets/icons/single-family.svg" alt="" />
        
            <p class="heading">Home equity loan</p>
        
            <p class="desc">Your don't have to refinance to get cash.Connect with us to learn more.</p>
          </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
        <div class="card" (click)="navigateTo('/loan-application')">
            <img src="/assets/icons/researching.svg" alt="" />
        
            <p class="heading">See our home loans</p>
        
            <p class="desc">Explore the options. Get expert help deciding what's right for you.</p>
          </div>
    </div>
</div>
</div>