<div class="container-fluid">
  <div class="heading">
    <h1>Different Plans Available For Businesses</h1>
    <p>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Proin sodales ultrices nulla blandit volutpat.Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      curae; Proin sodales ultrices nulla blandit volutpat.
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="subscription-plan-cnt">
          <div class="plan-content">
            <div class="plan-header">
              <h2>Basic Plan</h2>
              <div class="d-flex align-items-center">
                <div>
                  <h1>$ 2.99</h1>
                </div>
                <div class="ml-2">
                  <span>/yearly subscription</span>
                </div>
              </div>
            </div>
            <div class="plan-list">
              <ul>
                <li><span class="tick-icon"></span> Register 1 Member</li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li><span class="tick-icon"></span> Unlimited Notifications</li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li><span class="tick-icon"></span> Ipsum primis in fac</li>
                <li>
                  <span class="tick-icon"></span> Free User Limited Access
                </li>
                <li><span class="tick-icon"></span> Upgrade to Premium Plan</li>
              </ul>
            </div>
            <div class="plan-action">
              <button class="btn orange-backgroun-btn">Get Started</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="subscription-plan-cnt">
          <div class="plan-content">
            <div class="ribbon">
              <span>Popular</span>
            </div>
            <div class="plan-header">
              <h2>Family Premium Sharing Plan</h2>
              <div class="d-flex align-items-center">
                <div>
                  <h1>$ 4.99</h1>
                </div>
                <div class="ml-2">
                  <span>/yearly subscription</span>
                </div>
              </div>
            </div>
            <div class="plan-list">
              <ul>
                <li><span class="tick-icon"></span> Register 1 Member</li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li><span class="tick-icon"></span> Unlimited Notifications</li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li><span class="tick-icon"></span> Ipsum primis in fac</li>
                <li>
                  <span class="tick-icon"></span> Free User Limited Access
                </li>
                <li><span class="tick-icon"></span> Upgrade to Premium Plan</li>
              </ul>
            </div>
            <div class="plan-action">
              <button class="btn orange-backgroun-btn">Get Started</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="subscription-plan-cnt">
          <div class="plan-content">
            <div class="plan-header">
              <h2>Family Enterprise Plan</h2>
              <div class="d-flex align-items-center">
                <div>
                  <h1>$ 7.99</h1>
                </div>
                <div class="ml-2">
                  <span>/yearly subscription</span>
                </div>
              </div>
            </div>
            <div class="plan-list">
              <ul>
                <li><span class="tick-icon"></span> Register upto 5 Member</li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li><span class="tick-icon"></span> Unlimited Notifications</li>
                <li><span class="tick-icon"></span> 24/7 Customer Support</li>
                <li>
                  <span class="tick-icon"></span> Ipsum primis in facbus at ut
                </li>
                <li><span class="tick-icon"></span> Ipsum primis in fac</li>
                <li>
                  <span class="tick-icon"></span> Free User Limited Access
                </li>
                <li><span class="tick-icon"></span> Upgrade to Premium Plan</li>
              </ul>
            </div>
            <div class="plan-action">
              <button class="btn orange-backgroun-btn">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
