<div class="container-fluid">
    <div class="sale-cnt">

 
    <div class="row">
        <div class="col-6">
            <img src="/assets/icons/sale.svg" width="100%" height="100%"/>
        </div>
        <div class="col-6 m-auto">
           <div class="sale">
            <img src="/assets/icons/sale-text.svg"/>
            <p class="off text-end">UP TO 50% OFF</p>
            <span class="decsription">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin s</span>
           </div>
        </div>
    </div>
</div>
</div>