@import "../../../../assets/scss/common";


section {
    background-color: #F6F6F7;
}

.container-fluid {
    padding: 6rem 6.25rem;

    .testimonial-info {


        .heading {
            h1 {
                @extend %sh-styles;
                font-family: 'Roboto';
            }
        }

        .description {
            width: 61%;
            margin: 0 auto 1px auto;

            p {
                @extend %ssh-styles;
                font-family: 'Roboto';
            }

        }

        .submit-testimonial {
            display: flex;
            justify-content: center;

            .btn {
                padding: 12px;
            }

            .btn:hover {
                color: var(--primary-color-orange);
                border: 1px solid #F89705;
                background-color: var(--white);
            }
        }
    }
}

.swiper-testimonial {
    height: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-container {
    width: 100%;
    height: 38rem;
    margin: 20px auto;

    .card {
        border-radius: 10px;
        border: 1px solid #EBEBEB;
        background: #FFF;
        width: 522px;


        .card-body {
            .rating {
                padding: 3.75rem 3.875rem 1.125rem;
                text-align: left;
                display: flex;

                .rating-svg {
                    margin-right: 0.313rem;
                }
            }

            .description {
                padding: 1.875rem 3.875rem 1.125rem;
                font-size: 16px;
                color: var(--dark-grey);
                text-align: left;
            }

            .footer {
                display: flex;
                padding: 3rem 2.75rem;

                .profile {
                    width: 71px;
                    height: 71px;
                    margin-right: 1.813rem;
                }

                .user-info {
                    font-size: 14px;
                    color: var(--dark-grey);

                    p {
                        font-size: 14px;
                        color: #666;
                    }
                }
            }
        }
    }
}

swiper-container::part(bullet-active) {
    background-color: #F89705;
    width: 28px;
    height: 13.94px;
    border-radius: 10px;
}

swiper-container::part(bullet) {
    width: 13.94px;
    height: 13.94px;
    border-radius: 50%;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

@media (max-width:768px) {
    .swiper-testimonial {
        padding-bottom: 2.625rem;
    }

    .card-body {
        .footer {
            padding: 1.75rem 2.75rem !important;
        }
    }
}

@media (max-width:1500px) {
    swiper-container {
        width: 100%;
        height: 38rem;
    }
}