<section>
  <div class="container-fluid">
    <div class="testimonial-info">
      <div class="heading">
        <h1>Testimonials</h1>
      </div>
      <div class="description">
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia curae; Proin sodales ultrices nulla blandit
          volutpat.Vestibulum ante ipsum primis in faucibus orci luctus et
          ultrices posuere cubilia curae; Proin sodales ultrices nulla blandit
          volutpat.
        </p>
      </div>
      <div class="submit-testimonial">
        <button class="btn orange-background-btn">Submit a Testimonial</button>
      </div>
    </div>
    <div class="swiper-testimonial">
      <swiper-container #swiperDemo class="mySwiper" init="false">
        @for (item of testimonialData; track $index) {
        <swiper-slide>
          <div class="card">
            <div class="card-body">
              <div class="rating">
                @for (r of returnCount(item.rating); track $index) {
                <div class="rating-svg">
                  <img src="/assets/image/orange-star.svg" alt="rating" />
                </div>
                }
              </div>
              <div class="description">
                <p>{{ item.description }}</p>
              </div>
              <div class="footer">
                <div class="profile">
                  <img [src]="item.userProfile" alt="user-image" />
                </div>
                <div class="user-info">
                  <h5>{{ item.userName }}</h5>
                  <p>{{ item.userCountry }}</p>
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</section>