@import "../../../../assets/scss/common";


section {
    background-color: #F6F6F7;
}

.container-fluid {
    padding: 6rem 6.25rem;

    .testimonial-info {


        .heading {
            h1 {
                @extend %sh-styles;
                font-family: 'Roboto';
            }
        }

        .description {
            width: 61%;
            margin: 0 auto 1px auto;

            p {
                @extend %ssh-styles;
                font-family: 'Roboto';
            }

        }

        .submit-testimonial {
            display: flex;
            justify-content: center;

            .btn {
                padding: 12px;
            }

            .btn:hover {
                color: var(--primary-color-orange);
                border: 1px solid #F89705;
                background-color: var(--white);
            }
        }
    }
}

.swiper-testimonial {
    height: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-container {
    width: 100%;
    height: 100%;
    margin: 20px auto;

    .card {
        border-radius: 10px;
        border: 1px solid #EBEBEB;
        background: #FFF;
        // width: 522px;
        width: 100%;


        .card-body {
            .rating {
                padding: 3.75rem 3.875rem 1.125rem;
                text-align: left;
                display: flex;

                .rating-svg {
                    margin-right: 0.313rem;
                }
            }

            .description {
                padding: 1.875rem 3.875rem 1.125rem;
                font-size: 16px;
                color: var(--dark-grey);
                text-align: left;
            }

            .footer {
                display: flex;
                padding: 3rem 2.75rem;

                .profile {
                    width: 71px;
                    height: 71px;
                    margin-right: 1.813rem;
                }

                .user-info {
                    font-size: 14px;
                    color: var(--dark-grey);

                    p {
                        font-size: 14px;
                        color: #666;
                    }
                }
            }
        }
    }
}

swiper-container::part(bullet-active) {
    background-color: #F89705;
    width: 28px;
    height: 13.94px;
    border-radius: 10px;
}

swiper-container::part(bullet) {
    width: 13.94px;
    height: 13.94px;
    border-radius: 50%;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

@media (max-width:768px) {
    .container-fluid {
        padding: 4.2rem 2.2rem;

        .testimonial-info {
            .description {
                width: 100%;
                margin-bottom: 2.4rem;

                p {
                    padding: 0px;
                }
            }

            .submit-testimonial {
                .btn {
                    padding: 12px;
                    font-size: 1.6rem;
                }
            }
        }
    }

    .swiper-testimonial {
        padding-bottom: 2.625rem;

        .mySwiper {
            padding: 20px 10px;
        }
    }

    .card-body {
        .footer {
            padding: 1.75rem 2.75rem !important;
        }
    }

    swiper-container {
        width: 100% !important;
        height: 100% !important;
    }

    swiper-container::part(button-next) {
        color: #F89705 !important;
        right: -2.4rem !important;
        width: 35px !important;
        height: 35px !important;
    }

    swiper-container::part(button-prev) {
        color: #F89705 !important;
        left: -2.4rem !important;
        width: 35px !important;
        height: 35px !important;
    }
}

@media (max-width:1500px) {
    swiper-container {
        width: 100%;
        height: 100%;
    }
}

swiper-container::part(button-next) {
    color: #F89705 !important;
    right: -4rem;

}

swiper-container::part(button-prev) {
    color: #F89705 !important;
    left: -4rem;

}

swiper-container::part(container) {
    position: initial;
}

// @media (min-width:2560px) {
//     swiper-container {
//         .card {
//             width: 700px;
//         }
//     }
// }