@import "../../../../assets/scss/common.scss";
@import "../../../../assets/scss/banner";

.container-fluid {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.875rem;


    .search {
        margin-bottom: 1.875rem;
        padding: 0.625rem;

        .search-input {
            width: 100%;
            height: 100%;


            .input-group {

                .input-group-text,
                .form-control {
                    background-color: var(--light-grey);
                    border: none;
                }

            }

        }

        .add-zipcode {
            .input-group {

                .input-group-text,
                .form-control {
                    background-color: var(--light-grey);
                    border: none;
                }

            }
        }

        .search-btn {
            margin-bottom: 1.25rem;

            .btn {
                background-color: var(--primary-color-orange);

                i {
                    color: var(--white);
                }
            }
        }
    }

    .lisiting-container {
        padding: 0.625rem;

        .layout-icon {
            .grid-layout-icon {
                padding: 11.5px 12px;
                border: 1px solid #f2f2f2;
                margin-right: 10px;
                cursor: pointer;
            }

            .list-layout-icon {
                padding: 11.5px 12px;
                border: 1px solid #f2f2f2;
                cursor: pointer;
            }

            .active-layout {
                border: 1px solid #146eb4;

                mat-icon {
                    color: #146eb4;
                }
            }
        }

        .view-container {
            padding-top: 1.25rem;

            .grid-card {
                margin-bottom: 1.5rem;

                .listing-img {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-right-radius: 4px;
                        border-top-left-radius: 4px;
                    }
                }

                .listing-description {
                    padding: 1.25rem;
                    color: #232f3e;

                    .listing-heading {
                        margin-bottom: 0.5rem;

                        h3 {
                            font-size: 1.25rem;
                        }
                    }

                    .listing-info {
                        font-size: 1rem;
                    }

                    .listing-rating {
                        padding: 1.25em 0rem;
                    }
                }
            }

            .list-view-container {
                width: 100%;
                height: 100%;

                .d-flex {
                    margin-bottom: 1.875rem;
                }

                .listing-img-container {
                    width: 29%;

                    .listing-img {

                        img {
                            border-top-right-radius: 4px;
                            border-top-left-radius: 4px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                }

                .listing-img-info {
                    width: 71%;
                    padding: 1.25rem;
                    color: #232f3e;

                    .listing-heading {
                        h3 {
                            font-size: 1.25rem;
                        }
                    }

                    .listing-rating {
                        padding: 0.625rem;
                    }
                }
            }
        }
    }

}

@media(max-width: 766px) {

    .search {
        flex-direction: column;

        .search-input {
            width: 100%;
            margin-bottom: 0.625rem;
        }

        .add-zipcode {
            width: 100%;
            margin-bottom: 0.625rem;
        }

        .search-btn {
            margin-bottom: 0.625rem;
            width: 100%;
            padding: 0rem 0.75rem;

            .btn {
                width: 100%;
            }
        }
    }

    .view-container {
        .list-view-container {
            .small-screen-view {
                flex-direction: column;

                .listing-img-container {
                    width: 100% !important;
                }

                .listing-img-info {
                    width: 100% !important;
                }
            }
        }
    }
}