<div class="container-fluid g-0">
  <section class="banner top-banner">
    <div class="content">
      <h1>Claim Business</h1>
    </div>
  </section>

  <form [formGroup]="claimBusinessForm">
    <div class="container">
      @if (!claimedStatus || claimedStatus == 'rejected') {
      <div class="form-cnt">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center form-heading">Claim Business</h1>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="form-group">
            <input class="input-control" formControlName="listing_title" type="text" placeholder="Listing Title"
              appFormControlValidation [validationMsgId]="'list-name-msg'" />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input class="input-control" formControlName="full_name" type="text" placeholder="Full name"
              appFormControlValidation [validationMsgId]="'full-name-msg'" />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <input class="input-control" type="email" formControlName="email" placeholder="Email" />
            @if (
            claimBusinessForm.get('email')?.touched &&
            claimBusinessForm.get('email')?.hasError('required')
            ) {
            <span class="error-message">Email is required</span>
            }
            @if (claimBusinessForm.get('email')?.hasError('pattern')) {
            <span class="error-message">Enter valid email</span>
            }
          </div>
        </div>

        <ngx-intl-tel-input [cssClass]="'input-control'" formControlName="phone_number"
          [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
          [searchCountryFlag]="true" [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [phoneValidation]="true"
          [separateDialCode]="true" [numberFormat]="PhoneNumberFormat.National" name="phone">

        </ngx-intl-tel-input>

        <div class="col-12 mt-3">
          <div class="form-group">
            <input class="input-control" type="text" [formControl]="position_business"
              placeholder="Position in Business" />
          </div>
        </div>
        <div class="col-12">
          <label style="padding-bottom: 5px;">Upload verification documents <span class="asterik">*</span></label>
          <div class="form-group">
            <ngx-dropzone (change)="onSelectImage($event)" [accept]="'.pdf,.doc,.docx'">
              <ngx-dropzone-label *ngIf="!isImageUploading"><i class="fa fa-upload" aria-hidden="true"></i> Drap and
                Drop here
                or Browse a file (Allowed .pdf , .docx, .doc)</ngx-dropzone-label>
              <div *ngIf="isImageUploading" class="loader"></div>
            </ngx-dropzone>
          </div>
          <div>
            @if ( this.imageUrl) {
            <p>{{ this.imageUrl }}</p>
            }
          </div>
        </div>
        <div class="col-12">
          <button class="btn orange-background-btn-w-100" type="submit"
            [disabled]="!claimBusinessForm.valid || !this.imageUrl" (click)="handleClaimBusiness()">
            Submit
          </button>
        </div>
      </div>
      } @else {
      <div class="claim-successful">
        <div class="heading">
          <h2>Thank You!</h2>
        </div>
        <div class="description">
          <p>Thank you for successfully claiming the business! Your efforts are greatly appreciated. We'll keep you
            updated via email.</p>
        </div>
        <div class="button-wrapper">
          <button class=" btn back-btn" (click)="goToLisiting()">Back To Lisiting Page</button>
        </div>
      </div>
      }
    </div>
  </form>
</div>