<div
  class="service-card-container"
  [style.backgroundImage]="'url(' + bgImg + ')'"
>
  <div class="title-container">
    <h1>{{ title }}</h1>
    <span> {{ subTitle }} </span>
  </div>

  <div class="card-container row">

    @for (item of cardData; track $index) {
      <div class="service-card col-xl-6 col-12 ">
        <div class="img-container">
          <img src="/assets/image/pfp.png" alt="" />
        </div>
        <div class="card-infoo">
          <p class='card-titlee'>Suman Kumar</p>
          <p>
            {{
              textHelperService.truncated("Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ratione maxime esse.",84)
            }}
          </p>
          <p class='phone' > +91 8787878989</p>
          <button>View Profile</button>
        </div>
      </div>
    }
    <div class="d-flex">
      <button class='view-more-btn' >
        View More
      </button>
    </div>

  </div>
</div>
