<div class="content" style="margin-top:14em ; margin-bottom:12em">
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Thank you !</h1>
        <p>Thank you for securing your spot at the event!</p>
        <p>you should receive a confirmation email soon  </p>
        <button class="go-home" (click)="goTomanageProfle()">
        go to dashboard
        </button>
      </div>
  </div>
  </div>
  
  
  
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">