<section class="banner">
  <div class="content">
    <h1>Showcase Your Business</h1>
  </div>
</section>
<div class="container my-5">
  <div class="main-card">
    <div>
      <ul id="buddy-gsf-progressbar">
        <li class="active">
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Business Information</strong>
        </li>
        <li [ngClass]="businessFormDetails?.business_email ? 'active' : ''">
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Subscriptions &amp; Verification</strong>
        </li>
        <li [ngClass]="businessFormDetails?.twitter ? 'active' : ''">
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Business Bio</strong>
        </li>
        <li [ngClass]="businessFormDetails?.special_offers ? 'active' : ''">
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Booking and Consultation</strong>
        </li>
        <li>
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Events and promotions</strong>
        </li>
      </ul>
    </div>
    <form [formGroup]="businessInfoForm">
      <!-- <section class="my-4">
        <div class="row">
          <div class="col-12">
            <h1 class="listing-form-heading">Your Details</h1>
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label">Name <span class="asterik">*</span></label>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input class="input-control" placeholder="Enter your name" />
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label">Email <span class="asterik">*</span></label>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input class="input-control" placeholder="Enter your email" />
          </div>
        </div>
      </section> -->

      <section class="my-4">
        <div class="row">
          <div class="col-12">
            <h1 class="listing-form-heading">Business Information</h1>
          </div>
        </div>
        <!-- <div class="row my-4 px-2 align-items-center">
        <div class="col-12 col-md-12 col-lg-4">
          <label for="name" class="listing-form-label"
            >Package <span class="asterik">*</span></label
          >
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1"
              >Free Business: number of publish days are unlimited
              (Free)</mat-radio-button
            >
            <mat-radio-button value="2"> Paid</mat-radio-button>
          </mat-radio-group>
        </div>
      </div> -->
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Business Title <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              formControlName="post_title"
              placeholder="Enter the title of your business"
            />
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Business Description <span class="asterik">*</span>
            </label>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <textarea
              name=""
              id=""
              cols="30"
              rows="6"
              placeholder="Enter the business description"
              formControlName="post_content"
            ></textarea>
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Category <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-select
              (selectionChange)="onCategoryChange()"
              class="vietlist-select"
              placeholder="Category"
              formControlName="post_category"
              multiple
            >
              @for (key of post_category; track $index) {
                <mat-option [value]="key.id">{{ key.name }}</mat-option>
              }
            </mat-select>
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Default Category <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-select
              class="vietlist-select"
              placeholder="Default Category"
              formControlName="default_category"
            >
              @for (key of selectedDefaultCategories; track $index) {
                <mat-option [value]="key.id">{{ key.name }}</mat-option>
              }
            </mat-select>
            <small class="form-text text-muted d-block"
              >The default category can affect the listing URL and map
              marker.</small
            >
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Tags<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <ng-select
              class="select2-selection"
              [items]="post_tags"
              bindLabel="name"
              bindValue="id"
              [multiple]="true"
              placeholder="Select Tags"
              [(ngModel)]="tags"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="onTagSelectionChange()"
            >
            </ng-select>
            <small class="form-text text-muted d-block"
              >Tags are short keywords, with no space within.(eg: tag1, tag2,
              tag3).</small
            >
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Address<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <AutocompleteComponent
              (setAddress)="getAddress($event)"
              adressType="geocode"
              [value]="street"
            ></AutocompleteComponent>
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Country<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Choose a country..."
              [(ngModel)]="country"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Region<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Select region or type a new one"
              [(ngModel)]="state"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >City<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Select city or type a new one"
              [(ngModel)]="city"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Zip/Post Code<span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              type="text"
              placeholder="Enter zip code"
              [(ngModel)]="zipcode"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="row my-4 px-2">
          <div id="map" style="height: 450px; width: 100%"></div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Address Latitude <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              [(ngModel)]="latitude"
              [ngModelOptions]="{ standalone: true }"
              readonly
            />
          </div>
        </div>

        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Address Longitude <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              [(ngModel)]="longitude"
              [ngModelOptions]="{ standalone: true }"
              readonly
            />
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label">Map View</label>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <mat-select
              class="vietlist-select"
              placeholder="Select Map View"
              formControlName="mapview"
              (selectionChange)="changeMapView()"
            >
              <mat-option value="default">Default View</mat-option>
              <mat-option value="satellite">Satellite Map</mat-option>
              <mat-option value="hybrid">Hybrid Map</mat-option>
              <mat-option value="terrain">Terrain Map</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Contact Details <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <ngx-intl-tel-input
              [cssClass]="'input-control'"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.India"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="true"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="contact_phone"
            >
            </ngx-intl-tel-input>
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label"
              >Business email <span class="asterik">*</span></label
            >
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              formControlName="business_email"
              placeholder="Enter the business email"
            />
            @if (
              businessInfoForm.get('business_email')?.touched &&
              businessInfoForm.get('business_email')?.hasError('required')
            ) {
              <span class="error-message">Email is required</span>
            }
            @if (businessInfoForm.get('business_email')?.hasError('pattern')) {
              <span class="error-message">Enter valid email</span>
            }
          </div>
        </div>
        <div class="row my-4 px-2 align-items-center">
          <div class="col-12 col-md-12 col-lg-4">
            <label class="listing-form-label">Website Url</label>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <input
              class="input-control"
              placeholder="Enter the website url"
              formControlName="website"
            />
          </div>
        </div>
        <div class="row px-2 my-3">
          <div class="col-12">
            <label for="" class="listing-form-label mb-2">Business Logo</label>
            <ngx-dropzone (change)="onSelectImage($event)"  
            (change)="onSelect($event)"
            [accept]="'.png,.png,.png , .webp , .jpeg , .jpg'">
              <ngx-dropzone-label
                ><i class="fa fa-upload" aria-hidden="true"></i> Drag and Drop
                here or Browse a file (Allowed .png, .png, .png, .jpeg , .jpg.
                .webp)</ngx-dropzone-label
              >
            </ngx-dropzone>
      
            <div class="main_images mt-3">
              @for (preview of imagePreviews; track $index) {
                <div class="images__" *ngIf="preview">
                  <img [src]="preview" alt="Image Preview" width="150" height="150" />
                </div>
              }
            </div>
            <!-- <div class="row selected-images" *ngIf="isFilesPresent">
              <div class="mx-2">
                <div class="image-box">
                  <img [src]="uploadMediaUrl" />
                  <button
                    (click)="onRemove()"
                    class="btn orange-background-btn mt-2"
                  >
                    Remove
                  </button>
                </div>
              </div>
              <app-loader *ngIf="!uploadMediaUrl"></app-loader>
            </div> -->

            <!-- <div class="row selected-images" *ngIf="files.length > 0">
                <div *ngFor="let file of files" class="mx-2">
                  <div class="image-box">
                    <img [src]="uploadMediaUrl" />
                    <button (click)="onRemove(file)" class="btn orange-background-btn mt-2">Remove</button>
                  </div>
                </div>
                <app-loader *ngIf="!uploadMediaUrl"></app-loader>
            </div> -->
          </div>
        </div>
        <div style="width: 100%; text-align: end">
          <button
            type="button"
            class="btn orange-background-btn ms-auto"
            [disabled]="
              !businessInfoForm.valid ||
              !country ||
              !zipcode ||
              !state ||
              !city ||
              !tags
            "
            (click)="addBusiness()"
          >
            <app-loader *ngIf="isloader"></app-loader
            ><span *ngIf="!isloader">Next</span>
          </button>
        </div>
      </section>
    </form>

    @if (businessFormDetails?.business_email) {
      <section>
        <app-subscription-form
          (formSubmit)="getBusinessFormDetails(postId)"
          [subscriptionData]="businessFormDetails"
        ></app-subscription-form>
      </section>
    }
    @if (businessFormDetails && businessFormDetails?.twitter) {
      <section class="my-4">
        <app-business-bio
          (buinessFormSubmit)="getBusinessFormDetails(postId)"
          [businessbioData]="businessFormDetails"
        ></app-business-bio>
      </section>
    }
    <!-- @if (businessFormDetails && businessFormDetails?.owner_name) { -->
      <section class="my-4">
        <app-consultation-form
          (consultationFormSubmit)="getBusinessFormDetails(postId)"
          [consultationData]="businessFormDetails"
        ></app-consultation-form>
      </section>
    <!-- } -->

    @if (businessFormDetails && businessFormDetails?.special_offers) {
    <app-promotions-form ></app-promotions-form>
    }
    <!-- @if (businessFormDetails && businessFormDetails?.owner_name) { -->
    <!-- <section class="my-4">
      <app-consultation-form (fornSubmit)="getBusinessFormDetails(postId)"
        [consultationData]="businessFormDetails"></app-consultation-form>
    </section> -->
    <!-- } -->
    <!-- <section class="my-4">
      <app-consultation-form></app-consultation-form>
    </section>
    <section class="my-4">
      <app-promotions-form></app-promotions-form>
    </section> -->
  </div>
</div>
