<section class="banner">
  <div class="content">
    <h1>Showcase Your Business</h1>
  </div>
</section>
<div class="container my-5">
  <div class="main-card">
    <div>
      <ul id="buddy-gsf-progressbar">
        <li class="active">
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Business Information</strong>
        </li>
        <li>
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Subscriptions &amp; Verification</strong>
        </li>
        <li>
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Business Bio</strong>
        </li>
        <li>
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Booking and Consultation</strong>
        </li>
        <li>
          <span><i class="fa fa-step-forward" aria-hidden="true"></i></span
          ><strong>Events and promotions</strong>
        </li>
      </ul>
    </div>
    <form [formGroup]="businessInfoForm"></form>
    <section class="my-4">
      <div class="row">
        <div class="col-12">
          <h1 class="listing-form-heading">Your Details</h1>
        </div>
      </div>
      <div class="row my-3 px-2">
        <div class="col-12 col-md-12 col-lg-4">
          <label class="listing-form-label"
            >Name <span class="asterik">*</span></label
          >
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <input class="input-control" placeholder="Enter your name" />
        </div>
      </div>
      <div class="row my-3 px-2">
        <div class="col-12 col-md-12 col-lg-4">
          <label class="listing-form-label"
            >Email <span class="asterik">*</span></label
          >
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <input class="input-control" placeholder="Enter your email" />
        </div>
      </div>
    </section>

    <section class="my-4">
      <div class="row">
        <div class="col-12">
          <h1 class="listing-form-heading">Business Information</h1>
        </div>
      </div>
      <div class="row my-3 px-2">
        <div class="col-12 col-md-12 col-lg-4">
          <label for="name" class="listing-form-label"
            >Package <span class="asterik">*</span></label
          >
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1"
              >Free Business: number of publish days are unlimited
              (Free)</mat-radio-button
            >
            <mat-radio-button value="2"> Paid</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row my-3 px-2">
        <div class="col-12 col-md-12 col-lg-4">
          <label class="listing-form-label"
            >Business Title <span class="asterik">*</span></label
          >
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <input
            class="input-control"
            placeholder="Enter the title of your business"
          />
        </div>
      </div>
      <div class="row my-3 px-2">
        <div class="col-12 col-md-12 col-lg-4">
          <label class="listing-form-label"
            >Business Description <span class="asterik">*</span>
          </label>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <textarea
            name=""
            id=""
            cols="30"
            rows="6"
            placeholder="Enter the business description"
          ></textarea>
        </div>
      </div>
      <div class="row my-3 px-2">
        <div class="col-12 col-md-12 col-lg-4">
          <label class="listing-form-label"
            >Category <span class="asterik">*</span></label
          >
        </div>
        <div class="col-12 col-md-12 col-lg-8">
          <mat-select class="vietlist-select" placeholder="Category">
            <mat-option value="retail">Retail</mat-option>
            <mat-option value="restaurant">Restaurant</mat-option>
            <mat-option value="restaurant">Service</mat-option>
          </mat-select>
        </div>
      </div>

      <div style="width:100%;text-align:end">
        <button type="button" class="btn orange-background-btn ms-auto">Next</button>
      </div>
    </section>  

    <section>
      <app-subscription-form></app-subscription-form>
    </section>
    <section class="my-4">
      <app-business-bio></app-business-bio>
    </section>
    <section class="my-4">
      <app-consultation-form></app-consultation-form>
    </section>
  </div>
</div>
