@import "../../../assets/scss/common";
.container-fluid{
    h1{
        @extend %sh-styles;
    }

    p{
        @extend  %ssh-styles
    };

    .heading{
      @extend %shm-styles
    }
  }
  .brand-slider {
    display: flex;
    overflow: hidden;
  }
  
  .brand-item {
    margin-right: 20px;
    transition: margin-right 0.5s;
  }
  
  
  